Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor(ocpp): use iterateConnectors() in OCPP 1.6 incoming request service
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SmartCharging.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): clone the retained creation options
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

test(charging-station): cover identity retention across a reset
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
Due: none

refactor(charging-station): pass closeWSConnection intent via an options object
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(charging-station): cover the onClose reconnect decision
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
Due: none

docs(charging-station): harmonize reconnect terminology and tighten close comments
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use iterateConnectors() in OCPP 1.6 incoming request service (#2015)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SmartCharging.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): re-dial after a server-initiated connection close (#2021)
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): re-apply retained options on reset only when non-persistent
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): factor setSupervisionUrl credential updates into a helper
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

test(charging-station): cover OCPP-config supervision URL retention across reset
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
Due: none

refactor(charging-station): rename reinitialization getter and fix its mirror comment
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

test(charging-station): add a genuine OCPP-config supervision-URL reload guard
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
Due: none

docs(charging-station): tighten the setSupervisionUrl mirror comment
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): retain creation options so a reset keeps station identity (#2019)
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): reject charging profiles by EVSE existence, not EVSE count (#2022)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): clone template OCPP configuration to isolate non-persistent stations (#2024)
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-ConfigurationTemplateIsolation.test.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): reject charging profiles by EVSE existence and isolate non-persistent station configuration (#2022, #2024) (#2025)
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ChargingStation-ConfigurationTemplateIsolation.test.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): complete broadcast requests by target set and reconcile on station deletion (#2018)
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  tests/charging-station/ui-server/UIServerTestConstants.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): make UI broadcast-channel commands complete reliably (#2018) (#2020)
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/Constants.ts
  tests/charging-station/ui-server/UIServerTestConstants.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-17-2319-EF77 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-17_231940_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-17_231940_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-17_231940_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-17-2319-EF77 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-17_231940_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 07-17-2319-EF77 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: report 07-17-2319-EF77 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(charging-station): cancel a pending reset when the station is deleted (#2027)
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-ResetCancellation.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): dedup duplicate station identity on add (#2026)
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): discriminate station identity by (templateName, templateIndex) (#2026)
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): cancel a pending reset when the station is deleted (#2027) (#2031)
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-ResetCancellation.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): dedup duplicate station identity on add (#2026) (#2032)
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): reject reused in-flight WebSocket request ids (#2029)
  src/charging-station/ui-server/UIWebSocketServer.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): harden in-flight duplicate rejection send
  src/charging-station/ui-server/UIWebSocketServer.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): fail parseSentResponse with a descriptive assertion
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: none

test(ui-server): reuse shared UI-server test helpers and constants
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: none

ghrs: snap 07-18-2320-DD17 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-18_232030_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-18_232030_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-18_232030_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-18-2320-DD17 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-18_232030_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-18-2320-DD17 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ui-server): reject reused in-flight WebSocket request ids (#2029) (#2033)
  src/charging-station/ui-server/UIWebSocketServer.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): use isEmpty for outstanding-hashid checks
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): extract releaseRequest for broadcast request release
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): lift requestHandler into base template method
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestService-CallChain.test.ts
Due: prettier --cache --write, eslint --cache --fix
