Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

ghrs: vc agg 05-17-2322-EEAE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-17_232251_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-17-2322-EEAE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(sandcastle): resolve TDZ in strategies/index.ts module init
  .sandcastle/strategies/index.ts
Due: none

chore(ci): remove obsolete sandcastle cutover note
  .github/workflows/sandcastle.yml
Due: prettier --cache --write

chore(sandcastle): drop "(Prettier handles it)" parenthetical from critic prompt
  .sandcastle/strategies/implement/critic-prompt.md
Due: prettier --cache --write

refactor(bootstrap): factorize UI server start/stop logic
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 05-18-2327-82A2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-18_232714_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-18_232714_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-18_232714_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-18-2327-82A2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-18_232714_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-18-2327-82A2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: ignore .omo/ directory
  .gitignore
Due: none

ghrs: snap 05-19-2329-DFC1 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-19_232908_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-19_232908_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-19_232908_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-19-2329-DFC1 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-19_232908_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-19-2329-DFC1 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(sandcastle): add multi-critic ensemble types and constants
  .sandcastle/constants.ts
  .sandcastle/types.ts
Due: none

feat(sandcastle): add merge-findings module with voted aggregation
  .sandcastle/merge-findings.ts
  tests/sandcastle/merge-findings.test.ts
Due: none

feat(sandcastle): run N critics in parallel with quorum and arbiter
  .sandcastle/refinement-loop.ts
Due: none

feat(sandcastle): validate ensemble fields at registry load
  .sandcastle/strategies/index.ts
  tests/sandcastle/strategies-validation.test.ts
Due: none

docs(sandcastle): document multi-critic ensemble
  .sandcastle/README.md
Due: prettier --cache --write

refactor(sandcastle): drop redundant AGENT_CRITIC_MODEL and criticModel field
  .sandcastle/README.md
  .sandcastle/constants.ts
  .sandcastle/merge-findings.ts
  .sandcastle/types.ts
  tests/sandcastle/merge-findings.test.ts
  tests/sandcastle/strategies-validation.test.ts
Due: prettier --cache --write

refactor(sandcastle)!: unify (model, effort) as AgentSpec for actor, critic pool, and arbiter
  .sandcastle/README.md
  .sandcastle/constants.ts
  .sandcastle/merge-findings.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/index.ts
  .sandcastle/types.ts
  tests/sandcastle/merge-findings.test.ts
  tests/sandcastle/strategies-validation.test.ts
Due: prettier --cache --write

refactor(sandcastle): unify planner and arbiter on AgentSpec defaults
  .sandcastle/README.md
  .sandcastle/constants.ts
  .sandcastle/task-source.ts
Due: prettier --cache --write

docs(sandcastle): rewrite README to convey kernel-first, strategy-agnostic architecture
  .sandcastle/README.md
Due: prettier --cache --write

refactor(sandcastle): isolate tests under .sandcastle/tests/ and add dedicated scripts
  .github/workflows/ci.yml
  .sandcastle/.gitignore
  .sandcastle/README.md
  .sandcastle/tests/merge-findings.test.ts
  .sandcastle/tests/strategies-validation.test.ts
  package.json
Due: prettier --cache --write

test(sandcastle): expand suite per audit (41 → 95 tests, kernel coverage, properties)
  .sandcastle/loop-control.ts
  .sandcastle/parse-findings.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/index.ts
  .sandcastle/tests/concurrency-pool.test.ts
  .sandcastle/tests/factories.ts
  .sandcastle/tests/finalizer.test.ts
  .sandcastle/tests/loop-control.test.ts
  .sandcastle/tests/merge-findings.property.test.ts
  .sandcastle/tests/merge-findings.test.ts
  .sandcastle/tests/parse-findings.test.ts
  .sandcastle/tests/strategies-validation.test.ts
  .sandcastle/tests/strategies.test.ts
  .sandcastle/tests/types.test.ts
  .sandcastle/tests/utils.test.ts
  .sandcastle/utils.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(sandcastle): remediate audit findings (parse-nonce, best-state, dedup-key parity)
  .sandcastle/README.md
  .sandcastle/merge-findings.ts
  .sandcastle/parse-findings.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/index.ts
  .sandcastle/tests/parse-findings.test.ts
  .sandcastle/tests/refinement-loop.test.ts
  .sandcastle/tests/strategies.test.ts
  .sandcastle/types.ts
Due: prettier --cache --write

fix(sandcastle): round-2 audit remediations (no-line dedup, arbiter, finalize-signal)
  .sandcastle/finalizer.ts
  .sandcastle/loop-control.ts
  .sandcastle/main.ts
  .sandcastle/merge-findings.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/strategies/index.ts
  .sandcastle/tests/loop-control.test.ts
  .sandcastle/tests/merge-findings.test.ts
  .sandcastle/tests/refinement-loop.test.ts
  .sandcastle/tests/strategies.test.ts
  .sandcastle/types.ts
Due: none

fix(sandcastle): round-3 audit remediations (kernel signal threading, empty-file dedup parity)
  .sandcastle/finalizer.ts
  .sandcastle/merge-findings.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/tests/merge-findings.test.ts
Due: none

chore(sandcastle): round-3 follow-up — defer-list trivial and harmonization cleanups
  .sandcastle/README.md
  .sandcastle/finalizer.ts
  .sandcastle/main.ts
  .sandcastle/merge-findings.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/strategies/index.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
  .sandcastle/validation.ts
Due: prettier --cache --write

fix(sandcastle): round-4 review-comments fixes
  .sandcastle/README.md
  .sandcastle/merge-findings.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/strategies/index.ts
  .sandcastle/tests/factories.ts
  .sandcastle/tests/merge-findings.test.ts
  .sandcastle/tests/refinement-loop.test.ts
  .sandcastle/tests/strategies.test.ts
  .sandcastle/types.ts
Due: prettier --cache --write

ghrs: snap 05-20-2331-7343 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-20_233148_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-20_233148_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-20_233148_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-20-2331-7343 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-20_233148_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-20-2331-7343 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

test(sandcastle): replace fast-check property tests with example-locked invariants
  .sandcastle/README.md
  .sandcastle/tests/merge-findings.property.test.ts
  .sandcastle/tests/merge-findings.test.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(sandcastle): address PR review comments and trim docs
  .sandcastle/README.md
  .sandcastle/loop-control.ts
  .sandcastle/merge-findings.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/index.ts
  .sandcastle/tests/finalizer.test.ts
  .sandcastle/tests/loop-control.test.ts
  .sandcastle/tests/merge-findings.test.ts
  .sandcastle/tests/refinement-loop.test.ts
  .sandcastle/tests/types.test.ts
  .sandcastle/tests/utils.test.ts
  .sandcastle/types.ts
  package.json
Due: prettier --cache --write

ghrs: snap 05-21-2326-F3CE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-21_232650_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-21_232650_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-21_232650_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-21-2326-F3CE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-21_232650_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-21-2326-F3CE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore(deps): update @ai-hero/sandcastle to 0.5.11
  package.json
  patches/@ai-hero__sandcastle@0.5.11.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

ghrs: snap 05-22-2328-FAE4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-22_232816_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-22_232816_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-22_232816_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-22-2328-FAE4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-22_232816_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
