Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(config): enforce Zod simulator-config validation at boot (#1874) (#1903)
  src/utils/ConfigurationSchema.ts
  tests/utils/ConfigurationSchema.test.ts
  ui/common/src/config/schema.ts
  ui/common/tests/config.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-common): cover buildStatusNotificationPayload 1.6/2.0.x branches (#1834) (#1904)
  ui/common/tests/payloadBuilders.test.ts
Due: none

ghrs: snap 06-15-2337-0417 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-15_233748_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-15_233748_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-15_233748_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-15-2337-0417 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-15_233748_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-15-2337-0417 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(bootstrap): make start/stop idempotent and signal handler re-entrant safe
  cspell.config.yaml
  src/charging-station/Bootstrap.ts
  tests/charging-station/Bootstrap.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(bootstrap): make start/stop idempotent and signal handler re-entrant safe (#1905)
  cspell.config.yaml
  src/charging-station/Bootstrap.ts
  tests/charging-station/Bootstrap.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1885)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

feat(simulator): add forceTransactionOnInvalidIdToken template flag
  README.md
  src/charging-station/TemplateSchema.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/types/ChargingStationTemplate.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-ForceTxOnInvalid.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(types): restore fixedName and pin endedConnector non-null
  src/types/ChargingStationTemplate.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(2.0): document deferred MV-pump fence and ConcurrentTx scope
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
Due: none

ghrs: snap 06-16-2334-4303 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-16_233455_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-16_233455_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-16_233455_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-16-2334-4303 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-16_233455_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-16-2334-4303 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor(bootstrap): remove redundant stopping flag
  src/charging-station/Bootstrap.ts
  tests/charging-station/Bootstrap.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): tighten forceTransactionOnInvalidIdToken coverage and clarify docs
  README.md
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/types/ChargingStationTemplate.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-ForceTxOnInvalid.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(ocpp): note ocppStrictCompliance independence and clarify Started log
  README.md
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/types/ChargingStationTemplate.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(bootstrap): remove redundant stopping flag (#1909)
  src/charging-station/Bootstrap.ts
  tests/charging-station/Bootstrap.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(simulator): add forceTransactionOnInvalidIdToken template flag (#1907)
  README.md
  src/charging-station/TemplateSchema.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/types/ChargingStationTemplate.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-ForceTxOnInvalid.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
Due: prettier --cache --write, eslint --cache --fix

style(test): fix lint warnings in OCPP 2.0 ForceTxOnInvalid test
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
Due: none

ghrs: snap 06-17-2336-B9C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-17_233631_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-17_233631_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-17_233631_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-17-2336-B9C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-17_233631_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 06-17-2336-B9C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: report 06-17-2336-B9C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 06-18-2336-7171 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-18_233646_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-18_233646_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-18_233646_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-18-2336-7171 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-18_233646_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-18-2336-7171 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 06-19-2326-BCA5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-19_232642_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-19_232642_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-19_232642_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-19-2326-BCA5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-19_232642_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-19-2326-BCA5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(ui-server): add opt-in Prometheus /metrics endpoint (closes #851)
  README.md
  package.json
  pnpm-lock.yaml
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/types/ConfigurationData.ts
  src/utils/ConfigurationSchema.ts
  src/utils/index.ts
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): rebuild metrics registry on start to recover from stop/start cycle (M1)
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): expose metrics.softSampleCap in canonical defaults (M3)
  README.md
  src/utils/ConfigurationSchema.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): serialize concurrent /metrics scrapes (M2 + m6 + m5)
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): accept HEAD on /metrics for liveness-probe scrapers (n3)
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): align iterateConnectors with simulator_station_connectors_total either-or (m2)
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

docs(readme): fix metrics sample output to match actual exposition (m4)
  README.md
Due: prettier --cache --write

style: replace 'honoured' with 'honored' for spelling consistency (n2)
  src/charging-station/ui-server/AbstractUIServer.ts
  src/utils/ConfigurationSchema.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): add soft-cap boundary tests for off-by-one detection (m3)
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none
