Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix: stop nullifying wsConnection prematurely in close/terminate
  src/charging-station/ChargingStation.ts
  ui/web/tests/unit/skins/modern/ConnectorRow.test.ts
  ui/web/tests/unit/skins/modern/ModernLayout.test.ts
  ui/web/tests/unit/skins/modern/StationCard.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1819)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: rename webui component to web for naming consistency
  .github/release-please/config.json
  ui/web/README.md
  ui/web/docker/Dockerfile
  ui/web/package.json
  ui/web/sonar-project.properties
  ui/web/src/assets/screenshot.png
Due: prettier --cache --write

fix: restore comments lost during rebase conflict resolution
  ui/web/sonar-project.properties
Due: none

chore: update serena project configuration
  .serena/project.yml
Due: prettier --cache --write

ci: add sandcastle autonomous agent pipeline
  .cfignore
  .github/workflows/clone-count.yml
  .github/workflows/sandcastle.yml
  .sandcastle/.env.example
  .sandcastle/.gitignore
  .sandcastle/Dockerfile
  .sandcastle/concurrency-pool.ts
  .sandcastle/constants.ts
  .sandcastle/finalizer.ts
  .sandcastle/main.ts
  .sandcastle/plan-prompt.md
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/critic-prompt.md
  .sandcastle/strategies/implement/implement-prompt.md
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
  .sandcastle/utils.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --cache --write, eslint --cache --fix

chore: force release-as 4.6.1 (temporary, remove after release)
  .github/release-please/config.json
Due: prettier --cache --write

fix(deps): override ip-address vulnerability
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

chore: release main (#1832)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: remove temporary release-as overrides
  .github/release-please/config.json
Due: prettier --cache --write

fix(sandcastle): log planner error details instead of swallowing
  .sandcastle/task-source.ts
Due: none

fix(sandcastle): remove corepack prepare from Dockerfile
  .sandcastle/Dockerfile
Due: none

fix(sandcastle): pre-create .local/share dirs in Dockerfile
  .sandcastle/Dockerfile
Due: none

chore(sandcastle): increase timeouts for large repo tasks
  .github/workflows/sandcastle.yml
  .sandcastle/constants.ts
  .sandcastle/docs/parallel-decomposition-requirements.md
Due: prettier --cache --write

chore(sandcastle): remove requirements doc from repo (kept externally)
  .sandcastle/docs/parallel-decomposition-requirements.md
Due: prettier --cache --write

fix: correct OCPP version handling for connector status changes
  ui/common/src/types/ChargingStationType.ts
  ui/web/src/core/UIClient.ts
  ui/web/src/shared/composables/useConnectorActions.ts
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/src/skins/modern/components/ConnectorRow.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/src/skins/modern/components/dialogs/SetConnectorStatusDialog.vue
  ui/web/tests/unit/shared/composables/useConnectorActions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

feat(ui/web): allow changing status of individual connectors
  ui/web/src/core/UIClient.ts
  ui/web/src/shared/composables/useConnectorActions.ts
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/modern/components/ConnectorRow.vue
  ui/web/src/skins/modern/components/dialogs/SetConnectorStatusDialog.vue
  ui/web/tests/unit/helpers.ts
  ui/web/tests/unit/shared/composables/useConnectorActions.test.ts
Due: none

chore(sandcastle): increase MAX_CRITIC_ROUNDS to 10
  .sandcastle/constants.ts
Due: none

chore(sandcastle): increase MAX_PARALLEL to 5
  .sandcastle/constants.ts
Due: none

chore(sandcastle): install uv via griffo.io APT for MCP server support
  .sandcastle/Dockerfile
Due: none

chore(sandcastle): install uv, harden APT repo setup
  .sandcastle/Dockerfile
Due: none

chore(sandcastle): install uv, harden APT setup, add memories to prompts
  .sandcastle/plan-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
  .sandcastle/strategies/implement/implement-prompt.md
Due: prettier --cache --write

fix(sandcastle): improve PR metadata accuracy
  .sandcastle/finalizer.ts
Due: none

refactor(sandcastle): split AGENT_MODEL into per-role constants
  .sandcastle/constants.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/task-source.ts
Due: none

chore(sandcastle): use gpt-5.4 as critic model
  .sandcastle/constants.ts
Due: none

refactor(sandcastle): organize constants by domain with coherent naming
  .sandcastle/constants.ts
  .sandcastle/finalizer.ts
  .sandcastle/main.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/task-source.ts
Due: none

refactor(sandcastle): remove StrategyConfig type alias, inline intersection
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/types.ts
Due: none

chore: simplify root lint-staged config to cover all TS files
  .lintstagedrc.js
Due: prettier --cache --write, eslint --cache --fix

refactor(sandcastle): generalize actor/critic loop with LoopContext and coherent API
  .sandcastle/constants.ts
  .sandcastle/finalizer.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/critic-prompt.md
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/types.ts
Due: prettier --cache --write

refactor(sandcastle): improve separation of concerns and API clarity
  .sandcastle/constants.ts
  .sandcastle/finalizer.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/types.ts
  .sandcastle/validation.ts
Due: none

refactor(sandcastle): add error observability and type-safe sentinels
  .sandcastle/refinement-loop.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
Due: none

docs(sandcastle): fix stale JSDoc referencing empty string sentinel
  .sandcastle/refinement-loop.ts
Due: none

refactor(sandcastle): rename implement-prompt.md to actor-prompt.md
  .sandcastle/strategies/implement/actor-prompt.md
  .sandcastle/strategies/implement/strategy.ts
Due: prettier --cache --write

chore(sandcastle): clarify prompt headings with role taxonomy
  .sandcastle/strategies/implement/actor-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
Due: prettier --cache --write

chore(sandcastle): add agent effort constants (future use)
  .sandcastle/constants.ts
Due: none
