Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

feat(webui): allow editing charging station configuration (#2077)
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  tests/charging-station/ChargingStation-ChangeConfiguration.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeConfiguration.test.ts
  ui/common/src/types/UIProtocol.ts
  ui/web/README.md
  ui/web/src/core/Constants.ts
  ui/web/src/core/UIClient.ts
  ui/web/src/router/index.ts
  ui/web/src/shared/composables/useChangeConfigurationForm.ts
  ui/web/src/shared/composables/useStationDetails.ts
  ui/web/src/shared/utils/index.ts
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/src/skins/classic/components/actions/ChangeConfiguration.vue
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/src/skins/modern/components/dialogs/ChangeConfigurationDialog.vue
  ui/web/tests/unit/constants.ts
  ui/web/tests/unit/helpers.ts
  ui/web/tests/unit/shared/composables/stationDetails.test.ts
  ui/web/tests/unit/shared/composables/useChangeConfigurationForm.test.ts
  ui/web/tests/unit/shared/composables/useStationDetails.test.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(simulator): drop manual test counters from worker broadcast-channel test
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: none

test(simulator): drop manual test counters from worker broadcast-channel test (#2081)
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: none

fix(simulator): seed autoRegister and ocppProtocol defaults into stationInfo
  src/types/index.ts
  src/utils/Constants.ts
  tests/charging-station/ChargingStation-AutoRegisterOcppProtocol.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 08-13-2316-8BFC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-13_231655_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-13_231655_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-13_231655_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-13-2316-8BFC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-13_231655_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-13-2316-8BFC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor(test): extract persisted-config resolution into realStation helpers
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ChargingStation-AutoRegisterOcppProtocol.test.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
  tests/charging-station/helpers/StationHelpers.realStation.ts
Due: prettier --cache --write

docs(test): harmonize helper-table param placeholders in TEST_STYLE_GUIDE
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

fix(simulator): seed autoRegister and ocppProtocol defaults into stationInfo (#2082)
  src/types/index.ts
  src/utils/Constants.ts
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ChargingStation-AutoRegisterOcppProtocol.test.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
  tests/charging-station/helpers/StationHelpers.realStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix(webui): keep modern station-card Delete action aligned on the footer row
  ui/web/src/skins/modern/modern.css
Due: none

fix(webui): keep modern station-card Delete action aligned on the footer row (#2083)
  ui/web/src/skins/modern/modern.css
Due: none

refactor(webui): order station action buttons by CSO lifecycle
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/tests/unit/skins/classic/CSData.test.ts
Due: none

test(webui): cover classic change-configuration toggle navigation
  ui/web/tests/unit/skins/classic/CSData.test.ts
Due: none

test(webui): select set-supervision-url toggle by id for consistency
  ui/web/tests/unit/skins/classic/CSData.test.ts
Due: none

refactor(webui): order station action buttons by CSO lifecycle (#2084)
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/tests/unit/skins/classic/CSData.test.ts
Due: none

ghrs: snap 08-14-2306-DC0E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-14_230643_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-14_230643_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-14_230643_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-14-2306-DC0E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-14_230643_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 08-14-2306-DC0E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: report 08-14-2306-DC0E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-15-2305-9F8A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-15_230600_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-15_230600_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-15_230600_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-15-2305-9F8A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-15_230600_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-15-2305-9F8A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-16-2305-64E0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-16_230513_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-16_230513_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-16_230513_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-16-2305-64E0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-16_230513_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-16-2305-64E0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-17-2306-7058 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-17_230645_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-17_230645_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-17_230645_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-17-2306-7058 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-17_230645_views_clones_series_fragment.csv
Due: none

ghrs: report 08-17-2306-7058 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-18-2307-6D47 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-18_230703_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-18_230703_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-18_230703_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-18-2307-6D47 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-18_230703_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-18-2307-6D47 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-19-2307-83CC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-19_230737_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-19_230737_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-19_230737_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-19-2307-83CC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-19_230737_views_clones_series_fragment.csv
Due: none

ghrs: report 08-19-2307-83CC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-20-2308-AE9A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-20_230823_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-20_230823_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-20_230823_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-20-2308-AE9A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-20_230823_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-20-2308-AE9A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-21-2307-15C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-21_230732_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-21_230732_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-21_230732_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-21-2307-15C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-21_230732_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none
