Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

chore(ci): silence linter error
  eslint.config.js
Due: prettier --cache --write, eslint --cache --fix

chore: configuration cleanups after migration to eslint flat config
  .github/workflows/ci.yml
  .lintstagedrc.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/types/ocpp/Requests.ts
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

chore: fix lock file
  pnpm-lock.yaml
Due: prettier --cache --write

build(ci): fix autofix GH action
  .github/workflows/autofix.yml
Due: prettier --cache --write

chore(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

refactor: npx -> pnpm dlx where appropriates
  package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore: align code formatting configuration
  ui/web/.eslintrc.cjs
  ui/web/.lintstagedrc.js
  ui/web/.prettierrc.json
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/index.ts
  ui/web/src/router/index.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/types/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSTable.spec.ts
  ui/web/vite.config.ts
  ui/web/vitest.config.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

refactor: refine OCPP PDU validation error messages
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps-dev): apply updates
  tests/ocpp-server/poetry.lock
Due: none

fix: ensure OCPP payload validation report error details
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: validate station information at CS init
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/index.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine station information validation error message
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1080)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: refine eslint flat configuration
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  ui/web/.eslintrc.cjs
  ui/web/package.json
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/router/index.ts
  ui/web/src/shims-vue.d.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/tsconfig.json
Due: prettier --cache --write, eslint --cache --fix

chore: cleanup formatting and linting configuration
  CHANGELOG.md
  eslint.config.js
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/performance/storage/Storage.ts
  tests/ocpp-server/CHANGELOG.md
  ui/web/.lintstagedrc.js
  ui/web/package.json
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/tsconfig.json
Due: prettier --cache --write, eslint --cache --fix

build(ci): reenabled linting on web ui code
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): reenabled auto code formating and linting on simulator
  .github/workflows/autofix.yml
  .lintstagedrc.js
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup eslint configuration
  eslint.config.js
Due: prettier --cache --write, eslint --cache --fix

refactor: silence two linter errors
  src/charging-station/Helpers.ts
  src/charging-station/IdTagsCache.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

docs: add OCPP 2 mock server component to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --cache --write

test: add some tests for charging station helpers
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Helpers.ts
  tests/charging-station/Helpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(test): code cleanups
  tests/charging-station/Helpers.test.ts
Due: none

test: add more charging station helpers tests
  tests/charging-station/Helpers.test.ts
Due: none

test: add checkConfiguration() helper test
  tests/charging-station/Helpers.test.ts
Due: none

refactor: move buidling, bundling, ... scripts into a directory
  .vscode/settings.json
  package.json
  scripts/build-requirements.js
  scripts/bundle.js
  scripts/prepare.js
  scripts/runtime.js
  scripts/skip-preinstall.js
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  pnpm-lock.yaml
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Configuration.ts
  src/utils/FileUtils.ts
  src/utils/Utils.ts
  ui/web/package.json
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: release main (#1108)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
