Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor(ocpp): remove dead parseJsonSchemaFile overrides and standardize validation
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): add missing outgoing schema entries for certificate commands
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): add schema registration coverage tests for OCPP 1.6 and 2.0
  tests/charging-station/ocpp/1.6/OCPP16SchemaValidation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SchemaValidation.test.ts
Due: none

feat(types): add OCPP 2.0.1 UI procedure and broadcast channel enums
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-service): wire OCPP 2.0.1 commands through UI service pipeline
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
Due: prettier --cache --write, eslint --cache --fix

feat(broadcast-channel): add OCPP 2.0.1 command handlers and response mapping
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): add missing certificate commands to buildRequestPayload
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(broadcast-channel): add OCPP 2.0.1 UIService pipeline integration tests
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: none

style: fix perfectionist ordering in broadcast channel handler and tests
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(broadcast-channel): add buildRequestPayload and behavioral handler tests
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: none

refactor(test): remove redundant test groups from broadcast channel tests
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: none

fix: address PR review comments — tighten types, add fire-and-forget response cases, barrel export
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/types/WorkerBroadcastChannel.ts
  src/types/index.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: improve OCPP 2.0.1 broadcast channel coverage with dispatch and pipeline tests
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: none

refactor(broadcast-channel): extract handler closures to named private methods
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

test(broadcast-channel): add mapping completeness validation for UI service command pipeline
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: none

refactor(types): remove unused OCPP 2.0 fields from BroadcastChannelRequestPayload
  src/types/WorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): integrate all 8 missing OCPP 2.0.1 outgoing commands into UIService/BroadcastChannel pipeline (#1718)
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  src/types/index.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: remove 24 tautological enum value assertion tests
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.test.ts
  tests/charging-station/ocpp/auth/types/AuthTypes.test.ts
  tests/types/ConfigurationData.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: none

feat(ocpp-server): overhaul OCPP 2.0.1 mock server with full command coverage
  tests/ocpp-server/README.md
  tests/ocpp-server/poetry.lock
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: prettier --cache --write

feat(ocpp-server): add error handling, configurable params, async tests, and Python 3.14+ compat
  tests/ocpp-server/README.md
  tests/ocpp-server/poetry.lock
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/timer.py
Due: prettier --cache --write

docs(ocpp-server): restructure README with logical section hierarchy
  tests/ocpp-server/README.md
Due: prettier --cache --write

fix(ocpp-server): add suppress=False to all call() invocations and widen randint range
  tests/ocpp-server/server.py
Due: none

refactor(ocpp-server): introduce AuthMode, AuthConfig and ServerConfig typed dataclasses
  tests/ocpp-server/server.py
Due: none

fix(ocpp-server): extract CP ID from last URL segment and scope ChargePoints to instance
  tests/ocpp-server/server.py
Due: none

test(ocpp-server): centralize constants, strengthen assertions, add auth modes, trim meta-tests
  tests/ocpp-server/test_server.py
Due: none

test(ocpp-server): add Timer class test coverage
  tests/ocpp-server/test_timer.py
Due: none

test(ocpp-server): add behavioral tests for all outgoing commands
  tests/ocpp-server/test_server.py
Due: none

test(ocpp-server): add connection lifecycle and command scheduling tests
  tests/ocpp-server/test_server.py
Due: none

fix(ocpp-server): use MagicMock for sync method in test to fix RuntimeWarning
  tests/ocpp-server/test_server.py
Due: none

fix(ocpp-server): share charge_points set across connections and harden test quality
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

docs(ui-web): rewrite README with coherent structure and code-verified content
  ui/web/README.md
Due: prettier --cache --write

docs: fix root README coherence with codebase
  LICENSE
  README.md
Due: prettier --cache --write

fix(renovate): enable Poetry dependency detection for OCPP2 mock server
  renovate.json
Due: prettier --cache --write

ci(ocpp-server): add type checking, test coverage and unit tests to CI pipeline
  .github/workflows/ci.yml
  tests/ocpp-server/poetry.lock
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
Due: prettier --cache --write

ci(ocpp-server): add type checking, test coverage and unit tests to CI pipeline (#1720)
  .github/workflows/ci.yml
  tests/ocpp-server/poetry.lock
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
Due: prettier --cache --write

fix(ocpp20): add consistent statusInfo to all rejection responses
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): cache validatePersistentMappings and fix MinSet/MaxSet atomicity
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp20): implement SetNetworkProfile Accepted path per B09.FR.01
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetNetworkProfile.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): prevent deletion of ChargingStationCertificate per M04.FR.06
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
Due: none

feat(ocpp20): implement GetLog lifecycle with LogStatusNotification per N01
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
