Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

ghrs: vc agg 07-24-2324-3A55 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-24_232421_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-24-2324-3A55 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 07-25-2322-9110 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-25_232205_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-25_232205_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-25_232205_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-25-2322-9110 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-25_232205_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-25-2322-9110 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

test(ocpp-server): add OCPP 1.6 mock server and extend reservation coverage
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_server16.py
  tests/ocpp-server/tools/http_broadcast_timing.py
  tests/ocpp-server/tools/reused_ws_request_id.py
Due: none

chore(serena): update project knowledge base
  .serena/project.yml
Due: prettier --cache --write

revert: remove tools/ from tracked files (kept locally)
  tests/ocpp-server/tools/http_broadcast_timing.py
  tests/ocpp-server/tools/reused_ws_request_id.py
Due: none

fix(ocpp-server): address review findings M1-M3 and m1-m8
  tests/ocpp-server/README.md
  tests/ocpp-server/_common.py
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_server16.py
Due: prettier --cache --write

fix(ocpp-server): address post-review findings N1-N6
  tests/ocpp-server/README.md
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_server16.py
Due: prettier --cache --write

test(charging-station): relax template file count assertion
  tests/charging-station/TemplateValidation.test.ts
Due: none

fix(ocpp-server): address round-3 review findings
  tests/ocpp-server/README.md
  tests/ocpp-server/_common.py
  tests/ocpp-server/server.py
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server.py
Due: prettier --cache --write

fix(ocpp-server): address round-4 review findings
  tests/ocpp-server/README.md
  tests/ocpp-server/_common.py
  tests/ocpp-server/server.py
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_server16.py
Due: prettier --cache --write

test(ocpp-server): close round-5 parity + config findings
  tests/ocpp-server/README.md
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/test_server.py
Due: prettier --cache --write

test(ocpp-server): close round-6 parity + hygiene findings
  tests/ocpp-server/server.py
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_server16.py
Due: none

test(ocpp-server): close round-7 style + DRY findings
  tests/ocpp-server/server.py
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_server16.py
Due: none

fix(ui-server): reconcile evses wire type so /metrics works on OCPP 2.0.x
  src/charging-station/ui-server/AbstractUIServer.ts
  src/types/ChargingStationWorker.ts
  src/types/Evse.ts
  src/types/index.ts
  src/utils/ChargingStationConfigurationUtils.ts
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp-server): close round-8 findings (harmonize auth-mode, DRY, handler routing)
  tests/ocpp-server/_common.py
  tests/ocpp-server/server.py
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_server16.py
Due: none

test(ocpp-server): address bot review comments on server16
  tests/ocpp-server/server.py
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server16.py
Due: none

docs(types): document EvseEntryData/EvseStatusData wire projection
  src/types/Evse.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): harden #2046 metrics regression guards
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

ghrs: snap 07-26-2322-0CC3 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-26_232228_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-26_232228_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-26_232228_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-26-2322-0CC3 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-26_232228_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-26-2322-0CC3 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor(types): make EvseStatusData an immutable wire snapshot
  src/types/Evse.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp-server): add OCPP 1.6 mock server and extend reservation coverage (#2047)
  .serena/project.yml
  tests/charging-station/TemplateValidation.test.ts
  tests/ocpp-server/README.md
  tests/ocpp-server/_common.py
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
  tests/ocpp-server/server16.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_server16.py
Due: prettier --cache --write

fix(ui-server): reconcile evses wire type so /metrics works on OCPP 2.0.x (#2048)
  src/charging-station/ui-server/AbstractUIServer.ts
  src/types/ChargingStationWorker.ts
  src/types/Evse.ts
  src/types/index.ts
  src/utils/ChargingStationConfigurationUtils.ts
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1934)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 07-27-2325-F9DC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-27_232531_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-27_232531_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-27_232531_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-27-2325-F9DC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-27_232531_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-27-2325-F9DC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 07-28-2323-E30D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-28_232333_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-28_232333_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-28_232333_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-28-2323-E30D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-28_232333_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-28-2323-E30D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

docs: streamline copilot instructions
  .github/copilot-instructions.md
Due: prettier --cache --write

docs: streamline copilot instructions (#2053)
  .github/copilot-instructions.md
Due: prettier --cache --write

ghrs: snap 07-29-2323-DCCF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-29_232322_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-29_232322_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-29_232322_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-29-2323-DCCF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-29_232322_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 07-29-2323-DCCF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none
