Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

ghrs: vc agg 07-03-2325-8977 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-03_232529_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-03-2325-8977 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp20): trigger meterValues path emits MeterValuesRequest per F06.FR.06 (issue #1936 j)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): tag trigger MV placeholder with Trigger context and measurand (issue #1936 j)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): use numeric comparator on trigger meterValues broadcast assertion (issue #1936 j)
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: none

test(ocpp20): lock trigger meterValues placeholder measurand value (issue #1936 j)
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: none

refactor(ocpp20): extract triggerMeterValues + emitEvseMeterValues helpers (issue #1936 j)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): guard buildMeterValue against synchronous throw in trigger path (issue #1936 j)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): trigger meterValues path emits MeterValuesRequest per F06.FR.06 (issue #1936 j) (#1943)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(meter-values): document energyRegisterWh transaction-scope divergence (issue #1936 h.2)
  src/charging-station/meter-values/CoherentSampleComputer.ts
Due: prettier --cache --write, eslint --cache --fix

fix(meter-values): tighten L-L voltage guard to 3-phase-only (issue #1936 h.1)
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
Due: prettier --cache --write, eslint --cache --fix

docs(meter-values): sync resolvePhasedValue JSDoc L-L skip predicate with h.1 (issue #1936 h)
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
Due: prettier --cache --write, eslint --cache --fix

style(meter-values): normalize prose em-dash and ellipsis to ASCII (issue #1936 h)
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/CoherentSampleComputer.ts
Due: prettier --cache --write, eslint --cache --fix

fix(meter-values): physics refinements - 3-phase-only L-L voltage guard + energyRegisterWh docstring (issue #1936 h) (#1941)
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/CoherentSampleComputer.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(meter-values): rename Prng.ts to PRNG.ts (issue #1936 c)
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/meter-values/CoherentSession.ts
  src/charging-station/meter-values/PRNG.ts
  src/charging-station/meter-values/index.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/meter-values/PRNG.test.ts
Due: prettier --cache --write, eslint --cache --fix

style(meter-values): normalize prose em-dash to ASCII on PR-C-touched lines (issue #1936 c)
  src/charging-station/meter-values/CoherentSession.ts
  src/charging-station/meter-values/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(meter-values): rename Prng.ts to PRNG.ts (issue #1936 c) (#1940)
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/meter-values/CoherentSession.ts
  src/charging-station/meter-values/PRNG.ts
  src/charging-station/meter-values/index.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/meter-values/PRNG.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(meter-values): honor RegisterValuesWithoutPhases in coherent path (issue #1936 k)
  README.md
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(meter-values): refine OCPP 1.6 safety wire-comment wording (issue #1936 k)
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(meter-values): apply RegisterValuesWithoutPhases at bucket level (issue #1936 k)
  README.md
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(meter-values): add OCPP 2.0.1 boundary tests for RegisterValuesWithoutPhases (issue #1936 k)
  tests/charging-station/meter-values/StrategyDispatch.test.ts
Due: none

refactor(meter-values): partition RegisterValuesWithoutPhases by identity family (issue #1936 k)
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(meter-values): use Map.groupBy in RegisterValuesWithoutPhases helper (issue #1936 k)
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
Due: prettier --cache --write, eslint --cache --fix

docs(meter-values): describe per-family synthesis in README and JSDoc (issue #1936 k)
  README.md
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
Due: prettier --cache --write, eslint --cache --fix

feat(meter-values): honor RegisterValuesWithoutPhases in coherent path (issue #1936 k) (#1942)
  README.md
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(meter-values): evse-level MeterValues template fallback in coherent path (issue #1936 g)
  README.md
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/types.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(meter-values): clarify EVSE fallback semantics + add empty-EVSE test (issue #1936 g)
  README.md
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(meter-values): cover EVSE-grouped + undefined MeterValues fallback (issue #1936 g)
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: none

ghrs: snap 07-04-2323-1331 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-04_232303_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-04_232303_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-04_232303_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-04-2323-1331 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-04_232303_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-04-2323-1331 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

docs(meter-values): sharpen resolveTemplates JSDoc + adopt isNotEmptyArray helper (issue #1936 g)
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
Due: prettier --cache --write, eslint --cache --fix

test(meter-values): lock non-aggregation divergence + terminology hyphenation (issue #1936 g)
  README.md
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: prettier --cache --write

feat(meter-values): evse-level MeterValues template fallback in coherent path (issue #1936 g) (#1944)
  README.md
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/types.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): split StationHelpers.ts into modular files (issue #1936 M-08)
  tests/charging-station/helpers/StationHelpers.cleanup.ts
  tests/charging-station/helpers/StationHelpers.connector.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/helpers/StationHelpers.template.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/helpers/StationHelpers.types.ts
Due: none

feat(meter-values): add powerFactor + rampShape to EvProfile (issue #1936 M-09)
  README.md
  src/assets/ev-profiles-template.json
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/meter-values/types.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): extract charging-profile helpers to HelpersChargingProfile (#1936 f-2)
  src/charging-station/Helpers.ts
  src/charging-station/HelpersChargingProfile.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): extract connector-status helpers to HelpersConnectorStatus (#1936 f-3)
  src/charging-station/Helpers.ts
  src/charging-station/HelpersConnectorStatus.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): extract serial-number/id helpers to HelpersId (#1936 f-4)
  src/charging-station/Helpers.ts
  src/charging-station/HelpersId.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): extract config/template helpers to HelpersConfig (#1936 f-5)
  src/charging-station/Helpers.ts
  src/charging-station/HelpersConfig.ts
Due: prettier --cache --write, eslint --cache --fix
