Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix(ui-server): address PR review — security hardening and schema corrections
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): use HttpMethod enum instead of string literals
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: none

docs: remove redundant MCP discoverability statement
  README.md
Due: prettier --cache --write

docs: restructure MCP section for agent config, update uiServer type in config table
  README.md
Due: prettier --cache --write

feat(ui-server): log deprecation warning when HTTP transport is used
  src/charging-station/ui-server/UIServerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): harmonize log levels and message patterns with existing transports
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): align MCP tests with style guide
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIServerFactory.test.ts
Due: none

docs: restore PDU acronym definition in WebSocket Protocol section
  README.md
Due: prettier --cache --write

fix(ui-server): use UI protocol version for MCP server version
  src/charging-station/ui-server/UIMCPServer.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): derive log file paths from Configuration instead of hardcoding
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
Due: prettier --cache --write, eslint --cache --fix

perf(ui-server): tail-read log files instead of loading entire file into memory
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): convert log resources to tools with tail parameter
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
  src/charging-station/ui-server/mcp/index.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): expose OCPP JSON schemas as MCP resource templates
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
  src/charging-station/ui-server/mcp/index.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): add version-aware OCPP tool schemas with JSON Schema injection
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/mcp/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): use OCPPVersion enum instead of string literals
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): improve MCP code elegance and project rule compliance
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): fix body size double-counting and schema resource path
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): consolidate version fallback guards and clarify README version docs
  README.md
  src/charging-station/ui-server/UIServerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): harden MCP schema resources against path traversal and fix transport leak
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): address remaining review findings and lint warnings
  eslint.config.js
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): exact MCP path match, pin SDK version, log schema injection
  package.json
  pnpm-lock.yaml
  src/charging-station/ui-server/UIMCPServer.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): add comprehensive UIMCPServer unit tests
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: none

fix(ui-server): per-request McpServer factory, async iterator body reader, transport leak
  src/charging-station/ui-server/UIMCPServer.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: align StatusNotification field name with OCPP 2.0.1 schema, fix asset paths
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): align payload builders to object-param API, fix StatusNotification field names
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIMCPServer.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-CallChain.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-connectorStatus.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

build: externalize @modelcontextprotocol/sdk and zod from esbuild bundle
  scripts/bundle.js
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): fix SonarCloud quality gate — localeCompare sort, reduce cognitive complexity
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
Due: prettier --cache --write, eslint --cache --fix

chore: update .serena/project.yml with new default config fields
  .serena/project.yml
Due: prettier --cache --write

refactor(ocpp): buildMeterValue resolves connectorId/evseId from transactionId
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/Evse.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-meterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: add MCP Protocol to ToC, fix HTTP Protocol link, document EVSE-level MeterValues
  README.md
Due: prettier --cache --write

fix(ocpp): version-aware Authorize response mapping, complete cross-version types
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ocpp/Transaction.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): harmonize version switch/case in auth functions
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): buildMeterValue from transactionId, log date locale fix, MeterValues EVSE templates
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): add MCP transport and deprecate HTTP (#1746)
  .serena/project.yml
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/bundle.js
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/mcp/index.ts
  src/types/Evse.ts
  src/types/UIProtocol.ts
  src/types/ocpp/Transaction.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-CallChain.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-connectorStatus.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-meterValues.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIServerFactory.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract buildEmptyMeterValue helper for empty MeterValue construction
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(broadcast-channel): extract passthrough() factory, remove 20 identical handlers
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(broadcast-channel): extract response status registries from switch/case
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(mcp): split MCP definitions by spec concern — Resources, Tools, ToolSchemas
  src/charging-station/ui-server/mcp/MCPResources.ts
  src/charging-station/ui-server/mcp/MCPTools.ts
  src/charging-station/ui-server/mcp/index.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1748)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
