Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix: fix sonar configuration
  ui/web/sonar-project.properties
Due: none

build(ci): use monorepo setup on sonarcloud
  .github/workflows/ci.yml
  sonar-project.properties
  ui/web/package.json
  ui/web/pnpm-lock.yaml
  ui/web/sonar-project.properties
  ui/web/vitest.config.ts
Due: prettier --cache --write

build(ci): fix sonar scanner run
  ui/web/sonar-project.properties
  ui/web/tsconfig-sonar.json
Due: prettier --cache --write

build(ci): fix sonar scanner
  ui/web/tsconfig-sonar.json
Due: prettier --cache --write

build: fix sonarlint settings
  .vscode/extensions.json
  .vscode/settings.json
  e-mobility-charging-stations-simulator.code-workspace
  ui/web/.vscode/extensions.json
  ui/web/.vscode/settings.json
Due: prettier --cache --write

build(deps-dev): apply updates
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix(ui): silence sonar
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

chore: add copyright notices
  src/utils/AsyncLock.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: cleanup async lock API
  src/charging-station/ChargingStation.ts
  src/performance/storage/JsonFileStorage.ts
  src/utils/AsyncLock.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure transaction cannot be started on a used evse
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

feat(ui): make evses works in the web ui
  package.json
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  ui/web/package.json
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): variable namespace cleanups
  ui/web/src/components/charging-stations/CSData.vue
Due: none

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
  ui/web/src/composables/UIClient.ts
Due: prettier --cache --write

fix: fix median and percentile calculation
  src/performance/PerformanceStatistics.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(ci): silence GitHub actions warnings
  .github/workflows/ci.yml
Due: prettier --cache --write

build(deps-dev): apply updates
  pnpm-lock.yaml
  src/charging-station/ChargingStation.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.2.12
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

docs: add GitHub CI badge to README.md
  README.md
Due: prettier --cache --write

fix: move and fix statistic related helpers implementation
  src/performance/PerformanceStatistics.ts
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: align statistic helpers return for empty data set
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup statistic helpers code
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

perf: optimize median computation
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

test: improve statistic helpers tests
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup variables namespace
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: version 1.2.13
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

fix: handle relative path to performance records JSON file
  package.json
  pnpm-lock.yaml
  src/performance/storage/JsonFileStorage.ts
  src/utils/Configuration.ts
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

refactor: group conditions in connector status change check
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: silence sonar
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
  ui/web/tsconfig-sonar.json
Due: prettier --cache --write

refactor: factor out performance records JSON file path building
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix
