Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor: dedup OCPP signing-flag checks and revert WorkerAbstract utils import
  src/charging-station/TemplateSchema.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIServerNet.ts
  src/worker/WorkerAbstract.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): adopt handleIncomingRequestError across OCPP 2.0 handlers
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(validation): adopt assertIsJsonObject for JSON-object type guards
  src/charging-station/TemplateValidation.ts
  src/utils/ConfigurationValidation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: adopt JSONStringify helper across src/
  src/charging-station/Bootstrap.ts
  src/charging-station/BootstrapStateUtils.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/mcp/MCPResources.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(bootstrap): adopt promiseWithTimeout in waitChargingStationsStopped
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: unify handleIncomingRequestError local-const pattern + doc identity check
  src/charging-station/Bootstrap.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: apply v3 cross-validated review fixes
  README.md
  src/charging-station/Bootstrap.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: apply v4 cross-validation review fixes
  README.md
  src/charging-station/Bootstrap.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/exception/TimeoutError.ts
  src/exception/index.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: apply v5 cross-validation review fixes
  src/charging-station/Bootstrap.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/exception/TimeoutError.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(ocpp20): correct spec citation §E07 → §F01.FR.13
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: apply v6 cross-validation review fixes
  src/charging-station/TemplateSchema.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/exception/TimeoutError.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: apply v7 cross-validation review fixes
  src/charging-station/TemplateSchema.ts
  src/charging-station/TemplateValidation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ui-server/UIServerSecurity.ts
  src/exception/OCPPError.ts
  src/utils/ConfigurationValidation.ts
  tests/charging-station/TemplateSchema.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: apply v8 cross-validation review fixes
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  ui/common/src/errors.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: project-wide audit of helper/util usage in src/ + OCPP 2.0.1 §F01.FR.13 spec fix (#1931)
  README.md
  src/charging-station/Bootstrap.ts
  src/charging-station/BootstrapStateUtils.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/TemplateValidation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIServerNet.ts
  src/charging-station/ui-server/UIServerSecurity.ts
  src/charging-station/ui-server/mcp/MCPResources.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/exception/OCPPError.ts
  src/exception/TimeoutError.ts
  src/exception/index.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationMigrations.ts
  src/utils/ConfigurationSchema.ts
  src/utils/ConfigurationValidation.ts
  src/utils/Utils.ts
  tests/charging-station/TemplateSchema.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  ui/common/src/errors.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1928)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 06-29-2325-557F for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-29_232524_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-29_232524_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-29_232524_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-29-2325-557F for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-29_232524_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 06-29-2325-557F for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: report 06-29-2325-557F for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 06-30-2331-E7FA for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-30_233118_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-30_233118_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-30_233118_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 06-30-2331-E7FA for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 06-30-2331-E7FA for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-30_233118_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-30-2331-E7FA for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(meter-values): coherent MeterValues generator (issue #40)
  scripts/bundle.js
  src/assets/ev-profiles-template.json
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/index.ts
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/meter-values/EvProfiles.ts
  src/charging-station/meter-values/index.ts
  src/charging-station/meter-values/prng.ts
  src/charging-station/meter-values/types.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ChargingStationTemplate.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/meter-values/EvProfiles.test.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
  tests/charging-station/meter-values/prng.test.ts
  tests/charging-station/ocpp/1.6/OCPP16-CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(meter-values): regression tests for Phase 4 findings (issue #40)
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/ocpp/1.6/OCPP16-CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: none

fix(meter-values): address Phase 4 review findings (issue #40)
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/meter-values/types.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(coherent-meter-values): floor reportedPowerW to remaining capacity + tighten M4 register cross-check
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  tests/charging-station/ocpp/1.6/OCPP16-CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(meter-values): address PR #1935 review findings (issue #40)
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/meter-values/EvProfiles.ts
  src/charging-station/meter-values/Prng.ts
  src/charging-station/meter-values/index.ts
  src/charging-station/meter-values/types.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ChargingStationTemplate.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/meter-values/Prng.test.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
  tests/charging-station/ocpp/1.6/OCPP16-CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CoherentSession.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(meter-values): address PR #1935 round-2 review findings (issue #40)
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/meter-values/EvProfiles.ts
  src/charging-station/meter-values/Prng.ts
  src/charging-station/meter-values/index.ts
  src/charging-station/meter-values/types.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
  tests/charging-station/ocpp/1.6/OCPP16-CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(meter-values): address PR #1935 round-3 review findings (issue #40)
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/index.ts
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/meter-values/EvProfiles.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(meter-values): address PR #1935 round-4 review findings (issue #40)
  README.md
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/meter-values/EvProfiles.ts
  src/charging-station/meter-values/Prng.ts
  src/charging-station/meter-values/index.ts
  src/charging-station/meter-values/types.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Constants.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/meter-values/Prng.test.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-01-2333-B794 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-01_233306_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-01_233306_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-01_233306_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-01-2333-B794 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-01_233306_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-01-2333-B794 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(meter-values): OCPP-spec-strict emit + per-phase register + polish (issue #40)
  README.md
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/meter-values/types.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Constants.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/ocpp/1.6/OCPP16-CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(meter-values): periodic-event omission + Energy L-N alignment + polish (issue #40)
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/meter-values/index.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/meter-values/EvProfiles.test.ts
  tests/charging-station/meter-values/Prng.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CoherentSession.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(meter-values): phase-family Record + shared test interval constant (issue #40)
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
  tests/charging-station/ocpp/1.6/OCPP16-CoherentMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore(meter-values): strip internal-review markers + JSDoc/docstring polish (issue #40)
  src/charging-station/ChargingStation.ts
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
  tests/charging-station/ocpp/1.6/OCPP16-CoherentMeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-ForceTxOnInvalid.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CoherentSession.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(meter-values): tighten OCPP schema-cardinality citation + test tolerance message (issue #40)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/meter-values/CoherentMeterValuesGenerator.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(meter-values): use session snapshot for voltage, currentType, numberOfPhases (issue #40)
  src/charging-station/meter-values/CoherentMeterValuesGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
