Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(tests): correct transaction ID validation test to match actual implementation
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: none

test(ocpp20): align tests with OCPP 2.0.1 spec-compliant implementation
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetCertificateStatus.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
Due: none

fix(ocpp2): exclude transactionTxUpdatedSetInterval and transactionEventQueue from serialization
  src/utils/ChargingStationConfigurationUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): use fake timers for sleep
  tests/utils/Utils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: none

chore(gitignore): ignore .sisyphus
  .gitignore
Due: none

chore(gitignore): untrack .sisyphus directory
  .sisyphus/notepads/ocpp2-conformance-fixes/decisions.md
  .sisyphus/notepads/ocpp2-conformance-fixes/issues.md
  .sisyphus/notepads/ocpp2-conformance-fixes/learnings.md
  .sisyphus/notepads/ocpp2-conformance-fixes/problems.md
Due: prettier --cache --write

fix(tests): add missing hasIdTags mock method
  tests/ChargingStationFactory.ts
Due: none

fix(tests): align DeleteCertificate mock return type with handler expectation
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
Due: none

fix(ocpp2): fix charging profile validation for stackLevel 0 and improve test isolation
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: remove duplicate resetConnectorTransactionState function
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): address PR review issues for certificate management
  README.md
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/ocpp/2.0/Common.ts
Due: prettier --cache --write, eslint --cache --fix

chore: untrack .sisyphus directory from PR
  .sisyphus/boulder.json
  .sisyphus/evidence/task-1-build-check.txt
  .sisyphus/evidence/task-1-field-match.txt
  .sisyphus/evidence/task-2-tdd-red.txt
  .sisyphus/evidence/task-2-test-structure.txt
  .sisyphus/evidence/task-4-tdd-red.txt
  .sisyphus/evidence/test-analysis.md
  .sisyphus/evidence/test-results.txt
  .sisyphus/notepads/ocpp2-certificate-management/decisions.md
  .sisyphus/notepads/ocpp2-certificate-management/issues.md
  .sisyphus/notepads/ocpp2-certificate-management/learnings.md
  .sisyphus/notepads/ocpp2-certificate-management/problems.md
  .sisyphus/plans/ocpp2-certificate-management.md
Due: prettier --cache --write

fix: resolve linting warnings for clean format output
  eslint.config.js
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(deps): update bn.js to 5.2.3
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix(ocpp2): remove incorrect GetCertificateStatus incoming handler
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/ocpp/2.0/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): rfc 6960 ocsp hash semantics and path traversal security
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): convert certificate manager file I/O to async
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): use path.sep for cross-platform path validation
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): fix sanitizePath regex to properly remove path traversal sequences
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): remove obsolete GetCertificateStatus incoming handler tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetCertificateStatus.test.ts
Due: none

fix(ocpp2): add OCPP 2.0.1 §2.10 TxProfile validation for RequestStartTransaction
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): improve CertificateManager code quality
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): use DeleteCertificateStatusEnumType instead of string literals
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): add TRIGGER_MESSAGE and UNLOCK_CONNECTOR to OCPP20IncomingRequestCommand enum
  src/types/ocpp/2.0/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): use OCPP20IncomingRequestCommand enum for context.command type and comparisons
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ocpp/2.0/Transaction.ts
Due: prettier --cache --write, eslint --cache --fix

chore: update openspec artifacts
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-bulk-archive.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-ff.md
  .opencode/command/opsx-onboard.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-bulk-archive-change/SKILL.md
  .opencode/skills/openspec-continue-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-ff-change/SKILL.md
  .opencode/skills/openspec-new-change/SKILL.md
  .opencode/skills/openspec-onboard/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-verify-change/SKILL.md
Due: prettier --cache --write

chore: update serena project configuration
  .serena/project.yml
Due: prettier --cache --write

fix(ocpp2): implement ClearCache and Reset OnIdle fixes per audit (CLR-001, CLR-002, RST-001)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add Reset OnIdle errata 2.14 compliance tests (RST-001)
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
Due: none

test(ocpp2): add C11.FR.05 test for Authorization Cache not supported scenario
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
Due: none

chore: cleanup type casting in OCPP 1.6
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix
