Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

docs: refine README
  README.md
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix: ensure simulator will stop after a timeout (120s)
  src/charging-station/Bootstrap.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure id tags cache is properly cleaned
  src/charging-station/IdTagsCache.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

docs: add FIXME
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

feat: display worker set/pool info at startup
  src/charging-station/Bootstrap.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: various fixes to the reservation code
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup worker export
  src/charging-station/ChargingStationWorker.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove debug code
  package.json
  pnpm-lock.yaml
  src/charging-station/ChargingStation.ts
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

fix: fix eslint invocation scripts
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

feat: use OS optimized pool size by default
  package.json
  pnpm-lock.yaml
  src/assets/config-template.json
  src/worker/WorkerConstants.ts
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

refactor: use a directory to store performance related files
  .gitignore
  src/utils/Configuration.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ignore performance top level directory only
  .gitignore
Due: none

chore: version 1.2.17
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

fix: fix roundTo() corner cases
  src/utils/Utils.ts
  test/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: improve code documentation
  .vscode/settings.json
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/IdTagsCache.ts
  src/utils/Utils.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerStaticPool.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: improve helper arguments validation
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine error type in helper
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup package.json version usage
  src/charging-station/Bootstrap.ts
  src/worker/WorkerConstants.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix availableParallelism() usage for min pool size
  src/worker/WorkerConstants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup performance statistics code
  src/performance/PerformanceStatistics.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup imports
  mikro-orm.config-template.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/performance/storage/JsonFileStorage.ts
  src/utils/Configuration.ts
  src/utils/FileUtils.ts
  src/utils/Utils.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerStaticPool.ts
  tsconfig-base.json
Due: prettier --cache --write, eslint --cache --fix

build(simulator): cleanup TS configuration
  tsconfig-base.json
Due: prettier --cache --write

refactor: split Utils static methods class into functions
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/SharedLRUCache.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/broadcast-channel/WorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/performance/PerformanceStatistics.ts
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/Storage.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/Configuration.ts
  src/utils/ErrorUtils.ts
  src/utils/FileUtils.ts
  src/utils/Logger.ts
  src/utils/StatisticUtils.ts
  src/utils/Utils.ts
  src/utils/index.ts
  test/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: split ChargingStationUtils class static methods into functions
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/index.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: wait for workers exit at worket set stop
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/.lintstagedrc.js
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup performance statistics variables namespace
  src/performance/PerformanceStatistics.ts
  src/types/Statistics.ts
  src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write
