Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

feat(ocpp): auto-lock connector on transaction start, auto-unlock on normal termination
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui): reorder Locked column before Transaction in connector table
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/tests/unit/CSConnector.test.ts
Due: none

fix: guard lock unlock on accepted stop, emit updated event, add null status warnings, fix resetConnectorStatus test
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  tests/charging-station/ChargingStation-Connectors.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): only auto-lock connector on accepted transaction start in OCPP 2.0.1
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(core): emit connectorStatusChanged instead of updated on lock state change
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

test: add idempotency tests for lockConnector and unlockConnector
  tests/charging-station/ChargingStation-Connectors.test.ts
Due: none

feat: add connector cable retention lock/unlock simulation (#1754)
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/ConnectorStatus.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/helpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix(webui): add table-layout fixed to connectors table to prevent overflow on action panel open
  ui/web/src/components/charging-stations/CSData.vue
Due: none

refactor(webui): add StateButton, centralize active style, fix refresh lifecycle
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/Button.vue
  ui/web/src/components/buttons/StateButton.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/ToggleButton.test.ts
  ui/web/tests/unit/helpers.ts
Due: none

refactor(webui): use useChargingStations composable in ChargingStationsView
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(webui): extract useExecuteAction composable to eliminate duplication
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
Due: none

fix: post updated message on connectorStatusChanged to fix stale UI cache
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

feat: add server-side refresh notification over WebSocket
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/types/UIProtocol.ts
  src/types/index.ts
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/types/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/helpers.ts
Due: prettier --cache --write, eslint --cache --fix

test(webui): harmonize test stubs, remove AAA comments, add composable and StateButton tests
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/StateButton.test.ts
  ui/web/tests/unit/ToggleButton.test.ts
  ui/web/tests/unit/Utils.test.ts
  ui/web/tests/unit/helpers.ts
Due: none

fix: cleanup connector after queued TransactionEvent.Ended replay
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write, eslint --cache --fix

chore: remove test plan from git tracking
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write

feat(ocpp2): add FirmwareCtrlr component and signature verification variable
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Common.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add firmware signature verification failure tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: none

feat(ocpp2): implement configurable firmware signature verification simulation
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: update README firmware signature verification note
  README.md
Due: prettier --cache --write

fix: respect elementAddDelay by using sequential startup when configured
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): address PR review feedback on firmware signature verification
  README.md
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): improve firmware update spec conformance and test quality
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): type CapturedOCPPRequest.command as OCPP20RequestCommand
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): replace flaky sentRequests assertions with mock.method spy in EVSE monitoring test
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: none

feat(ocpp2): add configurable firmware signature verification simulation (L01.FR.03/L01.FR.04) (#1757)
  README.md
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Common.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1751)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

docs: list OCPP 2.0 device model variables by component in README
  README.md
Due: prettier --cache --write

fix(docs): use bold instead of italic for vendor-specific markers to avoid underscore conflicts
  README.md
Due: prettier --cache --write

fix: use OCPP version-specific parameter keys for meter value measurands
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

feat: resolve OCPP 1.6 configuration keys to OCPP 2.0 equivalents transparently
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ConfigurationKeyUtils.test.ts
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write, eslint --cache --fix

fix: align OCPP 2.0 variable names to spec (LocalPreAuthorization, LocalAuthorizationOffline)
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: add Enabled to OCPP20RequiredVariableName enum and fix LocalAuthListCtrlr.Enabled mapping
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

fix: remove OrganizationName from ISO15118Ctrlr (spec says SecurityCtrlr only)
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat: log once per key when OCPP 1.6 configuration key is remapped to OCPP 2.0 variable
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: use Component.Variable[.Instance] key format for OCPP 2.0 variable persistence
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/index.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ConfigurationKeyUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat: enrich OCPP 2.0 template with OCPP 1.6 equivalent config keys
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ConfigurationKeyUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: type buildRejected reasonCode as ReasonCodeEnumType instead of string
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
Due: prettier --cache --write, eslint --cache --fix
