Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor: use helpers in both ocpp version code path
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: align helpers namespace
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: consolidate type definitions
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup meter values payload defaults handling
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

Apply suggestion from @Copilot
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: factor out meter values generation code (#1585)
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

feat(ocpp2): add RequestStopTransaction command
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/index.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Transaction.ts
  src/utils/Utils.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: improve charging station mock tests
  tests/ChargingStationFactory.test.ts
  tests/ChargingStationFactory.ts
Due: none

Create AI-Driven Development Report
  AI-Driven-Development-Report.md
Due: prettier --cache --write

chore: refine AI agent configurations
  .opencode/command/format-simulator.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  ui/web/README.md
  ui/web/package.json
Due: prettier --cache --write

chore: refine serena memories
  .serena/memories/suggested_commands.md
Due: prettier --cache --write

chore: ocpp log messages harmonization
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: harmonize string casting
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

chore: improve debug level logging in OCPP stack
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

Update src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

chore: remove report
  AI-Driven-Development-Report.md
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

Apply suggestion from @Copilot
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: properly resolve evse id
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/ChargingStationFactory.test.ts
  tests/ChargingStationFactory.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: add helper to lookup evse id
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/ChargingStationFactory.test.ts
  tests/ChargingStationFactory.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup payload validation code
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: cleanup logging code
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup payload validation code
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: align more with specs
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: constify some emums
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ConnectorStatus.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/1.6/Responses.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/Common.ts
  src/types/ocpp/ErrorType.ts
  src/types/ocpp/MessageType.ts
  src/types/ocpp/OCPPVersion.ts
Due: prettier --cache --write, eslint --cache --fix

chore: move opencode configuration to its directory
  .opencode/opencode.jsonc
Due: none

test: fix tests
  tests/ChargingStationFactory.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

refactor: add UUIDv4 type definition
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/ChargingStationWorker.ts
  src/types/UIProtocol.ts
  src/types/UUID.ts
  src/types/WorkerBroadcastChannel.ts
  src/types/index.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Transaction.ts
  src/utils/Utils.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: switch to renovate
  .github/dependabot.yml
  renovate.json
Due: prettier --cache --write

Revert "chore: switch to renovate"
  .github/dependabot.yml
  renovate.json
Due: prettier --cache --write

chore: switch to renovate, take 2
  .github/dependabot.yml
  renovate.json
Due: prettier --cache --write

chore: silence linter
  .vscode/settings.json
  eslint.config.js
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/UUID.ts
  src/types/ocpp/2.0/Common.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

chore: refine renovare configuration
  renovate.json
Due: prettier --cache --write

refactor: spell fixes
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  tests/charging-station/ocpp/auth/types/AuthTypes.test.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
