Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "{src,test}/**/*.{ts,tsx}": ["prettier --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --write", "eslint --cache --fix"]
}

Apply dependencies update
  package-lock.json
  package.json
  src/assets/station-templates/abb-atg.station-template.json
  src/assets/station-templates/abb.station-template.json
  src/assets/station-templates/evlink.station-template.json
  src/assets/station-templates/schneider-imredd.station-template.json
  src/assets/station-templates/schneider.station-template.json
  src/charging-station/ChargingStation.ts
  src/types/ChargingStationTemplate.ts
  src/utils/Constants.ts
  ui/web/src/types/ChargingStationType.ts
Due: prettier --write, eslint --cache --fix

README.md: add link to winston repo
  README.md
Due: prettier --write

Refine some templates handling log messages
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

Document template directive 'firmwareVersionPattern'
  README.md
  src/charging-station/ChargingStationUtils.ts
Due: prettier --write, eslint --cache --fix

Remove unneeded connexion URLs shallow copy
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

Apply dependencies update
  package-lock.json
  package.json
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write

Fixes to performance:
  src/performance/PerformanceStatistics.ts
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Document simulator configuration for Web UI usage.
  package-lock.json
  package.json
  ui/web/README.md
Due: prettier --write

Fix link in ui/web/README.md
  ui/web/README.md
Due: prettier --write

Apply dependencies update
  package-lock.json
  package.json
Due: prettier --write

README.md: fixlet to units acronym
  README.md
Due: prettier --write

Ensure number conversion helpers do not return NaN
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Add initial code structure for update firmware simulation
  src/assets/station-templates/chargex.station-template.json
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/1.6/Responses.ts
Due: prettier --write, eslint --cache --fix

Handle null or undefined meterStart and meterStop properly
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --write, eslint --cache --fix

Fix WebSocket types usage
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

Comment out performance statistics debug code
  src/performance/PerformanceStatistics.ts
Due: prettier --write, eslint --cache --fix

WorkerSet: remove ugly hack to deal with async worker message handler
  package-lock.json
  package.json
  src/types/Worker.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerSet.ts
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write, eslint --cache --fix

Optimize worker handlers calls by binding them to the current instance
  .eslintrc.json
  package-lock.json
  package.json
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/types/Worker.ts
  src/utils/Utils.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerStaticPool.ts
Due: prettier --write, eslint --cache --fix

Add instructions to try out Web UI
  ui/web/README.md
Due: prettier --write

add screenshot
  ui/web/assets/webui.png
Due: none

Silence one eslint warning
  src/worker/WorkerSet.ts
Due: prettier --write, eslint --cache --fix

Apply dependencies update
  package-lock.json
  package.json
  src/charging-station/Bootstrap.ts
  ui/web/README.md
Due: prettier --write, eslint --cache --fix

Use import type in more places
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --write, eslint --cache --fix

More import type usage
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/MessageChannelUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/worker/WorkerFactory.ts
Due: prettier --write, eslint --cache --fix

Add initial classes structure for the OCPP 2.0 stack
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/Statistics.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/Requests.ts
Due: prettier --write, eslint --cache --fix

Hook the OCPP 2.0 stack into the main code
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/exception/OCPPError.ts
  src/performance/PerformanceStatistics.ts
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/performance/storage/Storage.ts
  src/performance/storage/StorageFactory.ts
  src/start.ts
  src/types/ChargingStationWorker.ts
  src/types/ConfigurationData.ts
  src/types/Statistics.ts
  src/types/ocpp/ChargePointErrorCode.ts
  src/types/ocpp/ChargePointStatus.ts
  src/types/ocpp/ChargingProfile.ts
  src/types/ocpp/Configuration.ts
  src/types/ocpp/MeterValues.ts
  src/types/ocpp/OCPPVersion.ts
  src/types/ocpp/Requests.ts
  src/types/ocpp/Responses.ts
  src/types/ocpp/Transaction.ts
  src/utils/CircularArray.ts
  src/utils/ElectricUtils.ts
  src/utils/Utils.ts
  src/worker/WorkerSet.ts
  ui/web/src/types/ChargingStationType.ts
Due: prettier --write, eslint --cache --fix

Simplify statistics map typing at init
  src/performance/PerformanceStatistics.ts
Due: prettier --write, eslint --cache --fix

Whitespace cleanup in log messages
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --write, eslint --cache --fix

Import cleanups
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
Due: prettier --write, eslint --cache --fix

Apply dependencies update
  package-lock.json
  package.json
  src/types/ChargingStationTemplate.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/Requests.ts
Due: prettier --write, eslint --cache --fix

Migrate all JSON schemas to draft-06 or higher
  package-lock.json
  package.json
  src/assets/json-schemas/ocpp/1.6/Authorize.json
  src/assets/json-schemas/ocpp/1.6/AuthorizeResponse.json
  src/assets/json-schemas/ocpp/1.6/BootNotification.json
  src/assets/json-schemas/ocpp/1.6/BootNotificationResponse.json
  src/assets/json-schemas/ocpp/1.6/ChangeAvailability.json
  src/assets/json-schemas/ocpp/1.6/ChangeConfiguration.json
  src/assets/json-schemas/ocpp/1.6/ClearCache.json
  src/assets/json-schemas/ocpp/1.6/ClearChargingProfile.json
  src/assets/json-schemas/ocpp/1.6/DataTransfer.json
  src/assets/json-schemas/ocpp/1.6/DataTransferResponse.json
  src/assets/json-schemas/ocpp/1.6/DiagnosticsStatusNotification.json
  src/assets/json-schemas/ocpp/1.6/DiagnosticsStatusNotificationResponse.json
  src/assets/json-schemas/ocpp/1.6/GetCompositeSchedule.json
  src/assets/json-schemas/ocpp/1.6/GetConfiguration.json
  src/assets/json-schemas/ocpp/1.6/GetDiagnostics.json
  src/assets/json-schemas/ocpp/1.6/Heartbeat.json
  src/assets/json-schemas/ocpp/1.6/HeartbeatResponse.json
  src/assets/json-schemas/ocpp/1.6/MeterValues.json
  src/assets/json-schemas/ocpp/1.6/MeterValuesResponse.json
  src/assets/json-schemas/ocpp/1.6/RemoteStartTransaction.json
  src/assets/json-schemas/ocpp/1.6/RemoteStopTransaction.json
  src/assets/json-schemas/ocpp/1.6/Reset.json
  src/assets/json-schemas/ocpp/1.6/SetChargingProfile.json
  src/assets/json-schemas/ocpp/1.6/StartTransaction.json
  src/assets/json-schemas/ocpp/1.6/StartTransactionResponse.json
  src/assets/json-schemas/ocpp/1.6/StatusNotification.json
  src/assets/json-schemas/ocpp/1.6/StatusNotificationResponse.json
  src/assets/json-schemas/ocpp/1.6/StopTransaction.json
  src/assets/json-schemas/ocpp/1.6/StopTransactionResponse.json
  src/assets/json-schemas/ocpp/1.6/TriggerMessage.json
  src/assets/json-schemas/ocpp/1.6/UnlockConnector.json
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --write, eslint --cache --fix

Add missing OCPP 1.6 command payload JSON schemas
  src/assets/json-schemas/ocpp/1.6/FirmwareStatusNotification.json
  src/assets/json-schemas/ocpp/1.6/FirmwareStatusNotificationResponse.json
  src/assets/json-schemas/ocpp/1.6/GetCompositeScheduleResponse.json
Due: prettier --write

Cleanup rollup bundler externals
  rollup.config.mjs
  src/utils/Logger.ts
Due: prettier --write, eslint --cache --fix

Move OCPP command payload constants into its own file
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/utils/Constants.ts
Due: prettier --write, eslint --cache --fix

Fixes to OCPP 1.6 payload type definitions
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/types/ocpp/1.6/MeterValues.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/1.6/Transaction.ts
Due: prettier --write, eslint --cache --fix

Remove now useless Date conversions to string
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
Due: prettier --write, eslint --cache --fix
