Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor(ocpp): rename SignedMeter* files to follow OCPP* naming convention
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterDataGenerator.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/OCPPSignedMeterDataGenerator.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterValueUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract generic SignedSampledValueResult<T> to shared utils
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/charging-station/ocpp/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract shared SigningConfig interface, OCPP20SampledValueSigningConfig extends it
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/charging-station/ocpp/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use roundTo helper instead of Number/toFixed for kWh conversion
  src/charging-station/ocpp/OCPPSignedMeterDataGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

style(mock-server): reorder signed MV tests to follow Started/Updated/Ended lifecycle
  tests/ocpp-server/test_server.py
Due: none

refactor(ocpp): move SampledValueSigningConfig to shared utils, remove version-specific type import from common code
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): map StartTxnSampledData to SampledDataCtrlr.TxStartedMeasurands, remove VERSION_16 guard
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

style: remove unnecessary parenthetical from eslint cspell comment
  eslint.config.js
Due: prettier --cache --write, eslint --cache --fix

style: rename Configuration.test.ts to OCPP16VendorParametersKey.test.ts to reflect content
  tests/types/ocpp/1.6/OCPP16VendorParametersKey.test.ts
Due: none

refactor(ocpp): rename ocpp20SigningConfig/State to signingConfig/State (version-agnostic)
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

style: harmonize blank lines in OCPP20VariableRegistry between component sections
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

style: remove unjustified blank lines before inline comments within same component section
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2.0): add missing DeviceDataCtrlr section comment in variable registry
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): add signed meter values support for OCPP 1.6 and 2.0.x (#1775)
  README.md
  eslint.config.js
  src/assets/station-templates/keba-ocpp2-signed.station-template.json
  src/assets/station-templates/virtual-simple-signed.station-template.json
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterDataGenerator.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/charging-station/ocpp/index.ts
  src/types/ConnectorStatus.ts
  src/types/index.ts
  src/types/ocpp/1.6/Configuration.ts
  src/types/ocpp/1.6/MeterValues.ts
  src/types/ocpp/2.0/Variables.ts
  src/types/ocpp/Configuration.ts
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterDataGenerator.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterValueUtils.test.ts
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
  tests/types/ocpp/1.6/MeterValues.test.ts
  tests/types/ocpp/1.6/OCPP16VendorParametersKey.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): populate signingMethod field and add SigningMethodEnumType enum
  README.md
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterDataGenerator.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/types/index.ts
  src/types/ocpp/1.6/Configuration.ts
  src/types/ocpp/1.6/MeterValues.ts
  src/types/ocpp/2.0/MeterValues.ts
  src/types/ocpp/Configuration.ts
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterDataGenerator.test.ts
  tests/types/ocpp/1.6/MeterValues.test.ts
  tests/types/ocpp/1.6/OCPP16VendorParametersKey.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): add EncodingMethodEnumType enum for signed meter value encoding methods
  src/charging-station/ocpp/OCPPSignedMeterDataGenerator.ts
  src/types/index.ts
  src/types/ocpp/1.6/MeterValues.ts
  src/types/ocpp/2.0/MeterValues.ts
  src/types/ocpp/Configuration.ts
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterDataGenerator.test.ts
  tests/types/ocpp/1.6/MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): rename OCPP16VendorParametersKey test to match source file
  tests/types/ocpp/1.6/Configuration.test.ts
Due: none

refactor(tests): harmonize test file names and @file descriptions
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-ChargingProfiles.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestService-CallChain.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-SchemaValidation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SchemaValidation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestBuilders-SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-CallChain.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AuthCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-ReconnectDelay.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterDataGenerator.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterValueUtils.test.ts
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
  tests/types/ocpp/1.6/Configuration.test.ts
  tests/types/ocpp/1.6/MeterValues.test.ts
  tests/utils/Configuration.test.ts
Due: none

fix(ocpp): conform signingMethod to OCA spec and fix template curve mismatch
  src/assets/station-templates/keba-ocpp2-signed.station-template.json
  src/charging-station/ocpp/OCPPSignedMeterDataGenerator.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestBuilders-SignedMeterValues.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterDataGenerator.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): auto-derive signing method from EC public key curve
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestBuilders-SignedMeterValues.test.ts
Due: none

feat(ocpp): add signing prerequisites validation and EC curve auto-derivation
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  tests/charging-station/ocpp/OCPPSignedMeterValueUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use Node.js crypto for EC curve derivation
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  tests/charging-station/ocpp/OCPPSignedMeterValueUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(crypto): modernize crypto APIs and harden certificate handling
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/2.0/Asn1DerUtils.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPSignedMeterDataGenerator.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/Asn1DerUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateTestData.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): use Volatile instead of invented Ephemeral for CertificatePrivateKey persistence
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): harmonize crypto test data and improve test quality
  tests/charging-station/ocpp/2.0/Asn1DerUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateTestData.ts
Due: none

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1780)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

feat(ocpp): add local auth list types for OCPP 1.6 and 2.0
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/1.6/Responses.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): add InMemoryLocalAuthListManager implementation
  src/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.ts
  src/charging-station/ocpp/auth/index.ts
  tests/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): export local auth list types from main types barrel
  src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): wire LocalAuthListManager into auth subsystem
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  tests/charging-station/ocpp/auth/factories/AuthComponentFactory.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp/2.0): implement GetLocalListVersion and SendLocalList handlers
  src/assets/json-schemas/ocpp/1.6/SendLocalList.json
  src/charging-station/ocpp/1.6/OCPP16Constants.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/1.6/__testable__/index.ts
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: mark Local Auth List Management commands as implemented
  README.md
Due: prettier --cache --write

style: apply formatting to local auth list test file
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-LocalAuthList.test.ts
Due: none

fix(ocpp): enforce VersionMismatch and size limits in SendLocalList handlers
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): address PR review feedback on local auth list implementation
  src/assets/json-schemas/ocpp/1.6/SendLocalList.json
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.ts
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): improve robustness and consistency in local auth list handlers
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): fix config key, atomicity, and version validation in local auth list
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  src/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): harmonize validation ordering and improve type safety in local auth list
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): add error logging to OCPP 1.6 local auth list catch blocks
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.ts
Due: prettier --cache --write, eslint --cache --fix
