Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

feat(ui): introduce toggle button and use it for actions
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): refresh add charging stations button on UI server switch
  ui/web/src/composables/UIClient.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): do not clear toggle button states on reload
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): trivial code cleanups
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): rerender shared toggle buttons properly
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

feat(ui): use toggle button to star/stop simulator
  src/charging-station/Bootstrap.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/views/ChargingStationsView.vue
Due: prettier --cache --write, eslint --cache --fix

docs: refine GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

docs: refine GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --cache --write

refactor(ui): cleanup props usage
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): cleanup CSS styling
  ui/web/src/components/buttons/Button.vue
  ui/web/src/components/buttons/FlatButton.vue
  ui/web/src/components/buttons/ReloadButton.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): cleanup CSS styling
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): cleanup helper namespace
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): put all main actions to the same bar
  ui/web/src/App.vue
  ui/web/src/components/buttons/Button.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): refine UI server selector styling
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): strong type pages ref
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ToggleButton.vue
Due: none

fix(ui): fix connector(s) column flex direction
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

feat: expose template stats to UI server simulatorState command
  src/charging-station/Bootstrap.ts
  src/types/Statistics.ts
  src/types/UIProtocol.ts
  src/types/index.ts
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/types/index.ts
  ui/web/src/views/ChargingStationsView.vue
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): refine CS table width sizing
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

docs: update Web UI screenshot
  ui/web/src/assets/webui.png
Due: none

chore: version 1.2.38
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

fix(ui): ensure the tool bar is sized at 100% width
  ui/web/src/App.vue
  ui/web/src/components/buttons/Button.vue
  ui/web/src/components/buttons/ReloadButton.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): trivial code cleanup
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): refine simulator button style
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): refine toggle button styling
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): refine action container styling
  ui/web/src/App.vue
  ui/web/src/components/actions/AddChargingStations.vue
Due: none

refactor(ui): cleanup actions panel
  ui/web/src/App.vue
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

docs(ui): update Web UI screenshot
  ui/web/src/assets/webui.png
Due: none

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

perf(ui): use computed ref when possible
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): handle missing version in simulator state
  ui/web/src/views/ChargingStationsView.vue
Due: none

build: use pnpm workspace
  .github/dependabot.yml
  docker/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ui/web/README.md
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix(docker): fix Web UI path in start shell script
  docker/start.sh
Due: none

fix: ensure docker image configurations can be overriden from assets/configs-docker
  .gitignore
  bundle.js
  docker/autoconfig.sh
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(simulator): ftp client incorrect access request when custom port present in the uri
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: get diagnostics is trying to upload the incorrect folder
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

refactor(ui): cleanup data fetching and display refreshing logic
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): cleanup initial data fetching code
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
