Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor: ensure all worker events are remitted in main thread
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix worker event error handling
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine worker event error log message
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply udpates
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

feat: add options to `addChargingStations` UI protocol command
  README.md
  src/assets/ui-protocol/Insomnia-CSSimulatorUIHTTPProtocol.json
  src/assets/ui-protocol/Insomnia-CSSimulatorUIWSProtocol.json
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/ChargingStationWorker.ts
  src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

docs: fix README.md formatting
  README.md
Due: prettier --cache --write

docs: update UI protocol requests collections
  src/assets/ui-protocol/Insomnia-CSSimulatorUIHTTPProtocol.json
  src/assets/ui-protocol/Insomnia-CSSimulatorUIWSProtocol.json
Due: prettier --cache --write

docs: refine README.md
  README.md
Due: prettier --cache --write

refactor: cleanup variables namespace
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): remove uneeded helpers
  ui/web/src/composables/UIClient.ts
Due: none

feat(ui): add template name to charging stations list
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSInfoModal.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSTable.spec.ts
Due: none

feat(ui): display supervision url in charging stations list
  src/charging-station/ChargingStation.ts
  src/types/ChargingStationWorker.ts
  src/utils/MessageChannelUtils.ts
  ui/web/src/App.vue
  ui/web/src/components/Container.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSInfoModal.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSTable.spec.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): refine charging stations table caption style
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

feat: allow to override more template tunables at addChargingStations UI command
  README.md
  src/charging-station/ChargingStation.ts
  src/types/ChargingStationWorker.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: code formatting fixlets
  README.md
  src/types/ChargingStationWorker.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix stationInfo persistent configuration default
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup default stationInfo handling
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

feat: allow to override event more template tunables at addChargingStations UI command
  README.md
  src/charging-station/ChargingStation.ts
  src/types/ChargingStationWorker.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): align text casing
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

refactor: consolidate default values handling
  README.md
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/exception/OCPPError.ts
  src/types/ChargingStationWorker.ts
  src/utils/Constants.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

feat: add `deleteChargingStations` SRPC command to UI Services
  README.md
  pnpm-lock.yaml
  src/assets/ui-protocol/Insomnia-CSSimulatorUIHTTPProtocol.json
  src/assets/ui-protocol/Insomnia-CSSimulatorUIWSProtocol.json
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/performance/PerformanceStatistics.ts
  src/types/ChargingStationEvents.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  src/utils/Constants.ts
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup charging station options handling
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/IdTagsCache.ts
Due: prettier --cache --write, eslint --cache --fix

fix: do not leak event listeners at charging station deletion
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure persistence configuration override is taken in all case
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: convert to nullish condition check where appropriate
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure workers are unreferenced at termination
  package.json
  pnpm-lock.yaml
  src/worker/WorkerSet.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

refactor: factor out more charging station options handling code
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use syntax shortcuts
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: flag worker set as stopped as soon the stopped event is emitted
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

fix: find the first free indexes at adding charging stations
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/types/ChargingStationInfo.ts
Due: prettier --cache --write, eslint --cache --fix

feat: allow to override supervisionUrls at adding charging stations
  README.md
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/types/ChargingStationWorker.ts
  ui/web/src/types/ChargingStationType.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

chore: version 1.2.36
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

refactor: align charging station info between simulator and ui
  src/types/ChargingStationInfo.ts
  ui/web/src/types/ChargingStationType.ts
Due: prettier --cache --write, eslint --cache --fix
