Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix: refine variable registry
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use existing enum
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

test: add configuration utils tests
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ConfigurationKeyUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: removed outdated markdown
  docs/GetVariables-Gap-Analysis.md
Due: prettier --cache --write

refactor: factor out common logic
  README.md
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use builtin helpers
  CHANGELOG.md
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove unneeded comment
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

fix(ocpp20): align TxStartPoint/TxStopPoint defaults and enumerations with OCPP 2.0.1 errata
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): add GetVariables list defaults coverage and update registry enumerations
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): add read-only FileTransferProtocols regression test
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

test(ocpp20): fix invalid list formats test for read-only FileTransferProtocols
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

chore: add opencode commands to run simulator tests
  .opencode/command/tests-simulator-file.md
  .opencode/command/tests-simulator.md
Due: prettier --cache --write

refactor(ocpp2): introduce measurand enum and use it
  .serena/memories/ocpp_architecture.md
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/MeterValues.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): refine variables handling
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): add RequestStartTransaction command
  .opencode/agent/review.md
  .opencode/command/format-simulator.md
  .serena/memories/code_style_conventions.md
  eslint.config.js
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/ChargingProfile.ts
  tests/ChargingStationFactory.test.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestConstants.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: refine opencode configuration
  .opencode/command/test-simulator.md
  .opencode/command/tests-simulator-file.md
Due: prettier --cache --write

chore: refine opencode configuration
  .opencode/agent/review.md
  .opencode/command/format-simulator.md
  .opencode/command/test-simulator.md
Due: prettier --cache --write

chore: refine GH copilot instructions
  .github/copilot-instructions.md
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/MeterValues.ts
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

refactor: factor out OCPP2 MeterValues types definition
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/MeterValues.ts
  src/types/ocpp/MeterValues.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanups OCPP2 type definition
  eslint.config.js
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/MeasurandPerPhaseSampledValueTemplates.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Transaction.ts
  src/types/ocpp/2.0/Variables.ts
  src/types/ocpp/MeterValues.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ocpp2 type definition
  src/types/ocpp/2.0/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: standardize OCPP2 unit references using enum constants
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/MeterValues.ts
  src/types/ocpp/2.0/Transaction.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: move OCPP20UnitEnumType enum to Common.ts for better architectural organization
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/MeterValues.ts
  src/types/ocpp/MeterValues.ts
Due: prettier --cache --write, eslint --cache --fix

chore: cleanup meter values types integration
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/MeasurandPerPhaseSampledValueTemplates.ts
  src/types/index.ts
  src/types/ocpp/2.0/Transaction.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup OCPP stack error messages
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use enums in variables registry
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

Update tests/ChargingStationFactory.ts
  tests/ChargingStationFactory.ts
Due: none

fix: proper type definition for SampledValueTemplate
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ConnectorStatus.ts
  src/types/MeasurandPerPhaseSampledValueTemplates.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: code formatting
  tests/ChargingStationFactory.ts
Due: none

Apply suggestion from @Copilot
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test: refine request transaction payload
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: none

refactor: handle remoteStartId
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/ConnectorStatus.ts
  src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

docs: update README.md
  README.md
Due: prettier --cache --write

feat(ocpp2): add RequestStartTransaction command (#1583)
  .opencode/agent/review.md
  .opencode/command/format-simulator.md
  .opencode/command/test-simulator.md
  .opencode/command/tests-simulator-file.md
  .serena/memories/code_style_conventions.md
  README.md
  eslint.config.js
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ConnectorStatus.ts
  src/types/MeasurandPerPhaseSampledValueTemplates.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/MeterValues.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Transaction.ts
  src/types/ocpp/2.0/Variables.ts
  src/types/ocpp/ChargingProfile.ts
  src/types/ocpp/ConnectorEnumType.ts
  src/types/ocpp/ConnectorStatusEnum.ts
  src/types/ocpp/MeterValues.ts
  tests/ChargingStationFactory.test.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestConstants.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): reset properly connector at start transaction failure
  package.json
  pnpm-lock.yaml
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/Helpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: cleanup npm configuration
  .npmrc
Due: none

chore: update openspec configuration
  openspec/AGENTS.md
Due: prettier --cache --write

refactor: factor out meter values generation code
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
