Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

ci: update mypy target to Python 3.14 in OCPP mock server
  tests/ocpp-server/pyproject.toml
Due: none

docs: harmonize project memories with current codebase state
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
Due: prettier --cache --write

docs: add monorepo structure to copilot instructions, clarify command scopes
  .github/copilot-instructions.md
  .opencode/command/format-simulator.md
  .opencode/command/test-simulator.md
  ui/common/README.md
Due: prettier --cache --write

docs: update openspec config with UI Common and CLI sub-projects
  openspec/config.yaml
Due: prettier --cache --write

refactor: remove redundant EmptyObject from CommandResponse union
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

fix: make CLI authorize and transaction commands OCPP 2.0.1 compatible
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

fix(cli): make high-level transaction and authorize commands OCPP version-aware
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
  ui/cli/tests/action.test.ts
  ui/common/src/types/ChargingStationType.ts
Due: none

docs(cli): clarify prefix matching behavior in resolveOcppVersion JSDoc
  ui/cli/src/commands/action.ts
Due: none

refactor(cli): use switch/case for OCPP version branching and clean up help text
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
Due: none

fix(cli): address audit findings for cross-version OCPP compliance
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/types/UIProtocol.ts
  ui/cli/src/commands/ocpp.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(cli): consolidate version detection, fix DRY violations, and harden edge cases
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
  ui/cli/tests/action.test.ts
  ui/common/src/types/ChargingStationType.ts
Due: prettier --cache --write, eslint --cache --fix

style: remove unnecessary duplication comments in ui/common enums
  ui/common/src/types/ChargingStationType.ts
Due: none

refactor(cli): use commander conflicts() for mutually exclusive options
  ui/cli/src/commands/ocpp.ts
Due: none

fix(cli): resolve audit findings — BUG-01, DRY-01, DEAD-01, ROBUST-01, PERF-01
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
Due: none

chore: refine .gitignore
  .gitignore
Due: none

fix(cli): simplify OCPP 2.0.x transaction payloads to match builder options
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
  ui/cli/tests/action.test.ts
Due: none

docs(ui-server): sync ChargingStationOptions docs with source interface
  README.md
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  ui/common/src/types/ChargingStationType.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): allow per-call override of station identity and CSMS credentials
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/types/ChargingStationWorker.ts
  tests/charging-station/Helpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): allow setSupervisionUrl to update CSMS credentials
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-web): expose baseName, fixedName and CSMS credentials in add-station dialog
  ui/web/src/components/actions/AddChargingStations.vue
Due: none

fix(ui-web): serve index.html as SPA fallback so deep-linked routes survive reload
  ui/web/start.js
Due: prettier --cache --write, eslint --cache --fix

feat(ui-web): expose CSMS credentials in set-supervision dialog
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/composables/UIClient.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
  ui/web/tests/unit/UIClient.test.ts
Due: none

fix(webui-docker): include workspace root node_modules so pnpm symlinks resolve
  ui/web/docker/Dockerfile
Due: none

fix(webui-docker): include workspace root node_modules so pnpm symlinks resolve (#1806)
  ui/web/docker/Dockerfile
Due: none

test(ui-web): update AddChargingStations tests for new fields
  ui/web/tests/unit/AddChargingStations.test.ts
Due: none

fix(cli): harmonize all OCPP commands with version-aware conflicts pattern
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
Due: none

fix(cli): add connectorId to transaction stop for OCPP 2.0.x and harmonize evseId conflicts
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
Due: none

fix(cli): update JSDoc and comments to match current behavior
  ui/cli/src/commands/action.ts
Due: none

fix(cli): route version-detection errors through formatter for --json mode
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
Due: none

Apply suggestion from @jerome-benoit
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(cli): extract shared error formatter and clean up exports
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
Due: none

fix(cli): standardize option help texts and remove redundancy
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
Due: none

docs(cli): document version-aware commands and new OCPP 2.0.x options
  ui/cli/README.md
  ui/cli/skills/evse-simulator/SKILL.md
Due: prettier --cache --write

docs(cli): fix pre-existing documentation gaps in README and SKILL.md
  ui/cli/README.md
  ui/cli/skills/evse-simulator/SKILL.md
Due: prettier --cache --write

fix(cli): harmonize user-facing strings and fix documentation accuracy
  ui/cli/README.md
  ui/cli/skills/evse-simulator/SKILL.md
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/station.ts
  ui/cli/src/commands/transaction.ts
Due: prettier --cache --write

refactor(cli): extract duplicated unsupported version error in transaction.ts
  ui/cli/src/commands/transaction.ts
Due: none

fix(cli): correct meter-values payload for OCPP 2.0.x stations
  ui/cli/src/commands/ocpp.ts
Due: none

docs(cli): align meter-values documentation with evseId-only OCPP 2.0.x fix
  ui/cli/README.md
  ui/cli/skills/evse-simulator/SKILL.md
Due: prettier --cache --write

fix(cli): harmonize meter-values help texts and error message
  ui/cli/src/commands/ocpp.ts
Due: none

fix(cli): use SCREAMING_CASE for error constant and add missing exit code
  ui/cli/skills/evse-simulator/SKILL.md
  ui/cli/src/commands/transaction.ts
Due: prettier --cache --write
