Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(deps): leave changelog to release automation
  CHANGELOG.md
Due: prettier --cache --write

fix(deps): support typescript-eslint 8.71
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/charging-station/ChargingStation.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestBuilders.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPIncomingRequestService-StationState.test.ts
  tests/charging-station/ocpp/auth/factories/AuthComponentFactory.test.ts
  tests/charging-station/ocpp/auth/utils/AuthValidators.test.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
  tests/utils/Configuration.test.ts
  tests/utils/ConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-common): validate websocket ready state
  ui/common/src/client/adapter.ts
Due: none

fix(ui): validate protocol enum inputs
  ui/cli/src/commands/ocpp.ts
  ui/common/src/index.ts
  ui/common/src/utils/enum.ts
  ui/web/src/skins/classic/components/actions/StartTransaction.vue
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
Due: none

fix: validate protocol enum inputs
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/types/ocpp/1.6/MeterValues.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestBuilders.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-SignedMeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestBuilders.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/OCPPSignedMeterValueUtils.test.ts
  ui/web/src/skins/classic/components/actions/StartTransaction.vue
  ui/web/tests/unit/skins/classic/Actions.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(types): harden dependency upgrade compatibility
  pnpm-lock.yaml
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/exception/OCPPError.ts
  src/performance/PerformanceStatistics.ts
  src/types/MeasurandPerPhaseSampledValueTemplates.ts
  src/types/Statistics.ts
  src/types/index.ts
  src/types/ocpp/2.0/MeterValues.ts
  src/types/ocpp/ChargingProfile.ts
  src/types/ocpp/MeterValues.ts
  src/types/ocpp/Requests.ts
  src/utils/ErrorUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reset.test.ts
  tests/types/ocpp/ChargingProfile.test.ts
  tests/types/ocpp/MeterValues.test.ts
  ui/web/package.json
  ui/web/src/skins/classic/ClassicLayout.vue
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
Due: prettier --cache --write, eslint --cache --fix

fix: harden meter values and UI errors
  CHANGELOG.md
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/MeterValueUtils.ts
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/meter-values/index.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIHttpServer.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestBuilders.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-MeterValues.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use meter value unit enums
  CHANGELOG.md
  cspell.config.yaml
  src/charging-station/meter-values/MeterValueUtils.ts
  src/types/ocpp/1.6/MeterValues.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): reuse canonical enum values
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/types/index.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): address dependency refresh regressions
  src/charging-station/ChargingStation.ts
  src/charging-station/meter-values/MeterValueUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestBuilders.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp16): reject unsupported unit descriptors
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestBuilders.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 10-05-2312-E489 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-05_231226_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-05_231226_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-05_231226_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-05-2312-E489 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-05_231226_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-05-2312-E489 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 10-06-2312-F325 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-06_231237_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-06_231237_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-06_231237_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-06-2312-F325 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-06_231237_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-06-2312-F325 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(charging-station): guard every supervision URL parsing path
  cspell.config.yaml
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(charging-station): cover every supervision URL guard and isolate the suite
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
  tests/charging-station/ChargingStation-SupervisionUrl.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: replace volta with mise for toolchain management
  .mise.toml
  README.md
  package.json
  ui/cli/package.json
  ui/common/package.json
  ui/web/package.json
Due: prettier --cache --write

chore: read mise toolchain versions from package.json
  .gitignore
  .mise.toml
  README.md
  package.json
Due: prettier --cache --write

docs: keep development setup instructions focused on the project
  README.md
Due: prettier --cache --write

chore: replace volta with mise for toolchain management (#2143)
  .gitignore
  .mise.toml
  README.md
  package.json
  ui/cli/package.json
  ui/common/package.json
  ui/web/package.json
Due: prettier --cache --write

fix(charging-station): normalize supervision URL before persisting
  README.md
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-Configuration.test.ts
  tests/charging-station/ChargingStation-SupervisionUrl.test.ts
  tests/charging-station/fixtures/supervisionUrlWorker.mjs
Due: prettier --cache --write, eslint --cache --fix

refactor: reuse test helpers and keep README user-focused
  README.md
  tests/charging-station/ChargingStation-SupervisionUrl.test.ts
  tests/charging-station/fixtures/supervisionUrlWorker.mjs
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): throw BaseError on invalid supervision URL and revert state on set failure (#2136)
  cspell.config.yaml
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-Configuration.test.ts
  tests/charging-station/ChargingStation-SupervisionUrl.test.ts
  tests/charging-station/fixtures/supervisionUrlWorker.mjs
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 10-07-2311-02F4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-07_231139_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-07_231139_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-07_231139_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-07-2311-02F4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-07_231139_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-07-2311-02F4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 10-08-2312-E561 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-08_231207_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-08_231207_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-08_231207_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-08-2312-E561 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-08_231207_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-08-2312-E561 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 10-09-2312-26E0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-09_231215_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-09_231215_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-09_231215_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-09-2312-26E0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-09_231215_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-09-2312-26E0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 10-10-2312-3E69 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-10_231210_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-10_231210_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-10_231210_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-10-2312-3E69 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-10_231210_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-10-2312-3E69 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write
