Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

docs: refine README.md
  README.md
Due: prettier --cache --write

build: update volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix: ensure log prefix helper is initialized at configuration handling
  rollup.config.mjs
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

test: switch to node.js test runner
  .cfignore
  .eslintrc.json
  .mocharc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  test/robohydra/config.json
  test/robohydra/messages.txt
  test/robohydra/plugins/wsServer/index.js
  test/utils/CircularArray.test.ts
  test/utils/StatisticUtils.test.ts
  test/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

build(ci): run on node 20.x
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

test: fix windows globstar pattern handling
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: cleanup package.json scripts
  .github/workflows/ci.yml
  package.json
Due: prettier --cache --write

refactor: null -> undefined where appropriate
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  ui/web/src/composables/UIClient.ts
Due: prettier --cache --write, eslint --cache --fix

test: cleanup empty file
  test/charging-station/ChargingStation.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: rename test -> tests
  .cfignore
  .lintstagedrc.json
  package.json
  sonar-project.properties
  tests/utils/CircularArray.test.ts
  tests/utils/StatisticUtils.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: cleanup .gitignore files
  .gitignore
  ui/web/.gitignore
Due: none

build(ci): fail if pnpm lockfile is not up2date
  .github/workflows/ci.yml
  docker/Dockerfile
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFixedPool.ts
  src/worker/WorkerSet.ts
  ui/web/.vscode/settings.json
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

feat: emit started/stopped event on worker set
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.2.23
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

refactor: convert commonjs files to esm
  .eslintignore
  build-requirements.js
  docker/Dockerfile
  package.json
  prepare.js
  rollup.config.js
  skip-preinstall.js
Due: prettier --cache --write, eslint --cache --fix

build(simulator): do not copy .npmrc on docker image
  docker/Dockerfile
Due: none

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

test(simulator): recommend and setup extension for node.js test runner
  .vscode/extensions.json
  .vscode/settings.json
  e-mobility-charging-stations-simulator.code-workspace
Due: prettier --cache --write

test(ui): recommend vitest code extension
  ui/web/.vscode/extensions.json
Due: prettier --cache --write

test: toThrowError() -> toThrow()
  tests/utils/CircularArray.test.ts
  tests/utils/Utils.test.ts
Due: none

build(deps-dev): apply updates
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix: failed execution in docker container
  docker/Dockerfile
Due: none

Update docker/Dockerfile
  docker/Dockerfile
Due: none

build: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

test: fix node --loader -> --import
  e-mobility-charging-stations-simulator.code-workspace
  package.json
Due: prettier --cache --write

build(ci): add node.js 21.x
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: prettier --cache --write

build: update pnpm lock file
  pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
