Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

chore(deps): get rid of rambda
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/bundle.js
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/SharedLRUCache.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/performance/PerformanceStatistics.ts
  src/utils/Configuration.ts
  src/utils/Constants.ts
  src/utils/StatisticUtils.ts
  src/utils/Utils.ts
  src/utils/index.ts
  src/worker/WorkerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine type definitions
  src/charging-station/ChargingStation.ts
  src/utils/Utils.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerTypes.ts
  tests/utils/ConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: add UTs for newly added helpers
  src/utils/Utils.ts
  tests/utils/StatisticUtils.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

added vendor to VendorID Enum
  src/types/ocpp/1.6/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

Added more ChargingStation VendorIds to the enum
  src/types/ocpp/1.6/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

chore: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix: check vendorId against CS template at DataTransfer cmd handling
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/1.6/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

fix: check vendorId against CS template at DataTransfer cmd handling (#1450)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/1.6/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1428)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: add CODEOWNERS file
  .github/dependabot.yml
  CODEOWNERS
Due: prettier --cache --write

Combined PRs (#1456)
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

perf: speed up mean and median computation
  scripts/bundle.js
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/utils/Configuration.ts
  src/utils/StatisticUtils.ts
  src/utils/Utils.ts
  tests/charging-station/Helpers.test.ts
  tests/utils/ErrorUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup statistics related namespace
  src/performance/PerformanceStatistics.ts
  src/types/Statistics.ts
  src/types/orm/entities/PerformanceRecord.ts
  src/utils/StatisticUtils.ts
  src/utils/index.ts
  tests/utils/StatisticUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup empty data structure checks
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: handle empty string configuration file name
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1453)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore: lock file maintenance
  tests/ocpp-server/poetry.lock
Due: none

chore(deps-dev): apply updates
  tests/ocpp-server/poetry.lock
Due: none

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

feat: authorize transactions against ocpp server before starting transactions
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui): allow to authorize RFID tag at start transaction
  README.md
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/types/UIProtocol.ts
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/UIProtocol.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): routing behavior
  ui/web/src/components/actions/StartTransaction.vue
Due: none

chore(deps-dev): apply updates
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
