Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix(webui): polish the station details view (panel placement + section/key-value separation) (#2076)
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/modern/components/dialogs/ShowDetailsDialog.vue
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/classic/CSData.test.ts
Due: none

feat(webui): allow editing charging station configuration
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeConfiguration.test.ts
  ui/common/src/types/UIProtocol.ts
  ui/web/src/core/Constants.ts
  ui/web/src/core/UIClient.ts
  ui/web/src/router/index.ts
  ui/web/src/shared/composables/useChangeConfigurationForm.ts
  ui/web/src/shared/composables/useStationDetails.ts
  ui/web/src/skins/classic/components/actions/ChangeConfiguration.vue
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/src/skins/modern/components/dialogs/ChangeConfigurationDialog.vue
  ui/web/tests/unit/shared/composables/useChangeConfigurationForm.test.ts
  ui/web/tests/unit/shared/composables/useStationDetails.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(webui): mention edit configuration action
  ui/web/README.md
Due: prettier --cache --write

test(webui): cover changeConfiguration emit gating, spec-fidelity and OCPP 2.0.1 edge cases
  tests/charging-station/ChargingStation-ChangeConfiguration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeConfiguration.test.ts
Due: none

ghrs: snap 08-10-2313-6C1B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-10_231330_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-10_231330_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-10_231330_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-10-2313-6C1B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-10_231330_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-10-2313-6C1B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(simulator): seed numberOfPhases default into stationInfo
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(simulator): align numberOfPhases test names with should-prefix convention
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
Due: none

test(simulator): cover DC phase pinning and persisted-config backfill
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
Due: none

refactor(webui): address review findings for change-configuration
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeConfiguration.test.ts
  ui/web/README.md
  ui/web/src/shared/composables/useStationDetails.ts
  ui/web/src/skins/modern/ModernLayout.vue
Due: prettier --cache --write, eslint --cache --fix

docs(simulator): harmonize numberOfPhases seeding review nits
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(webui): hoist change-configuration draft state into the shared composable
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  ui/web/src/shared/composables/useChangeConfigurationForm.ts
  ui/web/src/skins/classic/components/actions/ChangeConfiguration.vue
  ui/web/src/skins/modern/components/dialogs/ChangeConfigurationDialog.vue
  ui/web/tests/unit/shared/composables/useChangeConfigurationForm.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(simulator): dedupe test baseName literal into a constant
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
Due: none

docs(simulator): tighten seeding comments (drop getter paraphrase)
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(webui): validate required broadcast-channel string fields with isNotEmptyString
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

docs(simulator): fix backfill comment accuracy and align seed wording
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(webui): tidy change-configuration naming, reverse-map and MCP schema
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  ui/web/src/shared/composables/useChangeConfigurationForm.ts
  ui/web/src/shared/composables/useStationDetails.ts
  ui/web/src/skins/classic/components/actions/ChangeConfiguration.vue
  ui/web/src/skins/modern/components/dialogs/ChangeConfigurationDialog.vue
  ui/web/tests/unit/shared/composables/useStationDetails.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(webui): cover change-configuration components
  ui/web/tests/unit/helpers.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

test(simulator): inline baseName to match sibling station-test convention
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
Due: none

test(simulator): consolidate real-station-from-template scaffolding into a shared helper
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ChargingStation-ConfigurationTemplateIsolation.test.ts
  tests/charging-station/ChargingStation-ConversionEfficiency.test.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/ChargingStation-ResetCancellation.test.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
  tests/charging-station/helpers/StationHelpers.realStation.ts
  tests/charging-station/helpers/StationHelpers.ts
Due: prettier --cache --write

fix(ocpp): reject empty value for integer 1.6 configuration keys
  README.md
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  ui/web/tests/unit/shared/composables/useChangeConfigurationForm.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(simulator): share temp-file and singleton-reset test helpers
  tests/charging-station/Bootstrap.test.ts
  tests/charging-station/IdTagsCache.test.ts
  tests/charging-station/SharedLRUCache.test.ts
  tests/charging-station/meter-values/EvProfiles.test.ts
  tests/charging-station/ui-server/UIMCPServer-Integration.test.ts
  tests/helpers/TempFiles.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/performance/storage/JsonFileStorage.test.ts
  tests/utils/Configuration-HotReload.test.ts
  tests/utils/FileUtils.test.ts
Due: none

docs: clarify changeConfiguration value validation in the README protocol reference
  README.md
Due: prettier --cache --write

docs(test): document TempFiles helpers and resetSingleton in the style guide
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

fix(simulator): seed numberOfPhases default into stationInfo (#2078)
  src/charging-station/ChargingStation.ts
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/Bootstrap.test.ts
  tests/charging-station/ChargingStation-ConfigurationTemplateIsolation.test.ts
  tests/charging-station/ChargingStation-ConversionEfficiency.test.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/ChargingStation-ResetCancellation.test.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
  tests/charging-station/IdTagsCache.test.ts
  tests/charging-station/SharedLRUCache.test.ts
  tests/charging-station/helpers/StationHelpers.realStation.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/meter-values/EvProfiles.test.ts
  tests/charging-station/ui-server/UIMCPServer-Integration.test.ts
  tests/helpers/TempFiles.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/performance/storage/JsonFileStorage.test.ts
  tests/utils/Configuration-HotReload.test.ts
  tests/utils/FileUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(webui): factor duplicated configuration-keys station fixture into a shared factory
  ui/web/tests/unit/constants.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

test(webui): migrate remaining inline config-key fixtures to the shared factory
  ui/web/tests/unit/shared/composables/stationDetails.test.ts
  ui/web/tests/unit/shared/composables/useStationDetails.test.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

docs(ocpp): tighten change-configuration rationale comments
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 08-11-2317-9907 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-11_231729_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-11_231729_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-11_231729_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-11-2317-9907 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-11_231729_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-11-2317-9907 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor(webui): single-source config-key formatting and align a11y state
  ui/web/src/shared/utils/index.ts
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/src/skins/classic/components/actions/ChangeConfiguration.vue
  ui/web/src/skins/modern/components/dialogs/ChangeConfigurationDialog.vue
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

docs: clarify metadata-driven reboot notice and safe 2.0.1 status collapse
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  ui/web/src/shared/composables/useChangeConfigurationForm.ts
Due: prettier --cache --write, eslint --cache --fix

test(webui): harden change-configuration table tests
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

ghrs: snap 08-12-2316-FCFD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-12_231659_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-12_231659_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-12_231659_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-12-2316-FCFD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-12_231659_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-12-2316-FCFD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor(ocpp): use isEmpty for the SetVariables result check
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(webui): fit CHANGE_CONFIGURATION worker tests into the group structure
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
