Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

test(ui-server): add wsState=undefined and EVSE-mode coverage (M4)
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

style(test): rename tests per TEST_STYLE_GUIDE and drop redundant assertion (n1, n4)
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

test(ui-server): retarget rate-limit burst at allowed loopback path (m1)
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

refactor(ui-server): add HEAD to HttpMethod enum (n1)
  src/charging-station/ui-server/UIServerUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): adopt prom-client canonical collect pattern (M1+m1+m2+m3+n2+n3+n4+n5+n6)
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

docs(readme): align metrics documentation with code (m4, m5)
  README.md
Due: prettier --cache --write

test(ui-server): regression for concurrent /metrics scrapes (R1, R2)
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

refactor(ui-server): apply Phase 7 polish (M1+n2+n3+n4+n5+n6+n8+n9)
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): tighten concurrent-scrape regression with sample-count assertion (n1)
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

docs(readme): add trailing semicolon to metrics value type (n7)
  README.md
Due: prettier --cache --write

refactor(ui-server): apply Phase 8 NITs (n2+n3+n4+n5+n7; n1 deferred)
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): apply Phase 9 NITs (n1+n2+n3)
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

docs(ui-server): harmonize JSDoc prose with repo cadence
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --cache --write, eslint --cache --fix

docs(test): harmonize 'soft cap' spelling and @description cadence
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

docs(ui-server): harmonize misconfiguration warning style with repo cadence
  src/charging-station/ui-server/AbstractUIServer.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): rename M-prefix fixtures to T-prefix convention
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

docs(readme): drop redundant Metrics endpoint section, harmonize uiServer.metrics bullet
  README.md
Due: prettier --cache --write

chore(gitignore): ignore .codegraph alongside .omo/
  .gitignore
Due: none

feat(ui-server): add opt-in Prometheus /metrics endpoint (closes #851) (#1912)
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/types/ConfigurationData.ts
  src/utils/ConfigurationSchema.ts
  src/utils/index.ts
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 06-20-2330-0CDF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-20_233043_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-20_233043_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-20_233043_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-20-2330-0CDF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-20_233043_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-20-2330-0CDF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 06-21-2333-72A5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-21_233307_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-21_233307_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-21_233307_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-21-2333-72A5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-21_233307_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-21-2333-72A5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 06-22-2333-2B31 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-22_233339_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-22_233339_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-22_233339_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-22-2333-2B31 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-22_233339_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-22-2333-2B31 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(ui-server): expose Prometheus /metrics on ws and mcp transports
  README.md
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/utils/ConfigurationSchema.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): expose Prometheus /metrics on ws and mcp transports (#1921)
  README.md
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/utils/ConfigurationSchema.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(readme): remove uiServer.metrics migration notes
  README.md
Due: prettier --cache --write

ghrs: snap 06-23-2327-7341 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-23_232734_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-23_232734_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-23_232734_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-23-2327-7341 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-23_232734_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-23-2327-7341 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(build): externalize prom-client from bundle
  scripts/bundle.js
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): classify broadcast responses without handlers
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): preserve internal broadcast origin
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/UIService001.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): cleanup broadcast aggregation reliably
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): ensure late response cleanup
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: none

refactor(types): introduce UIRequestOrigin enum and widen ProtocolRequestHandler
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix
