Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix(ui): fix missing button imports
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/main.ts
  ui/web/src/router/index.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor: align CSS alignment directives
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): move the charging stations data array to vue.js global properties
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): remove incorrect async on WS open callback
  ui/web/src/main.ts
Due: none

fix(ui): handle undefined charging stations data array
  ui/web/src/views/ChargingStationsView.vue
Due: none

feat(ui): add right action bar and use it to start transaction
  ui/web/src/App.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/router/index.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ci): add missing .vue file
  ui/web/src/components/actions/AddChargingStations.vue
Due: none

fix(ui): fix charging stations refresh
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): add action cancellation
  ui/web/src/components/actions/StartTransaction.vue
Due: none

refactor(ui): cleanup CSS styles namespace
  ui/web/src/App.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

feat(ui): add charging stations action support
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/buttons/ReloadButton.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): cleanup props usage
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

feat(ui): add set supervision url action
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/router/index.ts
  ui/web/src/types/UIProtocol.ts
Due: none

feat(ui): add action success/failure notifications
  ui/web/package.json
  ui/web/pnpm-lock.yaml
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: prettier --cache --write

feat(ui): prefer arrow functions
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): cleanup casing style
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/types/ConfigurationType.ts
  ui/web/src/types/index.ts
Due: none

refactor(ui): use bootstrap theme for toast notifications
  ui/web/src/main.ts
Due: none

refactor(ui): refine action forms
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/charging-stations/CSData.vue
Due: none

refactor(ui): refine action inputs
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
Due: none

refactor(ui): refine input type
  ui/web/src/components/actions/SetSupervisionUrl.vue
Due: none

refactor(ui): refine action inputs
  ui/web/src/components/actions/SetSupervisionUrl.vue
Due: none

refactor(ui): fix templates code formatting
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): refine application title
  ui/web/index.html
Due: none

fix(ui): reject request promise if the UI server response is malformed
  ui/web/src/composables/UIClient.ts
Due: none

chore(ui): prepare for 0.2.0 release
  ui/web/package.json
  ui/web/sonar-project.properties
  ui/web/src/types/ChargingStationType.ts
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: version 1.2.37
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

refactor(ui): revert wrongly introduced code to handle multiples UI Server
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/types/ConfigurationType.ts
Due: none

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix: ensure charging stations array global property is initialized
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

feat(ui): add helper to dynamically set configuration on UI client singleton
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
Due: none

fix(ui): fix initilisation logic
  ui/web/src/main.ts
Due: none

fix(ui): ensure consistent styling on all buttons
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/Button.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): refine action bar style
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): handle vue.js app initialization error
  ui/web/src/main.ts
Due: none

refactor(ui): refine vue.js app init error message
  ui/web/src/main.ts
Due: none

fix: clear UI server cache at simulator stop
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  ui/web/src/views/ChargingStationsView.vue
Due: prettier --cache --write, eslint --cache --fix

fix(ui): ensure action bar is displayed
  ui/web/src/App.vue
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
