Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor: consolidate all types into ui-common — single import source
  ui/common/src/client/browser-adapter.ts
  ui/common/src/config/schema.ts
  ui/common/src/index.ts
  ui/common/src/types/ChargingStationType.ts
  ui/common/src/types/ConfigurationType.ts
  ui/common/src/types/UIProtocol.ts
  ui/web/docker/Dockerfile
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/main.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/CSTable.test.ts
  ui/web/tests/unit/StartTransaction.test.ts
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/constants.ts
Due: none

fix(common): restore wsState type as numeric literal union
  ui/common/src/types/ChargingStationType.ts
Due: none

refactor: fix phantom errorMessage, merge imports, harmonize Docker configs
  docker/Dockerfile
  docker/run.sh
  ui/common/src/types/ConfigurationType.ts
  ui/web/docker/Dockerfile
  ui/web/docker/run.sh
  ui/web/src/composables/UIClient.ts
Due: none

test(web): cover abort branches in UIClient to meet coverage threshold
  ui/web/tests/unit/UIClient.test.ts
Due: none

refactor(ui-common): derive UIServerConfigurationSection from Zod schema
  ui/cli/src/config/defaults.ts
  ui/cli/tests/lifecycle.test.ts
  ui/common/src/config/schema.ts
  ui/common/src/types/ConfigurationType.ts
Due: none

test: add enum rejection tests and fix dynamic import in CLI test
  ui/cli/tests/lifecycle.test.ts
  ui/common/tests/config.test.ts
Due: none

refactor(ui-common): remove UIServerConfig alias, single canonical name
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/config/loader.ts
  ui/common/README.md
  ui/common/src/config/schema.ts
Due: prettier --cache --write

refactor(ui): consolidate constants — remove timeout duplicate, centralize defaults
  ui/cli/src/config/defaults.ts
  ui/cli/src/config/loader.ts
  ui/cli/tests/config.test.ts
  ui/common/src/constants.ts
  ui/web/src/composables/Constants.ts
  ui/web/tests/unit/constants.ts
Due: none

refactor(ui-common): derive ClientConfig and AuthenticationConfig from Zod schemas
  ui/common/src/client/types.ts
  ui/common/tests/WebSocketClient.test.ts
Due: none

refactor(cli): extract extractErrorMessage utility
  ui/cli/src/config/loader.ts
  ui/cli/src/output/formatter.ts
  ui/cli/src/output/json.ts
  ui/cli/src/utils/errors.ts
Due: none

refactor(ui-common): generic WebSocket adapter factory with converter injection
  ui/cli/src/client/ws-adapter.ts
  ui/common/src/client/adapter.ts
  ui/common/src/client/browser-adapter.ts
  ui/common/src/client/types.ts
  ui/common/src/index.ts
  ui/common/tests/adapter.test.ts
Due: none

test(ui-common): create shared mock WebSocket factory
  ui/common/tests/WebSocketClient.test.ts
  ui/common/tests/mocks.ts
Due: none

chore: hoist shared devDependencies to root workspace
  pnpm-lock.yaml
  ui/cli/package.json
  ui/common/package.json
  ui/web/package.json
Due: prettier --cache --write

docs: add ADR for config loading strategy and ClientConfig derivation
  ui/common/README.md
Due: prettier --cache --write

docs(ui-common): remove ADR section from README
  ui/common/README.md
Due: prettier --cache --write

fix(ui-common): forward close code/reason in mock WebSocket factory
  ui/common/tests/mocks.ts
Due: none

refactor(ui): factorize shared code across ui packages
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/commands/atg.ts
  ui/cli/src/commands/connection.ts
  ui/cli/src/commands/connector.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/payload.ts
  ui/cli/src/commands/station.ts
  ui/cli/src/commands/supervision.ts
  ui/cli/src/commands/transaction.ts
  ui/cli/src/config/defaults.ts
  ui/cli/src/config/loader.ts
  ui/cli/src/output/formatter.ts
  ui/cli/src/output/json.ts
  ui/cli/src/utils/errors.ts
  ui/cli/tests/config.test.ts
  ui/cli/tests/lifecycle.test.ts
  ui/common/src/constants.ts
  ui/common/src/errors.ts
  ui/common/src/index.ts
  ui/web/src/assets/shared.css
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/main.ts
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
Due: none

fix(ui-web): remove orphaned CSS classes and guard onFinally in useExecuteAction
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/composables/Utils.ts
Due: none

chore(ui-web): remove unused focus-outline CSS class
  ui/web/src/assets/shared.css
Due: none

refactor(ui-web): import randomUUID/validateUUID directly from ui-common
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/Utils.test.ts
Due: none

refactor(ui): move generic utilities to ui-common and add useFetchData composable
  ui/common/src/index.ts
  ui/common/src/utils/converters.ts
  ui/common/src/utils/websocket.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/Utils.test.ts
Due: none

fix(ui-web): use portable WebSocketReadyState in CSData isWebSocketOpen
  ui/web/src/components/charging-stations/CSData.vue
Due: none

test(ui): add tests for converters, websocket utils, and useFetchData
  ui/common/tests/converters.test.ts
  ui/common/tests/websocket.test.ts
  ui/web/src/composables/Utils.ts
  ui/web/tests/unit/Utils.test.ts
Due: none

refactor(ui-web): remove duplicated tests for functions now in ui-common
  ui/web/tests/unit/Utils.test.ts
Due: none

refactor(ui): second-pass factorization audit implementation
  ui/cli/src/commands/atg.ts
  ui/cli/src/commands/payload.ts
  ui/cli/src/commands/station.ts
  ui/cli/tests/payload.test.ts
  ui/web/src/assets/shared.css
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): global code quality pass
  ui/cli/src/output/table.ts
  ui/common/src/client/WebSocketClient.ts
  ui/common/src/errors.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/ChargingStationsView.test.ts
Due: none

fix(ui-web): fix remaining for...in on localStorage and remove dead test config
  ui/web/src/composables/Utils.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
Due: none

fix(ui): use portable crypto API and async bootstrap pattern
  ui/common/src/utils/UUID.ts
  ui/web/src/main.ts
Due: none

fix(ui-web): force toggle button re-mount on navigation back to main view
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ocpp2): restore connector cleanup in TransactionEvent(Ended) response handler
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): sync mock signatures with real async implementations
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
Due: none

fix(tests): use async mock callbacks for all async method mocks
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestService-CallChain.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/performance/storage/MikroOrmStorage.test.ts
  tests/performance/storage/MongoDBStorage.test.ts
Due: none

fix(ui-cli): resolve --url option collision between global and supervision
  ui/cli/README.md
  ui/cli/src/cli.ts
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/supervision.ts
  ui/cli/src/types.ts
  ui/cli/tests/integration/cli.test.ts
Due: prettier --cache --write

feat(ui): human-readable CLI output + shared type updates + --url collision fix
  ui/cli/src/output/format.ts
  ui/cli/src/output/renderers.ts
  ui/cli/src/output/table.ts
  ui/cli/tests/format.test.ts
  ui/cli/tests/helpers.ts
  ui/cli/tests/output.test.ts
  ui/cli/tests/renderers.test.ts
  ui/common/src/types/ChargingStationType.ts
  ui/common/src/types/UIProtocol.ts
Due: none

docs: add CLI section to root README alongside Web UI
  README.md
Due: prettier --cache --write

feat(ui-cli): short hash prefix matching, human output formatters, embedded agent skill
  ui/cli/README.md
  ui/cli/scripts/bundle.js
  ui/cli/skills/evse-simulator/SKILL.md
  ui/cli/src/cli.ts
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/skill.ts
  ui/cli/src/output/renderers.ts
  ui/cli/src/output/table.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-cli): move StationListPayload to shared types, add resolution error context
  ui/cli/src/commands/action.ts
  ui/cli/src/output/renderers.ts
  ui/cli/src/types.ts
Due: none

feat(ui-cli): add registration and connector columns to station list, fix command semantics
  ui/cli/README.md
  ui/cli/skills/evse-simulator/SKILL.md
  ui/cli/src/commands/connection.ts
  ui/cli/src/commands/connector.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/transaction.ts
  ui/cli/src/output/format.ts
  ui/cli/src/output/renderers.ts
  ui/cli/tests/format.test.ts
Due: prettier --cache --write

feat(ui-cli): add custom JSON payload option for OCPP and transaction commands
  ui/cli/README.md
  ui/cli/skills/evse-simulator/SKILL.md
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/payload.ts
  ui/cli/src/commands/resolve-payload.ts
  ui/cli/src/commands/transaction.ts
  ui/cli/tests/resolve-payload.test.ts
Due: prettier --cache --write

ci: update Python matrix from 3.12/3.13 to 3.13/3.14
  .github/workflows/ci.yml
Due: prettier --cache --write
