Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "{src,test}/**/*.{ts,tsx}": ["prettier --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --write", "eslint --cache --fix"]
}

build: remove unneded step in CI
  .github/workflows/ci.yml
Due: prettier --write

chore: version 1.2.0-2
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

build: ensure the mininum node version includes corepack
  package.json
  ui/web/package.json
Due: prettier --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --write

refactor(simulator): simplify skip preinstall test
  skip-preinstall.cjs
Due: prettier --write, eslint --cache --fix

build(deps-dev): apply updates
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write

chore: version 1.2.0-3
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: refine release-it configuration
  .release-it.json
Due: prettier --write

chore: version 1.2.0
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

build: refine editorconfig
  .editorconfig
Due: none

build(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(simulator): use helper for undefined or null checks
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

chore: version 1.2.1
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

chore: version 1.2.2
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

fix: strict number check
  src/performance/PerformanceStatistics.ts
  src/utils/CircularArray.ts
Due: prettier --write, eslint --cache --fix

chore: version 1.2.3
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

fix: reference poolifier pool property
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerStaticPool.ts
Due: prettier --write, eslint --cache --fix

chore: version 1.2.4
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

feat: add mininum value support to meterValues generation
  README.md
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/types/MeasurandPerPhaseSampledValueTemplates.ts
Due: prettier --write, eslint --cache --fix

chore: version 1.2.5
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

perf: use arrow functions in hot code paths
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/types/ChargingStationInfo.ts
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

refactor: make the exponential backoff implementation for tunable
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/utils/CircularArray.ts
  ui/web/pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

chore: version 1.2.6
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write
