Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps): apply updates
  .github/workflows/codeql-analysis.yml
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

perf: switch to SMA and SMM in performance statistics
  src/performance/PerformanceStatistics.ts
  src/utils/CircularArray.ts
  src/utils/Constants.ts
  src/utils/StatisticUtils.ts
  src/utils/index.ts
  test/utils/CircularArray.test.ts
  test/utils/StatisticUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

perf: optimize performance statistics computation
  src/performance/PerformanceStatistics.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: improve stdDeviation signature
  src/utils/StatisticUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine exponential delay code
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

test: trivial cleanup
  test/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

build: update volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(deps): apply udpates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(simulator): cleanup TS configuration
  .prettierignore
  docker/Dockerfile
  sonar-project.properties
  tsconfig-base.json
  tsconfig-orm.json
  tsconfig.json
Due: prettier --cache --write

build(ui): cleanup TS configuration (test)
  ui/web/sonar-project.properties
Due: none

build(ui): cleanup TS configuration
  ui/web/sonar-project.properties
  ui/web/tsconfig-sonar.json
Due: prettier --cache --write

build(simulator): cleanup TS configuration
  .prettierignore
  tsconfig.json
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build: cleanup build paths
  rollup.config.mjs
  ui/web/tsconfig.json
Due: prettier --cache --write, eslint --cache --fix

build(ui): refine tsconfig.json
  ui/web/tsconfig.json
Due: prettier --cache --write

build(simulator): use defineConfig for rollup configuration
  rollup.config.mjs
Due: prettier --cache --write, eslint --cache --fix

build(simulator): limit automatic TS version upgrade
  package.json
Due: prettier --cache --write

build(simulator): sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/scripts/deleteChargingStations.cjs
  src/scripts/setCSPublicFlag.cjs
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build(deps): automate dependabot PRs combine
  .github/workflows/combine-prs.yml
Due: prettier --cache --write

build: refine vscode configuration
  .vscode/settings.json
Due: prettier --cache --write

refactor: silence sonar
  src/scripts/deleteChargingStations.cjs
  src/scripts/setCSPublicFlag.cjs
Due: prettier --cache --write, eslint --cache --fix

build(ci): allow CI to run on Combine PRs
  .github/workflows/ci.yml
  .github/workflows/combine-prs.yml
Due: prettier --cache --write

build: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

feat: print deprecation warnings once
  src/charging-station/ChargingStation.ts
  src/utils/Configuration.ts
  src/utils/Utils.ts
  src/utils/index.ts
  test/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: use static this context
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove unneeded code in configuration handling
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
