Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

chore(serena): refresh project configuration
  .serena/project.yml
Due: prettier --cache --write

fix(ui-server): require the connector target the worker already requires
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): honour the OCPP connector/EVSE 0 targets in the payload gate
  README.md
  src/charging-station/ui-server/index.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): group payload violations per field and truly share the schemas
  README.md
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): resolve the 1.6 status alias and unblock the published MCP contract
  README.md
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  src/types/index.ts
  src/types/ocpp/1.6/Requests.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): preserve MCP passthrough and unblock the web supervision form
  README.md
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
  ui/web/src/shared/composables/useSetUrlForm.ts
  ui/web/src/skins/modern/components/dialogs/SetSupervisionUrlDialog.vue
  ui/web/tests/unit/shared/composables/useSetUrlForm.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-web): correct the supervision credentials hint
  ui/web/src/skins/modern/components/dialogs/SetSupervisionUrlDialog.vue
Due: none

fix(ui-server): drop three bounds no specification or worker requires
  README.md
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-29-2312-A0A0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-29_231203_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-29_231203_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-29_231203_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 09-29-2312-A0A0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 09-29-2312-A0A0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-29_231203_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-29-2312-A0A0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

docs(ui-server): correct OCPP and MCP validation semantics
  README.md
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
Due: prettier --cache --write, eslint --cache --fix

fix(web): reject colon-bearing supervision usernames before submission
  ui/web/README.md
  ui/web/src/shared/composables/useSetUrlForm.ts
  ui/web/tests/unit/shared/composables/useSetUrlForm.test.ts
Due: prettier --cache --write

fix(ui-server): redact credentials from failure diagnostics
  README.md
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: clarify UI validation rationale and trim redundant comments
  README.md
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/index.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  src/types/ocpp/1.6/Requests.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
  ui/web/README.md
  ui/web/src/shared/composables/useSetUrlForm.ts
  ui/web/src/skins/modern/components/dialogs/SetSupervisionUrlDialog.vue
Due: prettier --cache --write, eslint --cache --fix

docs(web): remove supervision URL form section
  ui/web/README.md
Due: prettier --cache --write

docs: remove redundant UI payload validation prose
  README.md
Due: prettier --cache --write

fix(ocpp16): tighten status notification builder contract
  README.md
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/types/ocpp/1.6/Requests.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): require sampled values before meter broadcast
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): validate UI request payloads against a canonical schema (#2129)
  .serena/project.yml
  README.md
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/index.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.ts
  src/types/index.ts
  src/types/ocpp/1.6/Requests.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
  tests/charging-station/ui-server/ui-services/UIServiceRequestPayloadSchemas.test.ts
  ui/web/src/shared/composables/useSetUrlForm.ts
  ui/web/src/skins/modern/components/dialogs/SetSupervisionUrlDialog.vue
  ui/web/tests/unit/shared/composables/useSetUrlForm.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-30-2312-0959 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-30_231228_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-30_231228_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-30_231228_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-30-2312-0959 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-30_231228_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-30-2312-0959 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 10-01-2311-7DEA for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-01_231117_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-01_231117_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-01_231117_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-01-2311-7DEA for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-01_231117_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-01-2311-7DEA for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 10-02-2311-B2B7 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-02_231120_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-02_231120_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-02_231120_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-02-2311-B2B7 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-02_231120_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-02-2311-B2B7 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 10-03-2352-D645 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-03_235228_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-03_235228_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-03_235228_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-03-2352-D645 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-03_235228_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 10-03-2352-D645 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(charging-station): throw BaseError on invalid supervision URL and revert state on set failure
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 10-04-2311-39A7 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-04_231152_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-04_231152_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-04_231152_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 10-04-2311-39A7 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-10-04_231152_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 10-04-2311-39A7 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
Due: none

ghrs: report 10-04-2311-39A7 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
