Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor(ocpp20): rename getStationState to getOrCreateStationState
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

docs(utils): make @param minValue structurally symmetric with @param maxValue
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): cross-check firmware status against active requestId in trigger
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract getOrCreateWarnedMeasurands helper
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): apply dual-gate to LogStatusNotification trigger
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

docs(ocpp20): enumerate all 8 in-progress statuses in hasFirmwareUpdateInProgress @returns
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): guard log-upload mid-lifecycle mutation + wrap firmware JSDoc
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): implement log-upload supersession per OCPP 2.0.1 N01.FR.12
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): round-15 clear-log parity + stop() log reset + JSDoc
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): cancel cert-signing retry timer in stop() + JSDoc polish
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): add AbortController to log-upload lifecycle + canceled spelling
  src/charging-station/ocpp/2.0/OCPP20CertSigningRetryManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-06-2328-BF08 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-06_232812_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-06_232812_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-06_232812_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-06-2328-BF08 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-06_232812_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-06-2328-BF08 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor: audit backlog cleanup — JSDoc gaps, physics warning, ATG robustness, comment sweep (#1962)
  cspell.config.yaml
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersChargingProfile.ts
  src/charging-station/meter-values/CoherentSession.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20CertSigningRetryManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/performance/storage/Storage.ts
  src/utils/Constants.ts
  src/utils/Utils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-07-2322-7166 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-07_232248_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-07_232248_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-07_232248_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-07-2322-7166 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-07_232248_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-07-2322-7166 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(atg): invalidate configurationValidationResult on ChargingStationEvents.updated
  src/charging-station/AutomaticTransactionGenerator.ts
  tests/charging-station/AutomaticTransactionGenerator.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): reset stationInfo.firmwareStatus on abort/exception in simulateFirmwareUpdateLifecycle
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix(atg): invalidate configurationValidationResult on ChargingStationEvents.updated (#1977)
  src/charging-station/AutomaticTransactionGenerator.ts
  tests/charging-station/AutomaticTransactionGenerator.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): reset stationInfo.firmwareStatus on abort/exception in simulateFirmwareUpdateLifecycle (#1976)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

chore(gitignore): ignore user-local ev-profiles JSON files
  .gitignore
Due: none

chore(gitignore): ignore user-local ev-profiles JSON files (#1982)
  .gitignore
Due: none

fix(ocpp): drive FirmwareStatusNotification trigger from last-sent notification (L01.FR.26)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): drive FirmwareStatusNotification trigger from last-sent notification (L01.FR.26) (#1981)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract per-station state plumbing into shared OCPPIncomingRequestService base
  eslint.config.js
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/OCPPIncomingRequestService-StationState.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract per-station state plumbing into shared OCPPIncomingRequestService base (#1983)
  eslint.config.js
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/OCPPIncomingRequestService-StationState.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): cancel deferred OCPP 1.6 firmware setTimeout on stop()
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): cancel deferred OCPP 1.6 firmware setTimeout on stop() (#1984)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-08-2327-4F49 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-08_232730_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-08_232730_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-08_232730_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-08-2327-4F49 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-08_232730_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-08-2327-4F49 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp): cross-check OCPP 1.6 lifecycle flags in trigger, re-entry, and simulation entry
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/OCPPIncomingRequestService-StationState.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): cross-check OCPP 1.6 lifecycle flags in trigger, re-entry, and simulation entry (#1987)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/OCPPIncomingRequestService-StationState.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): implement OCPP 1.6 GetDiagnostics supersession via AbortController
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-GetDiagnostics.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): implement OCPP 1.6 GetDiagnostics supersession via AbortController (#1991)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-GetDiagnostics.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): guard post-stop() handler dispatch against WeakMap resurrection
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-GetDiagnostics.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-PostStopResurrection.test.ts
  tests/charging-station/ocpp/OCPPIncomingRequestService-StationState.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): guard post-stop() handler dispatch against WeakMap resurrection (#1992)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-GetDiagnostics.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-PostStopResurrection.test.ts
  tests/charging-station/ocpp/OCPPIncomingRequestService-StationState.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): guard OCPP 1.6 UpdateFirmware deferred-timer schedule against sealed state writes
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
Due: prettier --cache --write, eslint --cache --fix
