Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

perf: optimize min/max implementation
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/performance/PerformanceStatistics.ts
  src/utils/Utils.ts
  src/utils/index.ts
  test/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: refine code comments
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup exit codes
  src/charging-station/Bootstrap.ts
  test/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

perf: create and clear Map in performance code
  src/performance/storage/JsonFileStorage.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: cleanup constants namespace
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/exception/OCPPError.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

build: bump volta versions
  package.json
  ui/web/package.json
Due: prettier --cache --write

refactor: use helper for null in undefined in condition
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

build(ci): cleanup CI workflows
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): add build type to workflow jobs name
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): add name to docker image job
  .github/workflows/ci.yml
Due: prettier --cache --write

build: bump pnpm volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

perf: add and use homemade optimized deep cloning implementation
  package.json
  pnpm-lock.yaml
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

perf: convert deepClone() to arrow function
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

build(ci): add dependency review step
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): run the dependency review only once
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): cleanup jobs namespace
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): add missing git base ref for dependency review
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): add missing git head ref to dependency review
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): make dependency review works on PRs
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): run sonar cloud only if sonar token secret is defined
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): cleanups
  .github/workflows/ci.yml
Due: prettier --cache --write

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: ensure logPrefix helper is always used
  src/charging-station/Helpers.ts
  src/utils/Configuration.ts
  src/worker/WorkerUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui): test for all columns name
  ui/web/tests/unit/CSTable.spec.ts
Due: none

refactor: silence sonar
  src/utils/Configuration.ts
  src/utils/ErrorUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use classic setter in configuration class
  src/charging-station/Bootstrap.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: switch to public static instead of setter in configuration class
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

build: apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore: version 1.2.21
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

fix: enforce minimal node.js version known to work with ESM
  README.md
  package.json
Due: prettier --cache --write

build(ci): remove node 16.x
  .github/workflows/ci.yml
Due: prettier --cache --write

build(actions): cleanup clone count workflow
  .github/workflows/clone-count.yml
Due: prettier --cache --write

build(actions): cleanup clone count action
  .github/workflows/clone-count.yml
Due: prettier --cache --write

refactor: remove unneeded redefinition of poolifier defaults
  src/charging-station/ChargingStationWorker.ts
  src/worker/WorkerConstants.ts
  src/worker/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup performance statistics code
  src/performance/PerformanceStatistics.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup pool options defaults handling
  src/worker/WorkerConstants.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
