Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

fix: throttle failed buffered messages sending with exponential backoff
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

docs: refine error log message at buffer message flushing
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: throttle failed buffered messages sending with exponential backoff (#1399)
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine log level in buffered OCPP messages handling
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure buffered messages flushing is stopped when WS is closed
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

docs: recommend container tools vscode extension
  .vscode/extensions.json
Due: prettier --cache --write

chore: release main (#1384)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: drop node 18.x support
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps-dev): apply updates
  src/types/JsonType.ts
Due: prettier --cache --write, eslint --cache --fix

fix(docker): ui to backend connection when running in docker
  docker/Dockerfile
  src/utils/Constants.ts
  ui/web/docker/Dockerfile
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/router/index.ts
  ui/web/src/types/JsonType.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSTable.spec.ts
Due: prettier --cache --write

fix(docker): dependencies installation with latest pnpm
  .dockerignore
  docker/Dockerfile
  ui/web/docker/Dockerfile
Due: none

chore: refine .dockerignore
  .dockerignore
Due: none

chore: remove pnpm force flags based on pr feedback
  docker/Dockerfile
  ui/web/docker/Dockerfile
Due: none

chore(deps): apply updates
  .github/FUNDING.yml
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

chore: release main (#1406)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  tests/ocpp-server/poetry.lock
Due: none

ci: temporaly disable deps security audit
  .github/workflows/ci.yml
Due: prettier --cache --write

chore(deps-dev): apply updates
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix
