Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

chore(sandcastle): update validation and main scripts
  .sandcastle/main.ts
  .sandcastle/validation.ts
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

chore: sync release-please manifests and sandcastle prompt
  .sandcastle/plan-prompt.md
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): exclude index 0 from staticCount in getDefaultConnectorMaximumPower
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): add NaN guard to connectorHardwareMaximumPower in min()
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

docs: document per-connector maximumPower in template examples
  README.md
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1846)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ci: replace clone-count with jgehrcke/github-repo-stats
  .github/workflows/clone-count.yml
  .github/workflows/repo-stats.yml
  CLONE.md
  README.md
Due: prettier --cache --write

fix(ci): use stable v1.4.2 release of github-repo-stats
  .github/workflows/repo-stats.yml
Due: prettier --cache --write

chore: initialize github-repo-stats data branch (orphan)
  SAP/e-mobility-charging-stations-simulator/README.md
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_003334_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_003334_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_003621_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_003621_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
  SAP/e-mobility-charging-stations-simulator/latest-report/resources/github-markdown.css
Due: prettier --cache --write

ghrs: snap 05-11-0045-6DD6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_004530_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_004530_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_004530_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-11-0045-6DD6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_004530_views_clones_series_fragment.csv
Due: none

ghrs: report 05-11-0045-6DD6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/README.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
  SAP/e-mobility-charging-stations-simulator/latest-report/resources/github-markdown.css
Due: prettier --cache --write

fix(ci): lowercase badge label for consistency
  .github/workflows/repo-stats.yml
Due: prettier --cache --write

ghrs: snap 05-11-0052-6BA0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_005255_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_005255_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_005255_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-11-0052-6BA0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_005255_views_clones_series_fragment.csv
Due: none

ghrs: report 05-11-0052-6BA0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix: migrate pnpm settings from package.json to pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: set allowBuilds placeholders to false
  pnpm-workspace.yaml
Due: prettier --cache --write

chore: regenerate lockfile with pnpm 11
  .cfignore
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: regenerate lockfile matching overrides configuration
  pnpm-lock.yaml
Due: prettier --cache --write

chore: remove unnecessary overrides and minimumReleaseAgeExclude
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

refactor: consolidate object-check utilities to eliminate duplication
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(lint): enable Vue strictTypeChecked and fix config
  cspell.config.yaml
  eslint.config.js
  ui/web/src/App.vue
  ui/web/src/skins/classic/ClassicLayout.vue
  ui/web/src/skins/classic/components/actions/AddChargingStations.vue
  ui/web/src/skins/classic/components/actions/SetSupervisionUrl.vue
  ui/web/src/skins/classic/components/actions/StartTransaction.vue
  ui/web/src/skins/classic/components/buttons/ToggleButton.vue
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/src/skins/modern/components/ConnectorRow.vue
  ui/web/src/skins/modern/components/ModernModal.vue
  ui/web/src/skins/modern/components/SimulatorBar.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/src/skins/modern/components/dialogs/SetSupervisionUrlDialog.vue
Due: prettier --cache --write, eslint --cache --fix

fix(test): mock router.push to return Promise
  ui/web/tests/unit/skins/classic/CSConnector.test.ts
  ui/web/tests/unit/skins/classic/CSData.test.ts
Due: none

fix(test): mock router.push to return Promise in all test files
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/classic/CSTable.test.ts
Due: none

fix(test): mock router.push in all remaining test files
  ui/web/tests/unit/skins/classic/ClassicComponents.test.ts
  ui/web/tests/unit/skins/classic/ClassicLayout.test.ts
Due: none

ghrs: snap 05-11-2323-72D2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_232347_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_232347_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_232347_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-11-2323-72D2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-11_232347_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-11-2323-72D2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

build: add dev profiling script and fix prod profiling
  package.json
Due: prettier --cache --write

build: add --interpreted-frames-native-stack to profiling scripts
  package.json
Due: prettier --cache --write

ghrs: snap 05-12-2327-0D0A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-12_232729_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-12_232729_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-12_232729_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-12-2327-0D0A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-12_232729_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-12-2327-0D0A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main (#1851)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 05-13-2328-0F81 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-13_232815_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-13_232815_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-13_232815_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-13-2328-0F81 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-13_232815_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
