Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

ghrs: report 08-04-2324-8188 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-05-2323-C1FC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-05_232321_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-05_232321_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-05_232321_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 08-05-2323-C1FC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
Due: none

ghrs: vc agg 08-05-2323-C1FC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-05_232321_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-05-2323-C1FC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-07-0047-5CB0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-07_004742_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-07_004742_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-07_004742_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 08-07-0047-5CB0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 08-07-0047-5CB0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-07_004742_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-07-0047-5CB0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(ui-server): remove deprecated HTTP UI protocol Insomnia collection
  README.md
  src/assets/ui-protocol/Insomnia-CSSimulatorUIHTTPProtocol.json
Due: prettier --cache --write

chore(ui-server): remove deprecated HTTP UI protocol Insomnia collection (#2070)
  README.md
  src/assets/ui-protocol/Insomnia-CSSimulatorUIHTTPProtocol.json
Due: prettier --cache --write

fix: use Driivz deletion lifecycle
  .gitignore
  cspell.config.yaml
  src/scripts/README.md
  src/scripts/deleteChargingStations.cjs
  src/scripts/scriptConfig-template.json
  tests/scripts/DeleteChargingStations.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(webui): add show details action for charging stations
  ui/web/README.md
  ui/web/src/core/Constants.ts
  ui/web/src/core/index.ts
  ui/web/src/router/index.ts
  ui/web/src/shared/utils/index.ts
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/src/skins/modern/components/dialogs/StationDetailsDialog.vue
  ui/web/tests/unit/router.test.ts
  ui/web/tests/unit/shared/composables/stationDetails.test.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
  ui/web/tests/unit/skins/modern/ModernLayout.test.ts
  ui/web/tests/unit/skins/modern/StationCard.test.ts
Due: prettier --cache --write

refactor(webui): centralize OCPP row formatting and address review
  ui/web/src/shared/utils/index.ts
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/modern/components/dialogs/StationDetailsDialog.vue
  ui/web/tests/unit/shared/composables/stationDetails.test.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
  ui/web/tests/unit/skins/modern/ModernLayout.test.ts
Due: none

test(webui): tighten details tests and unify empty-value formatting
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/tests/unit/shared/composables/stationDetails.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

refactor(webui): address initial-review findings for show details
  ui/web/README.md
  ui/web/src/shared/composables/useStationDetails.ts
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/modern/components/dialogs/StationDetailsDialog.vue
  ui/web/tests/unit/shared/composables/useStationDetails.test.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: prettier --cache --write

ghrs: snap 08-07-2313-3F0D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-07_231334_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-07_231334_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-07_231334_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 08-07-2313-3F0D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
Due: none

ghrs: vc agg 08-07-2313-3F0D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-07_231334_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-07-2313-3F0D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-08-2309-54DD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-08_230908_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-08_230908_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-08_230908_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-08-2309-54DD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-08_230908_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-08-2309-54DD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-09-2309-6DAD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-09_230940_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-09_230940_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-09_230940_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-09-2309-6DAD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-09_230940_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-09-2309-6DAD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

style(webui): harmonize modern show-details with skin conventions
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/src/skins/modern/components/dialogs/StationDetailsDialog.vue
  ui/web/src/skins/modern/modern.css
Due: none

style(webui): resolve exhaustive-review nits for show details
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/src/skins/modern/components/dialogs/ShowDetailsDialog.vue
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
  ui/web/tests/unit/skins/modern/ModernLayout.test.ts
Due: none

style(webui): order ShowDetailsDialog async import alphabetically
  ui/web/src/skins/modern/ModernLayout.vue
Due: none

docs(webui): fix show details JSDoc wording and uniformize empty-state punctuation
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/modern/components/dialogs/ShowDetailsDialog.vue
Due: none

feat(webui): add show details action for charging stations (#2072)
  ui/web/README.md
  ui/web/src/core/Constants.ts
  ui/web/src/core/index.ts
  ui/web/src/router/index.ts
  ui/web/src/shared/composables/useStationDetails.ts
  ui/web/src/shared/utils/index.ts
  ui/web/src/shared/utils/stationDetails.ts
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/src/skins/modern/components/dialogs/ShowDetailsDialog.vue
  ui/web/src/skins/modern/modern.css
  ui/web/tests/unit/router.test.ts
  ui/web/tests/unit/shared/composables/stationDetails.test.ts
  ui/web/tests/unit/shared/composables/useStationDetails.test.ts
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
  ui/web/tests/unit/skins/modern/ModernLayout.test.ts
  ui/web/tests/unit/skins/modern/StationCard.test.ts
Due: prettier --cache --write

fix(webui): improve visual separation of station details sections and key/values
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/modern/components/dialogs/ShowDetailsDialog.vue
Due: none

fix(webui): make modern details section headings read as titled blocks
  ui/web/src/skins/modern/components/dialogs/ShowDetailsDialog.vue
Due: none

fix(webui): keep classic details in the right-hand action panel
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
Due: none

fix(webui): drop redundant Close button from classic details view
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/tests/unit/skins/classic/Actions.test.ts
Due: none

test(webui): cover show-details toggle navigation and drop dead leftovers
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/classic/CSData.test.ts
Due: none

style(webui): trim details view CSS comments to non-obvious rationale
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/src/skins/modern/components/dialogs/ShowDetailsDialog.vue
Due: none

fix(webui): add not-found escape to classic details, harden toggle tests
  ui/web/src/skins/classic/components/actions/ShowDetails.vue
  ui/web/tests/unit/skins/classic/Actions.test.ts
  ui/web/tests/unit/skins/classic/CSData.test.ts
Due: none

style(webui): tighten modern details row separator spacing
  ui/web/src/skins/modern/components/dialogs/ShowDetailsDialog.vue
Due: none
