Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

feat: add event emitter to worker pool/set code
  package.json
  src/charging-station/ChargingStationWorker.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerStaticPool.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: expose pool/set information
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerStaticPool.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: cleanup worker set code
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix: avoid concurrent ATG startup
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStationWorker.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: applied changes for pull request
  README.md
  src/assets/station-templates/abb-atg.station-template.json
  src/assets/station-templates/chargex.station-template.json
  src/assets/station-templates/evlink.station-template.json
  src/assets/station-templates/schneider-evses.station-template.json
  src/assets/station-templates/schneider-imredd.station-template.json
  src/assets/station-templates/siemens.station-template.json
  src/assets/station-templates/virtual-simple.station-template.json
  src/assets/station-templates/virtual.station-template.json
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/types/ChargingStationTemplate.ts
  src/types/ConnectorStatus.ts
  src/types/index.ts
  src/types/ocpp/1.6/Reservation.ts
  src/types/ocpp/1.6/Responses.ts
  src/types/ocpp/Requests.ts
  src/types/ocpp/Responses.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: trivial cleanups
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPConstants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup reservation handling code
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPConstants.ts
Due: prettier --cache --write, eslint --cache --fix

fix: validate response payload related to reservation OCPP commands
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/types/ocpp/1.6/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use helper to set and send connector status in reservation code
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup reservation code
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: revert overzealous cleanup
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure firmware update simulation always run as async resource
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: missing status updates regarding reservation cancellation and replacement
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/types/ocpp/1.6/Reservation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: factor out charging station events waiter
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/types/index.ts
  src/types/ocpp/1.6/Responses.ts
  src/types/ocpp/Responses.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

chore: version 1.2.16
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

refactor: consolidate worker events enum
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
  src/worker/index.ts
Due: prettier --cache --write, eslint --cache --fix

fix: export worker events also as enum
  src/worker/index.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix worker options argument passing to worker pool/set
  src/charging-station/Bootstrap.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerStaticPool.ts
  src/worker/WorkerTypes.ts
  src/worker/index.ts
Due: prettier --cache --write, eslint --cache --fix

fix: make worker set respect all relevant worker options
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: align set information namespace
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

feat: move logging configuration into its own section
  README.md
  docker/config.json
  src/assets/config-template.json
  src/performance/PerformanceStatistics.ts
  src/types/ConfigurationData.ts
  src/types/index.ts
  src/utils/Configuration.ts
  src/utils/Logger.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine configuration deprecation message
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

fix: properly handle non existing configuration sections
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

fix: do not run scripts while installing deps in docker image
  docker/Dockerfile
Due: none

docs: refine README.md
  README.md
Due: prettier --cache --write

docs: refine README
  README.md
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
