Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor: consolidate enforceMessageLimits types with generic R and RejectionReason
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: accept enum types in registry/manager signatures, remove 429 redundant as-string casts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: type buildTransactionEvent with OCPP20TransactionEventOptions
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ocpp/2.0/Transaction.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: eliminate explicit `any` from `once()` and `toHandler()` with proper generics
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: centralize handler type bridges in OCPP base classes
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: type deprecated config key maps with `keyof` to eliminate 4 casts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use `JsonObject` and generic `OCPPAuthAdapter<TVersionId>` in auth module
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: prettier --cache --write, eslint --cache --fix

chore: lock file maintenance
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: make `eventType` required in `OCPP20TransactionEventOptions`
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ocpp/2.0/Transaction.ts
Due: prettier --cache --write, eslint --cache --fix

fix(deps): add security overrides for brace-expansion, picomatch, smol-toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

refactor: use `OCPP20MessageFormatEnumType` instead of string literal union
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: deduplicate imports
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: eliminate all non-null assertion suppressions with proper null guards
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/Helpers.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/SharedLRUCache.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/performance/PerformanceStatistics.ts
  src/utils/AsyncLock.ts
  src/utils/Configuration.ts
  src/utils/Logger.ts
  src/utils/MessageChannelUtils.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

fix: replace incorrect zero fallbacks for maximumPower and maximumAmperage
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use Number.isNaN() instead of global isNaN()
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write, eslint --cache --fix

chore: remove accidentally tracked test plan file
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write

docs: align README OCPP 2.0.1 variable list with code registry
  README.md
Due: prettier --cache --write

refactor: align intermediate variable naming with codebase conventions
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  src/charging-station/ui-server/UIServerSecurity.ts
  src/charging-station/ui-server/mcp/MCPTools.ts
  src/utils/Configuration.ts
  src/worker/WorkerAbstract.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: align variable naming and remove non-null assertions in tests and UI
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Reservations.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UnlockConnector.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-StopTransaction.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-connectorStatus.test.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/ocpp2-e2e-test-plan.md
  tests/utils/ChargingStationConfigurationUtils.test.ts
  tests/utils/MessageChannelUtils.test.ts
  ui/web/src/composables/UIClient.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
Due: prettier --cache --write

chore: untrack accidentally committed test plan file
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write

refactor: harmonize errMsg → errorMsg for intra-file naming consistency
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/performance/PerformanceStatistics.ts
Due: prettier --cache --write, eslint --cache --fix

fix: use case-insensitive boolean parsing for OCPP configuration values
  src/assets/station-templates/chargex.station-template.json
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/utils/Utils.ts
  tests/charging-station/ConfigurationKeyUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: extract normalized boolean variable in validation checks
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

feat: support configurable measurands per transaction stage in OCPP 2.0
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Utils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

test: restore and harmonize OCPP 2.0 transaction meter value assertions
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: none

test: add whitespace-padded value coverage for convertToBoolean
  tests/utils/Utils.test.ts
  ui/web/tests/unit/Utils.test.ts
Due: none

fix: map WebSocketPingInterval to OCPPCommCtrlr per OCPP 2.0.1 spec
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: correct WebSocketPingInterval documentation and registry default
  README.md
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: replace Measurands string literal with OCPP20RequiredVariableName enum
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: move debug param to last position in buildMeterValue
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use OCPP20RequiredVariableName for measurands in OCPP20ServiceUtils
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: add SimulateSignatureVerificationFailure to OCPP20VendorVariableName enum
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: move ConfigurationValueSize, ReportingValueSize, ValueSize to OCPP20OptionalVariableName
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: align ConnectionTimeOut semantics with OCPP spec
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat: implement TxEnded meter value accumulator per OCPP 2.0.1 spec §2.1
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ConnectorStatus.ts
  src/types/ocpp/2.0/Variables.ts
  src/utils/ChargingStationConfigurationUtils.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: add symmetric Ended meter value tests for start/stop/zero-interval
  tests/charging-station/ChargingStation-Transactions.test.ts
Due: none

test: isolate readCombinedLog tests from real logs directory
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
Due: none

chore(webui): update screenshot
  ui/web/src/assets/webui.png
Due: none

refactor: encapsulate connector/EVSE iteration behind generator API
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ChargingStationWorker.ts
  src/types/ConnectorStatus.ts
  src/types/Evse.ts
  src/types/index.ts
  src/utils/ChargingStationConfigurationUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SmartCharging.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UnlockConnector.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
  tests/utils/MessageChannelUtils.test.ts
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/types/ChargingStationType.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/constants.ts
Due: prettier --cache --write, eslint --cache --fix
