Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor(ocpp): remove static alias forwarding from OCPPServiceUtils class
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): dissolve OCPPServiceUtils class and eliminate dynamic imports
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/auth/cache/index.ts
  src/charging-station/ocpp/auth/factories/index.ts
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/auth/utils/index.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-StopTransaction.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-pure.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-validation.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): enforce strict version separation in OCPPServiceUtils
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-StatusNotification.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-pure.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(auth): remove unnecessary async from sync interface methods
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
Due: prettier --cache --write, eslint --cache --fix

docs: fix JSDoc using historical language instead of current-state descriptions
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract version-specific logic from consumer layer
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceFactory.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/OCPPServiceFactory.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: reduce code duplication across OCPP services, UI server, and configuration
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationMigration.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): correct P0/P1 spec conformity gaps for OCPP 1.6 and 2.0.1
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20CertSigningRetryManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/types/index.ts
  src/types/ocpp/1.6/Transaction.ts
  src/types/ocpp/2.0/Variables.ts
  src/types/ocpp/ErrorType.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertSigningRetryManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AuthCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-ReconnectDelay.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): strengthen mock call verification in OCPP 2.0 handler tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UnlockConnector.test.ts
Due: none

refactor(auth): make updateCacheEntry API OCPP version-agnostic
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(auth): rename parsed to expiry in updateCacheEntry
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
Due: prettier --cache --write, eslint --cache --fix

fix(auth): use Math.floor for TTL computation to avoid serving expired cache entries
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: merge duplicate same-kind imports from identical sources
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: prettier --cache --write, eslint --cache --fix

fix(auth): trigger post-authorize by default when DisablePostAuthorize not configured
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy-DisablePostAuthorize.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(auth): remove getAuthCache from interfaces, own cache in service
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AuthCache.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: remove accidentally committed test plan
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write

chore: release main (#1763)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix(ocpp): warn on OCPP 1.6 keys in template only, silent remap for internal code
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(log): quote and truncate all auth identifiers in log messages
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/IdTagAuthorization.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1767)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

refactor: move constants to domain-appropriate locations
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16Constants.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/index.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/exception/OCPPError.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/exception/OCPPError.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): consolidate Ajv type alias in OCPPServiceUtils
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: fix formatting whitespace and update MCP SDK version pin comment
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ui-server/UIMCPServer.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): move isIdTagAuthorized into OCPPServiceOperations
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/IdTagAuthorization.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/IdTagAuthorization.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract connector status operations into dedicated module
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/OCPPConnectorStatusOperations.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract version-specific builders and transaction operations
  src/charging-station/ocpp/1.6/OCPP16MeterValueBuilders.ts
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20MeterValueBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): consolidate meter value builders into RequestBuilders
  src/charging-station/ocpp/1.6/OCPP16MeterValueBuilders.ts
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20MeterValueBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): align builder naming and harmonize test structure
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/IdTagAuthorization.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-pure.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): harmonize test constants and assertion messages
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/ocpp/1.6/OCPP16Constants.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/Asn1DerUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-CallChain.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AuthCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-ReconnectDelay.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
Due: none

refactor(ocpp): complete version-separation in OCPPServiceUtils
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/OCPPServiceUtils-pure.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): move mapStopReasonToOCPP20 tests to OCPP20RequestBuilders.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestBuilders.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-pure.test.ts
Due: none

test(ocpp): add assertion messages to assert.ok(.includes()) checks in VariableManager tests
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

refactor: remove unnecessary type casts and improve type safety
  src/charging-station/ocpp/2.0/__testable__/index.ts
  src/utils/MessageChannelUtils.ts
  src/utils/Utils.ts
  src/worker/WorkerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): wire context param through OCPP 1.6 meter value builder
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): align OCPP 2.0 meter value builder with 1.6 parity
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-MeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-meterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): harmonize sampled value builders between versions
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): consolidate MeterValue builders into shared core
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): align OCPP 2.x auth adapter version to VERSION_201
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/factories/AuthComponentFactory.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
Due: prettier --cache --write, eslint --cache --fix
