Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor(utils): add isOCPP20x helper and route version predicates
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): single-source the request-statistics gate
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  tests/charging-station/ChargingStation-RequestStatistic.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(utils): use isNotEmptyString/isNotEmptyArray predicates
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationSchema.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: drop dead exports and redundant re-export
  src/charging-station/TemplateSchema.ts
  src/charging-station/index.ts
  src/worker/WorkerTypes.ts
  src/worker/index.ts
  ui/common/src/client/WebSocketClient.ts
  ui/common/tests/WebSocketClient.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(auth): rename AuthorizationStatus enum to AuthResultStatus
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AuthCache.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy-DisablePostAuthorize.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/types/AuthTypes.test.ts
  tests/charging-station/ocpp/auth/utils/AuthConfigValidator.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): drop now-redundant logRequestHandlerError module-name param
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

docs(charging-station): document recordRequestStatistic public method
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): route VariableMetadata mutability/persistence checks through predicates
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableRegistry.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): unexport in-file-only parseJsonSchemaFile
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

feat(worker): terminate a deleted station's worker once it hosts zero elements (#2027)
  README.md
  src/charging-station/Bootstrap.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerFixedPool.ts
  src/worker/WorkerSet.ts
  tests/worker/WorkerSet.test.ts
  tests/worker/fixtures/echoWorker.mjs
  tests/worker/fixtures/silentWorker.mjs
Due: prettier --cache --write, eslint --cache --fix

fix(worker): harden element-granular termination against concurrency races
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
  tests/worker/WorkerSet.test.ts
  tests/worker/fixtures/echoWorker.mjs
  tests/worker/fixtures/silentWorker.mjs
Due: prettier --cache --write, eslint --cache --fix

fix(worker): make element termination robust and tighten its types
  src/worker/WorkerAbstract.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
  tests/worker/WorkerSet.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(worker): align WorkerSet internals view element key type to string
  tests/worker/WorkerSet.test.ts
Due: none

docs(worker): drop the worker-termination note from the README
  README.md
Due: prettier --cache --write

feat(worker): terminate a deleted station's worker once it hosts zero elements (#2027) (#2038)
  src/charging-station/Bootstrap.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerFixedPool.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
  tests/worker/WorkerSet.test.ts
  tests/worker/fixtures/echoWorker.mjs
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): defer HTTP broadcast responses until worker replies aggregate (#2028)
  src/charging-station/ui-server/UIHttpServer.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): defer HTTP broadcast responses until worker replies aggregate (#2028) (#2037)
  src/charging-station/ui-server/UIHttpServer.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: use shared constants and enums instead of hardcoded literals
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SmartCharging.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-PostStopResurrection.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerTestConstants.ts
Due: none

feat(ui-server): add opt-in HSTS response header (#1980)
  README.md
  cspell.config.yaml
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/types/ConfigurationData.ts
  src/utils/ConfigurationSchema.ts
  src/utils/index.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIServerAccessPolicy.test.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/utils/ConfigurationSchema.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-19-2320-9639 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-19_232057_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-19_232057_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-19_232057_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 07-19-2320-9639 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
Due: none

ghrs: vc agg 07-19-2320-9639 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-19_232057_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-19-2320-9639 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

test: use shared constants and enums instead of hardcoded literals (#2040)
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SmartCharging.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-PostStopResurrection.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerTestConstants.ts
Due: none

feat(ui-server): add opt-in HSTS response header (#1980) (#2039)
  README.md
  cspell.config.yaml
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/types/ConfigurationData.ts
  src/utils/ConfigurationSchema.ts
  src/utils/index.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIServerAccessPolicy.test.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/utils/ConfigurationSchema.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-20-2323-1F1D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-20_232347_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-20_232347_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-20_232347_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-20-2323-1F1D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-20_232347_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-20-2323-1F1D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 07-21-2321-C0AC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-21_232144_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-21_232144_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-21_232144_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-21-2321-C0AC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-21_232144_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-21-2321-C0AC for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 07-22-2323-C45A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-22_232321_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-22_232321_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-22_232321_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-22-2323-C45A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-22_232321_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-22-2323-C45A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 07-23-2321-5DB6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-23_232151_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-23_232151_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-23_232151_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-23-2321-5DB6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-23_232151_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-23-2321-5DB6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 07-24-2324-3A55 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-24_232421_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-24_232421_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-24_232421_views_clones_series_fragment.csv
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
