Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(ocpp20): preserve transaction event delivery guarantees
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/meter-values/TransactionMeterValueDeliveryBarrier.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ConnectorStatus.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-13-2310-3701 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-13_231047_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-13_231047_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-13_231047_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-13-2310-3701 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-13_231047_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-13-2310-3701 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp20): preserve terminal transaction events
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

test(ocpp20): await trigger cleanup callbacks
  tests/charging-station/ChargingStation-ConversionEfficiency.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: none

chore(pr-bot): set review/summarize model to gpt-5.6-sol
  .hyperspace/pull_request_bot.json
Due: prettier --cache --write

chore(pr-bot): set review/summarize model to gpt-5.6-sol (#2116)
  .hyperspace/pull_request_bot.json
Due: prettier --cache --write

fix(ocpp20): resolve clock-aligned autonomous emit deadlock
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): address clock-aligned metering review findings
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-14-2310-3733 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-14_231052_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-14_231052_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-14_231052_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-14-2310-3733 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-14_231052_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-14-2310-3733 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp20): tear down clock-aligned timer on degraded stop
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-Heartbeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): align cross-component imports with barrel discipline
  .serena/memories/code_style_conventions.md
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/index.ts
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/meter-values/TransactionMeterValueDeliveryBarrier.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

style(tests,ocpp): apply remaining project conventions from audit
  src/charging-station/ChargingStation.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/meter-values/TransactionMeterValueDeliveryBarrier.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetTransactionStatus.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-Heartbeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CoherentSession.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-MeterValues.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): pin register read time in coalesce test to remove wall-clock proration
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: none

fix(ocpp): address PR review findings on meterValues, energy lookup, reset
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): restore log prefix and align idle snapshot register scope
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-15-2311-1B6E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-15_231115_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-15_231115_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-15_231115_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-15-2311-1B6E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-15_231115_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 09-15-2311-1B6E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: report 09-15-2311-1B6E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(deps): keep skott at ^0.35.11 and regenerate lockfile
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps): bump neostandard to 0.14.0-next.1 for ESLint 10 support
  package.json
  pnpm-lock.yaml
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/utils/AsyncLock.test.ts
  ui/cli/src/commands/action.ts
  ui/common/src/utils/payloadBuilders.ts
  ui/web/src/shared/composables/useAsyncAction.ts
  ui/web/src/shared/composables/useChangeConfigurationForm.ts
  ui/web/src/shared/composables/useSetUrlForm.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): widen neostandard range to ^0.14.0-next.1
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(meter-values): own the public barrel, drop charging-station re-exports
  .serena/memories/project_overview.md
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/index.ts
  src/charging-station/meter-values/index.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/meter-values/StrategyDispatch.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(meter-values): route remaining root imports through the barrel
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-16-2311-67B0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-16_231104_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-16_231104_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-16_231104_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-16-2311-67B0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-16_231104_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 09-16-2311-67B0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
Due: none

ghrs: report 09-16-2311-67B0 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(deps): use available skott release
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(ocpp): preserve metering owners and replay certainty
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: adopt canonical helpers over reimplementations
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/Bootstrap.test.ts
  tests/charging-station/ChargingStation-AutoRegisterOcppProtocol.test.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/TemplateValidation.test.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/meter-values/EvProfiles.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AuthCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ui-server/UIMCPServer-Integration.test.ts
  tests/utils/ConfigurationValidation.test.ts
  ui/cli/tests/renderers.test.ts
  ui/common/src/utils/payloadBuilders.ts
  ui/common/tests/mocks.ts
  ui/web/src/shared/utils/stationStatus.ts
  ui/web/tests/unit/helpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): preserve metering owners and replay certainty (#2119)
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: adopt canonical helpers over reimplementations (#2120)
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/Bootstrap.test.ts
  tests/charging-station/ChargingStation-AutoRegisterOcppProtocol.test.ts
  tests/charging-station/ChargingStation-NumberOfPhases.test.ts
  tests/charging-station/ChargingStation-ResetIdentity.test.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/TemplateValidation.test.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/meter-values/EvProfiles.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AuthCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryLocalAuthListManager.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ui-server/UIMCPServer-Integration.test.ts
  tests/utils/ConfigurationValidation.test.ts
  ui/cli/tests/renderers.test.ts
  ui/common/src/utils/payloadBuilders.ts
  ui/common/tests/mocks.ts
  ui/web/src/shared/utils/stationStatus.ts
  ui/web/tests/unit/helpers.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-17-2310-912C for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-17_231003_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-17_231003_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-17_231003_views_clones_series_fragment.csv
Due: none
