Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

chore(sandcastle): set planner effort to high
  .sandcastle/constants.ts
Due: none

feat(ui): complete connector status change with error simulation and local state update
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  ui/common/src/types/ChargingStationType.ts
  ui/web/src/core/UIClient.ts
  ui/web/src/shared/composables/useConnectorActions.ts
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/modern/components/dialogs/SetConnectorStatusDialog.vue
  ui/web/tests/unit/shared/composables/useConnectorActions.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui): polish connector status — reactivity consistency, JSDoc, tests, init from current status
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/modern/components/dialogs/SetConnectorStatusDialog.vue
  ui/web/tests/unit/skins/classic/CSConnector.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

refactor(ui): remove redundant onRefresh from connector actions
  ui/web/src/shared/composables/useConnectorActions.ts
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/src/skins/modern/components/ConnectorRow.vue
  ui/web/src/skins/modern/components/StationCard.vue
  ui/web/src/skins/modern/components/dialogs/SetConnectorStatusDialog.vue
  ui/web/tests/unit/shared/composables/useConnectorActions.test.ts
  ui/web/tests/unit/skins/classic/CSConnector.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

refactor(ui-common): extract buildStatusNotificationPayload shared builder
  ui/cli/src/commands/ocpp.ts
  ui/common/src/utils/payloadBuilders.ts
  ui/web/src/core/UIClient.ts
Due: none

fix(ui-common): keep buildStatusNotificationPayload strongly typed
  ui/cli/src/commands/ocpp.ts
  ui/common/src/utils/payloadBuilders.ts
Due: none

fix(ui-common): remove invalid Occupied from OCPP16ChargePointStatus enum
  ui/cli/tests/format.test.ts
  ui/common/src/types/ChargingStationType.ts
  ui/web/tests/unit/shared/composables/stationStatus.test.ts
  ui/web/tests/unit/skins/modern/ConnectorRow.test.ts
Due: none

fix(ui-common): make ChargePointStatus a union of OCPP 1.6 and 2.0.x enums
  ui/cli/tests/format.test.ts
  ui/common/src/types/ChargingStationType.ts
Due: none

refactor(ui-common): use ChargePointStatus type alias instead of inline union
  ui/cli/src/commands/ocpp.ts
  ui/common/src/utils/payloadBuilders.ts
  ui/web/src/core/UIClient.ts
  ui/web/src/shared/composables/useConnectorActions.ts
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/modern/components/dialogs/SetConnectorStatusDialog.vue
Due: none

fix: add connectorId guard to handleStatusNotification for consistency
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui): address review feedback — clickable status pill, stale state sync, error-code apply
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/modern/components/ConnectorRow.vue
  ui/web/src/skins/modern/modern.css
Due: none

ci(sandcastle): schedule daily run at midnight Europe/Paris
  .github/workflows/sandcastle.yml
Due: prettier --cache --write

chore(sandcastle): increase idle timeout to 600s for MCP init
  .sandcastle/constants.ts
Due: none

fix: persist errorCode on ConnectorStatus, remove Partial<> cast, add tooltip
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
  src/types/ConnectorStatus.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  ui/common/src/types/ChargingStationType.ts
  ui/web/src/skins/modern/components/ConnectorRow.vue
Due: prettier --cache --write, eslint --cache --fix

fix(ui): address DerGenaue feedback — always-visible icon, preserve pill height
  ui/web/src/skins/modern/components/ConnectorRow.vue
  ui/web/src/skins/modern/modern.css
Due: none

fix(sandcastle): revert idle timeout to 300s and remove redundant copyToWorktree
  .sandcastle/constants.ts
  .sandcastle/main.ts
Due: none

fix(sandcastle): add configurable agent provider (pi/opencode)
  .github/workflows/sandcastle.yml
  .sandcastle/constants.ts
  .sandcastle/main.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/task-source.ts
  .sandcastle/utils.ts
  eslint.config.js
Due: prettier --cache --write, eslint --cache --fix

fix(ui): editable status pill design
  ui/web/src/skins/modern/components/ConnectorRow.vue
  ui/web/src/skins/modern/components/dialogs/SetConnectorStatusDialog.vue
  ui/web/src/skins/modern/modern.css
Due: none

fix(sandcastle): increase validation timeout to 600s
  .sandcastle/constants.ts
Due: none

fix(sandcastle): run validation across all workspace packages
  .sandcastle/constants.ts
Due: none

fix(ui): editable status pill design (#1838)
  ui/web/src/skins/modern/components/ConnectorRow.vue
  ui/web/src/skins/modern/components/dialogs/SetConnectorStatusDialog.vue
  ui/web/src/skins/modern/modern.css
Due: none

fix(web): fetch templates on dialog open via layout composable (#1837)
  ui/web/src/shared/composables/useAddStationsForm.ts
  ui/web/src/shared/composables/useLayoutData.ts
  ui/web/src/skins/classic/ClassicLayout.vue
  ui/web/src/skins/modern/ModernLayout.vue
  ui/web/tests/unit/shared/composables/useAddStationsForm.test.ts
  ui/web/tests/unit/skins/modern/Dialogs.test.ts
Due: none

fix: validate status field in handleStatusNotification
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

feat(sandcastle): add roundHistory to LoopResult and plannerOutput to TaskSpec
  .sandcastle/refinement-loop.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
Due: none

feat(sandcastle): enrich planner with acceptance criteria and root cause hypothesis
  .sandcastle/plan-prompt.md
  .sandcastle/strategies/implement/actor-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
Due: prettier --cache --write

fix(sandcastle): assign opus to actor, sonnet to planner, increase planner iterations
  .sandcastle/constants.ts
  .sandcastle/task-source.ts
Due: none

refactor(sandcastle): remove redundant lastFindings from LoopResult
  .sandcastle/finalizer.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/types.ts
Due: none

refactor(sandcastle): remove plannerOutput from TaskSpec
  .sandcastle/task-source.ts
  .sandcastle/types.ts
Due: none

fix(sandcastle): add missing JSDoc descriptions to satisfy lint rules
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/task-source.ts
Due: none

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1833)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix(sandcastle): update pi package to @earendil-works/pi-coding-agent
  .sandcastle/Dockerfile
Due: none

fix(sandcastle): wire reasoning effort through to agent providers
  .sandcastle/refinement-loop.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
  .sandcastle/utils.ts
Due: none

fix(sandcastle): patch pi thinking option and replace type indirections
  .sandcastle/constants.ts
  .sandcastle/refinement-loop.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
  .sandcastle/utils.ts
  package.json
  patches/@ai-hero__sandcastle.patch
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(ui/web): remove redundant connector status column from classic skin
  ui/web/src/skins/classic/components/charging-stations/CSConnector.vue
  ui/web/src/skins/classic/components/charging-stations/CSData.vue
  ui/web/tests/unit/skins/classic/CSConnector.test.ts
Due: none

fix(ui/web): fix editable pill hover visibility in light themes
  ui/web/src/skins/modern/modern.css
Due: none

fix(ui/web): smooth icon-btn danger hover shadow and remove dead token
  ui/web/src/skins/modern/modern.css
Due: none

chore: release main (#1842)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

feat(charging-station): add per-connector maximum power support
  .sandcastle/plan-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
  src/assets/station-templates/abb-atg.station-template.json
  src/assets/station-templates/abb.station-template.json
  src/assets/station-templates/virtual-simple-atg.station-template.json
  src/assets/station-templates/virtual-simple-signed.station-template.json
  src/assets/station-templates/virtual-simple.station-template.json
  src/assets/station-templates/virtual.station-template.json
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/types/ConnectorStatus.ts
Due: prettier --cache --write, eslint --cache --fix
