Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix: fix charging profile handling at remote start transaction
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: typo in condition check at remote start transaction
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

build(ci): fix merge queue usage
  .github/workflows/codeql-analysis.yml
Due: prettier --cache --write

feat: add helper to compose i2 charging schedules (higher stack level with lower)
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix: fix gap in schedule periods in composeChargingSchedules()
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure composite schedule period start at 0
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup default optional default arguments handling
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup arguments namespace
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use helper to check charging station at WS opening
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix: avoid worker-threads restart at error during startup
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: unflag worker startup at the right time on worker set
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

build: update volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

refactor: cleanup try catch constructs
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix configuration section cache usage
  src/charging-station/ChargingStation.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

feat: reduce the number of deprecated configuration warnings
  src/charging-station/ChargingStation.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure null or undefined checks in condition
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove unneeded backward compatibility code
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: flag tunable as deprecated
  src/types/ConfigurationData.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix log messages formatting
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove deprecated configuration tunable handling
  src/charging-station/ChargingStation.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.2.20
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

fix: fix performance records duplication
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
Due: prettier --cache --write, eslint --cache --fix

docs: add code comment
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: introduce an async lock mutex helper to run exclusively a code block
  src/charging-station/ChargingStation.ts
  src/performance/storage/JsonFileStorage.ts
  src/utils/AsyncLock.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/performance/storage/JsonFileStorage.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build: update volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build: refine prettier configuration
  ui/web/.prettierignore
Due: none

build(deps): apply dependencies updates
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
