Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

docs: refine README.md
  README.md
Due: prettier --cache --write

refactor: strong type UUID usage in UI protocol
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  src/utils/Utils.ts
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/UIProtocol.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): refine error messages formatting
  ui/web/src/components/charging-stations/CSData.vue
Due: none

feat!: handle Set at JSON serialization to string
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/performance/PerformanceStatistics.ts
  src/performance/storage/JsonFileStorage.ts
  src/types/MapStringifyFormat.ts
  src/types/SimulatorState.ts
  src/types/Statistics.ts
  src/types/UIProtocol.ts
  src/types/index.ts
  src/utils/MessageChannelUtils.ts
  src/utils/Utils.ts
  src/utils/index.ts
  ui/web/src/composables/UIClient.ts
  ui/web/start.js
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup debug code
  src/types/UIProtocol.ts
  src/utils/Utils.ts
  ui/web/src/composables/UIClient.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup some type casting
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): validate UUID format
  src/utils/ChargingStationConfigurationUtils.ts
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore: version 1.3.0
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

refactor: convert home made helpers to rambda ones
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/SharedLRUCache.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/utils/Configuration.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use more ramdba helpers
  src/performance/PerformanceStatistics.ts
  src/utils/StatisticUtils.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/utils/StatisticUtils.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build: enfore tree shaking with esbuild
  bundle.js
Due: prettier --cache --write, eslint --cache --fix

refactor: improve configuration sanity checks log messages
  src/charging-station/ChargingStation.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIServerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: spell fix in log messages
  src/charging-station/ChargingStation.ts
  src/charging-station/ui-server/UIServerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove unneeded isString() helper
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use native node random integer generator
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Constants.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/performance/storage/JsonFileStorage.ts
  src/utils/Configuration.ts
  src/worker/WorkerSet.ts
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

build: target ESNext in tsconfig.json
  tsconfig.json
Due: prettier --cache --write

refactor: rename configuration elementStartDelay to elementAddDelay
  README.md
  src/charging-station/Bootstrap.ts
  src/types/ChargingStationInfo.ts
  src/types/ChargingStationTemplate.ts
  src/types/ConfigurationData.ts
  src/utils/Configuration.ts
  src/worker/WorkerConstants.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFixedPool.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
  src/worker/index.ts
Due: prettier --cache --write, eslint --cache --fix

fix: untangle worker pool/set init from start
  bundle.js
  src/charging-station/Bootstrap.ts
  src/charging-station/Helpers.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerConstants.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFixedPool.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix worker configuration merge issue
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/worker/WorkerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix worker set elementsPerWorker sanity check
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix simulator initialization ordering
  src/charging-station/Bootstrap.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: move template firmware defaults to constants
  src/charging-station/ChargingStation.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: strong stype configuration key deprecation helper
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

feat: ensure charging station add op return its station info
  README.md
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/ChargingStationWorker.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerFixedPool.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup utils export
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup variables namespace
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
