Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

docs: refine OCPP server documentation
  tests/ocpp-server/README.md
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: refine github copilot instructions
  .github/copilot-instructions.md
  tests/ocpp-server/README.md
Due: prettier --cache --write

chore: improve github copilot intructions
  .github/copilot-instructions.md
Due: prettier --cache --write

chore: refine github copilot instructions
  .github/copilot-instructions.md
Due: prettier --cache --write

refactor: cleanup status notification sending code
  e-mobility-charging-stations-simulator.code-workspace
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

Combined PRs (#1553)
  .github/workflows/codeql-analysis.yml
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

Fix connector status race condition in UI server cache during startup (#1548)
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/ChargingStationWorker.ts
  src/utils/MessageChannelUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
Due: prettier --cache --write

fix: ensure UI server charging station templates cache is populated at restart
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure simulator is reinit at configuration file change
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

chore: refine GH copilot instructions
  .github/copilot-instructions.md
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

Update src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): implement GetBaseReport and NotifyReport commands (#1556)
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  tests/ocpp-server/server.py
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup OCPP2 commands implementation
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/types/ConnectorStatus.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Variables.ts
  src/types/ocpp/ConnectorEnumType.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanups OCPP2 types
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

fix: make NotifyReport OCPP2 spec compliant
  eslint.config.js
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
Due: prettier --cache --write, eslint --cache --fix

docs(README.md): update to reflect OCPP2 status
  .github/copilot-instructions.md
  README.md
  eslint.config.js
  src/charging-station/Helpers.ts
  src/types/ocpp/2.0/Common.ts
Due: prettier --cache --write, eslint --cache --fix

perf: emit events only if needed
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): add GetVariables command support
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/index.ts
  src/types/index.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

test: add GetVariables command UTs
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

test: fix ocpp2 test expectation
  tests/charging-station/Helpers.test.ts
Due: none

test: fix OCPP 2 CS template expectations
  tests/charging-station/Helpers.test.ts
Due: none

refactor: refine OCPP2 type definitions and usages
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

test: factor out mock charging station instance creation code
  tests/ChargingStationFactory.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/utils/ErrorUtils.test.ts
Due: none

test: add OCPP2 GetBaseReport command tests
  tests/ChargingStationFactory.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
Due: none

refactor: cleanup GetBaseReport implementation
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: address review comment
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test: add OCPP 2 BootNotification and NotifyReport commands tests
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
Due: none

test: improve OCPP2 mock server commands support
  tests/ocpp-server/README.md
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: prettier --cache --write

fix: request handler are not supposed to throw OCPPError
  .serena/.gitignore
  .serena/memories/code_style_conventions.md
  .serena/memories/ocpp_architecture.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

chore: refine Serena MCP setup
  .serena/memories/ocpp_architecture.md
  .serena/project.yml
Due: prettier --cache --write

chore: refine Serena MCP configuration
  .serena/project.yml
  pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
