Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor: harmonize connector iteration to use iterateConnectors() across prod and tests
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UnlockConnector.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1758)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix: improve OCPP 2.0.1 TransactionEvent spec compliance
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1760)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix: harmonize idToken type to ISO14443 between Authorize and TransactionEvent Started
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1761)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

style: normalize blank line spacing in Constants.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: simplify getNumberOfReservableConnectors using iterateConnectors
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1762)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

docs: fix broken MCP specification URL in README
  README.md
Due: prettier --cache --write

refactor(ocpp): route v1.6 auth through unified system, remove legacy functions
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): replace OCPP 2.0 inline auth with unified auth service
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): update OCPP 1.6 authorization tests for unified auth path
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
Due: none

test(ocpp): add OCPP 2.0 unified auth integration tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: none

feat: add Zed project settings
  .zed/settings.json
Due: prettier --cache --write

fix: add Vue LSP settings and disable Biome in Zed project config
  .zed/settings.json
Due: prettier --cache --write

refactor(ocpp): pass correct AuthContext to isIdTagAuthorized callers
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use auth barrel index instead of deep imports
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use auth barrel for all external imports
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration-Certificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): remove redundant 'unified' naming from auth system
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/types/AuthTypes.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
  tests/charging-station/ocpp/auth/utils/AuthValidators.test.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract authorizeToken helper and fix rejection test assertions
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): add coverage for auth error and context parameter paths
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
Due: none

test(ocpp): remove redundant tests and unnecessary JSDoc from authorization tests
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
Due: none

refactor(ocpp): address review feedback — explicit switch cases, parameterize context, merge imports
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): preserve OCPP 2.0 token type in authorizeToken per C01.FR.25
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): eliminate unnecessary dynamic imports and synchronize auth factory
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/index.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/IdTagAuthorization.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/index.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/IdTagAuthorization.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/factories/AuthComponentFactory.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

build: add skott for type-aware circular dependency detection
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build: override effect>=3.20.0 to fix CVE-2026-32887 (skott transitive dep)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

refactor: break UI server circular dependency via IBootstrap DIP
  src/charging-station/Bootstrap.ts
  src/charging-station/IBootstrap.ts
  src/charging-station/index.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/ErrorUtils.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIServerFactory.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test: fix mock isolation and type safety in UI server tests
  tests/charging-station/ui-server/UIServerFactory.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: none

fix: align auth barrel section headers with exports, use barrel for CertificateAuthStrategy import
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write, eslint --cache --fix

refactor(auth): eliminate code duplication, dead code, and type casts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ocpp/auth/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

fix(auth): preserve OCPP 2.0 Central/Local token type in adapter mapping
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
