Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor(test): extract createMockAuthService to shared MockFactories
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: none

feat(ocpp): include remoteStartId, idToken, and meterValue in TransactionEvent
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(test): harmonize OCPP 2.0 tests - ESLint headers, FR refs, async patterns
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

refactor(ocpp): remove inline copyright headers for REUSE compliance
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/auth/factories/index.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
Due: prettier --cache --write, eslint --cache --fix

chore(ocpp): remove vague TODO comment
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): add ChargingRateChanged to TriggerReasonMapping
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
Due: prettier --cache --write, eslint --cache --fix

fix(test): resolve floating promise lint errors in OCPP 2.0 tests
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(test): mock OCPP 2.0 service dependencies in auth adapter tests
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
Due: none

chore: remove .sisyphus working directory from repository
  .sisyphus/boulder.json
  .sisyphus/evidence/phase-0-baseline.txt
  .sisyphus/evidence/phase-0-complete.txt
  .sisyphus/evidence/phase-1-complete.txt
  .sisyphus/evidence/phase-2-complete.txt
  .sisyphus/evidence/phase-4-complete.txt
  .sisyphus/evidence/phase-5-complete.txt
  .sisyphus/evidence/phase-6-ci-blockers.md
  .sisyphus/evidence/phase-6-complete.txt
  .sisyphus/evidence/phase-6-in-progress.txt
  .sisyphus/notepads/refactor-transaction-event/decisions.md
  .sisyphus/notepads/refactor-transaction-event/issues.md
  .sisyphus/notepads/refactor-transaction-event/learnings.md
  .sisyphus/notepads/refactor-transaction-event/problems.md
  .sisyphus/plans/refactor-transaction-event.md
Due: prettier --cache --write

chore(deps): update vulnerable dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix: make eslint works again
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix(auth): use typed errors and strict types per review
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

docs(auth): improve JSDoc and add OCPP 2.0.1 transaction tracking types
  eslint.config.js
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/test/OCPPAuthIntegrationTest.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  src/charging-station/ocpp/auth/utils/ConfigValidator.ts
  src/types/ConnectorStatus.ts
  src/types/ocpp/2.0/Transaction.ts
Due: prettier --cache --write, eslint --cache --fix

test(auth): add assertion helpers and afterEach cleanup hooks
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.offline.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/factories/AuthComponentFactory.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
Due: none

fix(ocpp): reset all transaction state in resetTransactionSequenceNumber
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: mark RequestStopTransaction and TransactionEvent as implemented
  README.md
Due: prettier --cache --write

refactor(ocpp): remove deprecated TransactionEvent wrapper methods
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): add certificate message type definitions
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add certificate manager TDD tests (red phase)
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
Due: none

feat(ocpp2): implement certificate manager utility (26/30 tests pass, 4 blocked by test bugs)
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add InstallCertificate handler TDD tests (red phase)
  .gitignore
  src/types/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): relax transactionId validation and strengthen ChargingProfile validation
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): implement InstallCertificate handler
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/ocpp/2.0/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add DeleteCertificate handler TDD tests
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetCertificateStatus.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add GetInstalledCertificateIds handler TDD tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
Due: none

fix(ocpp2): register GetCertificateStatus handler in incomingRequestHandlers Map
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add CertificateSigned handler TDD tests (red phase)
  src/types/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): add periodic TransactionEvent at TxUpdatedInterval (OCPP 2.0.1 E02.FR.09/10)
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/index.ts
  src/types/ConnectorStatus.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): implement CertificateSigned handler
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Requests.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): queue TransactionEvents with seqNo on offline (OCPP 2.0.1 offline-first)
  .sisyphus/notepads/ocpp2-conformance-fixes/decisions.md
  .sisyphus/notepads/ocpp2-conformance-fixes/issues.md
  .sisyphus/notepads/ocpp2-conformance-fixes/learnings.md
  .sisyphus/notepads/ocpp2-conformance-fixes/problems.md
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ConnectorStatus.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): resolve linting errors in CertificateSigned handler
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add tests for TxUpdatedInterval periodic timer and offline queueing
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Offline.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Periodic.test.ts
Due: none

refactor(test): harmonize test code with codebase conventions
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Offline.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Periodic.test.ts
Due: none

fix(ocpp2): resolve linting errors in certificate management
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetCertificateStatus.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(test): use setInstanceForTesting for cross-platform mock injection
  src/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): implement SignCertificate request method with mock CSR
  .sisyphus/plans/ocpp2-certificate-management.md
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): implement Get15118EVCertificate and GetCertificateStatus request methods
  .sisyphus/boulder.json
  .sisyphus/evidence/task-1-build-check.txt
  .sisyphus/evidence/task-1-field-match.txt
  .sisyphus/evidence/task-2-tdd-red.txt
  .sisyphus/evidence/task-2-test-structure.txt
  .sisyphus/evidence/task-4-tdd-red.txt
  .sisyphus/evidence/test-analysis.md
  .sisyphus/evidence/test-results.txt
  .sisyphus/notepads/ocpp2-certificate-management/decisions.md
  .sisyphus/notepads/ocpp2-certificate-management/issues.md
  .sisyphus/notepads/ocpp2-certificate-management/learnings.md
  .sisyphus/notepads/ocpp2-certificate-management/problems.md
  eslint.config.js
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): add missing mock methods and globalThis sharing for auth factory
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.ts
  tests/ChargingStationFactory.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps): update minimatch to 10.2.2
  .serena/project.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

fix(ocpp2): address PR review feedback for certificate management
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
