Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor: move more OCPP command sending code to charge point class
  tests/ocpp-server/server.py
Due: none

fix(ocpp-server): add asyncio compatible timer implementation and use it
  tests/ocpp-server/server.py
  tests/ocpp-server/timer.py
Due: none

refactor(ocpp-server): refine log message
  tests/ocpp-server/server.py
Due: none

chore(ocpp-server): refine ruff linter configuration
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
  tests/ocpp-server/timer.py
Due: none

chore(ocpp-server): refine ruff linter configuration
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/pyproject.toml
Due: prettier --cache --write

fix(ocpp-server): silence linter
  tests/ocpp-server/server.py
Due: none

refactor: move CLI options validation to main()
  tests/ocpp-server/server.py
Due: none

fix(ocpp-server): ensure the CLI options help is not truncated
  tests/ocpp-server/server.py
  tests/ocpp-server/timer.py
Due: none

docs(ocpp-server): cleanup comment
  tests/ocpp-server/timer.py
Due: none

build(deps): apply updates
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

refactor(ci): cleanup GH actions
  .github/workflows/autofix.yml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: cleanup default params in error handlers
  src/performance/storage/Storage.ts
  src/utils/ErrorUtils.ts
  src/utils/index.ts
  tests/utils/ErrorUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix ApplicationProtocolVersion type definition
  src/types/ConfigurationData.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

refactor(ci): cleanup GH actions
  .github/workflows/autofix.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --cache --write

build(ci): silence linter
  src/charging-station/ocpp/1.6/OCPP16Constants.ts
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
Due: prettier --cache --write, eslint --cache --fix

test: add ConfigurationData enums tests
  tests/types/ConfigurationData.test.ts
Due: none

chore: version 1.3.7
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

fix(ocpp-server): randomize GetBaseReport request id
  tests/ocpp-server/server.py
Due: none

build: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore: create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --cache --write

chore: dedupe pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(test): code cleanups
  tests/utils/Utils.test.ts
Due: none

refactor(test): typing cleanups
  tests/utils/Utils.test.ts
Due: none

feat: switch to release-please release manager
  .cfignore
  .github/release-please/config.json
  .github/release-please/manifest.json
  .github/workflows/release-please.yml
  .release-it.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(ci): fix release-please GH action run
  .github/release-please/manifest.json
Due: prettier --cache --write

fix(ci): silence release-please GH action warnings
  .github/release-please/config.json
Due: prettier --cache --write

ci: refine release-please configuration
  .github/release-please/config.json
Due: prettier --cache --write

ci: refine release-please configuration for monorepo
  .github/release-please/config.json
  .github/release-please/manifest.json
Due: prettier --cache --write

ci: refine release-please configuration
  .github/release-please/config.json
  .github/release-please/manifest.json
Due: prettier --cache --write

ci: refine release-please configuration
  .github/release-please/config.json
  .github/release-please/manifest.json
  tests/ocpp-server/pyproject.toml
  ui/web/package.json
Due: prettier --cache --write

ci: link version in release-please
  .github/release-please/config.json
Due: prettier --cache --write
