Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

test(auth): strengthen assertion quality and edge case coverage
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/utils/AuthValidators.test.ts
Due: none

test(auth): fix OCPP spec references and remove duplicated tests
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
Due: prettier --cache --write

fix(auth): replace phantom spec references in source code comments
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
Due: prettier --cache --write, eslint --cache --fix

fix(lifecycle): clear auth service on template reload and station reset
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): add AvailabilityState defaults and allow self-transitions
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

revert(ocpp2): re-comment Available→Available self-transitions
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): use enum values instead of string literals in variable registry
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1733)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix(ocpp2): build meter values payload in broadcast channel for OCPP 2.0.x
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/helpers/StationHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): use AlignedDataInterval for standalone MeterValues
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): include meter value in TransactionEvent Started
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add tests for buildTransactionBeginMeterValues
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: none

refactor(ocpp2): address PR review comments
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): extract readVariableAsIntervalMs to eliminate DRY
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): extract terminateTransaction and resolveActiveTransaction
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(test): use enum constants instead of string literals in RequestStartTransaction test
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: none

refactor(test): replace string literals with enum constants in OCPP 2.0 tests
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SchemaValidation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
Due: none

fix(test): replace bogus mock return values with correctly typed empty responses
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
Due: none

refactor(ocpp2): align method names with OCPP 2.0.1 spec terminology
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(test): replace 'Operative' string literal with enum constants
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/utils/MessageChannelUtils.test.ts
Due: none

fix(ocpp2): align MeterValues implementation with OCPP 2.0.1 spec (#1744)
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SchemaValidation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
  tests/utils/MessageChannelUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): implement StopTxOnInvalidId and MaxEnergyOnInvalidId per E05
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ConnectorStatus.ts
  src/utils/ChargingStationConfigurationUtils.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): address PR review comments
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: update webui.png
  ui/web/src/assets/webui.png
Due: none

test: add resetConnectorStatus unit tests to Helpers.test.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: none

fix(ocpp2): implement StopTxOnInvalidId and MaxEnergyOnInvalidId per E05 (#1745)
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ConnectorStatus.ts
  src/utils/ChargingStationConfigurationUtils.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
  ui/web/src/assets/webui.png
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1743)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

feat(types): add MCP application protocol type
  src/types/UIProtocol.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps): add @modelcontextprotocol/sdk and zod
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(ui-server): deprecate UIHttpServer in favor of MCP transport
  eslint.config.js
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIServerFactory.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): add MCP tool zod schemas for all procedures
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/mcp/index.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): add UIMCPServer transport and MCP resource handlers
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/mcp/MCPResourceHandlers.ts
  src/charging-station/ui-server/mcp/index.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): integrate UIMCPServer into UIServerFactory
  src/charging-station/ui-server/UIServerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): add MCP factory integration tests
  tests/charging-station/ui-server/UIServerFactory.test.ts
Due: none

test(ui-server): add UIMCPServer unit tests
  tests/charging-station/ui-server/UIMCPServer.test.ts
Due: none

test(ui-server): add MCP endpoint integration tests and fix lint
  README.md
  eslint.config.js
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): extract HttpMethod enum to shared UIServerUtils
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerUtils.ts
Due: prettier --cache --write, eslint --cache --fix

docs: restructure UI Protocol section — MCP first, remove redundant API listing
  README.md
Due: prettier --cache --write
