Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

test: add more OCPP2 commands UTs
  .serena/memories/suggested_commands.md
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
Due: prettier --cache --write

TECH-7942 debug logging for simulator api wirein
  src/assets/station-templates/abb.station.json
  src/assets/station-templates/delta.station.json
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
Due: prettier --cache --write, eslint --cache --fix

fix: variable manager compliance with specs
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/utils/Constants.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestConstants.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: avoid circular module dependency
  pnpm-lock.yaml
  src/utils/Configuration.ts
  src/utils/ConfigurationUtils.ts
  src/worker/WorkerUtils.ts
  src/worker/index.ts
  tests/utils/ConfigurationUtils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: align sleep related tests
  tests/utils/Utils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: none

refactor: cleanup OCPP2 namespace
  README.md
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): add GetVariables command support (#1568)
  .serena/.gitignore
  .serena/memories/code_style_conventions.md
  .serena/memories/ocpp_architecture.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/index.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Variables.ts
  src/utils/Constants.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestConstants.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/ocpp-server/README.md
  tests/ocpp-server/pyproject.toml
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
  tests/utils/ErrorUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): add Reset command support
  README.md
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/utils/Utils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: refine Serena memories
  .serena/memories/task_completion_checklist.md
Due: prettier --cache --write

chore: add openspec + opencode configuration structure
  .opencode/command/openspec-apply.md
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
  AGENTS.md
  openspec/AGENTS.md
  openspec/project.md
Due: prettier --cache --write

chore: refine openspec project.md
  openspec/project.md
Due: prettier --cache --write

chore: refine openspec configuration
  openspec/project.md
Due: prettier --cache --write

feat(ocpp20): add SetVariables handling with runtime + persistent variable support and tests
  .serena/project.yml
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Variables.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): unify validation messages and remove success reason codes
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/ocpp/2.0/Common.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager-SetVariables.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp20): extend variable manager with EVSE support, runtime overrides + validation refactor
  AGENTS.md
  opencode.jsonc
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager-SetVariables.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore(openspec): add EVSE AuthorizeRemoteStart support proposal and spec delta
  openspec/changes/add-evse-authorizeremotestart-support/proposal.md
  openspec/changes/add-evse-authorizeremotestart-support/specs/ocpp/spec.md
  openspec/changes/add-evse-authorizeremotestart-support/tasks.md
Due: prettier --cache --write

chore(openspec): mark EVSE AuthorizeRemoteStart tasks completed (except validation/archive)
  openspec/changes/add-evse-authorizeremotestart-support/tasks.md
Due: prettier --cache --write

chore(openspec): archive add-evse-authorizeremotestart-support change
  openspec/changes/archive/2025-10-27-add-evse-authorizeremotestart-support/proposal.md
  openspec/changes/archive/2025-10-27-add-evse-authorizeremotestart-support/specs/ocpp/spec.md
  openspec/changes/archive/2025-10-27-add-evse-authorizeremotestart-support/tasks.md
Due: prettier --cache --write

chore(openspec): archive refactor-ocpp20-variable-proxy change
  openspec/changes/archive/2025-10-27-refactor-ocpp20-variable-proxy/proposal.md
  openspec/changes/archive/2025-10-27-refactor-ocpp20-variable-proxy/specs/ocpp/spec.md
  openspec/changes/archive/2025-10-27-refactor-ocpp20-variable-proxy/tasks.md
Due: prettier --cache --write

refactor: drop resetRuntimeVariables\n\nBREAKING CHANGE: use resetRuntimeOverrides() instead
  openspec/changes/add-evse-authorizeremotestart-support/proposal.md
  openspec/changes/add-evse-authorizeremotestart-support/specs/ocpp/spec.md
  openspec/changes/add-evse-authorizeremotestart-support/tasks.md
  openspec/changes/archive/2025-10-27-add-evse-authorizeremotestart-support/proposal.md
  openspec/changes/archive/2025-10-27-add-evse-authorizeremotestart-support/specs/ocpp/spec.md
  openspec/changes/archive/2025-10-27-add-evse-authorizeremotestart-support/tasks.md
  openspec/changes/archive/2025-10-27-refactor-ocpp20-variable-proxy/proposal.md
  openspec/changes/archive/2025-10-27-refactor-ocpp20-variable-proxy/specs/ocpp/spec.md
  openspec/changes/archive/2025-10-27-refactor-ocpp20-variable-proxy/tasks.md
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(config): enum comparisons with explicit string casting
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(charging-station): conditionally reset OCPP 2.x runtime overrides
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): use date-fns helper for heartbeat interval conversion
  tests/ChargingStationFactory.ts
Due: none

refactor(tests,config): replace manual heartbeat conversions and minor cleanups
  src/charging-station/ConfigurationKeyUtils.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager-SetVariables.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup OCPP stack stop API
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): consolidate setVariables tests into main VariableManager suite
  tests/charging-station/ocpp/2.0/OCPP20VariableManager-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

refactor: variable namespace alignment
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(validation): simplify configuration value integer checks with Number.isInteger
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): add edge case validation tests and rename trimmed variable
  src/charging-station/ConfigurationKeyUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup configuration value validation
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

feat(validation): tighten positive integer checks for OCPP 2.0 variables
  src/charging-station/ConfigurationKeyUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): simplify BootNotification interval
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
Due: none

feat(ocpp20): add variable metadata constraints
  src/charging-station/ocpp/2.0/OCPP20VariableMetadata.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanups variable value validation
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: ocpp2 spec alignment
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/ocpp/2.0/Common.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: handle variables in a case incensitive way
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp20): add Items/Bytes limits, ReportingValueSize, AuthCtrlr; adopt void tests
  eslint.config.js
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableMetadata.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): wrap int parsing in VariableManager with tolerant toIntOrNaN
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
