Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

ghrs: report 05-22-2328-FAE4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 05-23-2322-DF48 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-23_232227_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-23_232227_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-23_232227_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-23-2322-DF48 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-23_232227_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-23-2322-DF48 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 05-24-2325-1075 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-24_232522_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-24_232522_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-24_232522_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-24-2325-1075 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-24_232522_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-24-2325-1075 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(utils): add atomic file write primitive and migrate call sites
  src/charging-station/BootstrapStateUtils.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/performance/storage/JsonFileStorage.ts
  src/types/FileType.ts
  src/utils/FileUtils.ts
  src/utils/index.ts
  tests/utils/FileUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(utils): align atomic write call sites on a single error path
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/performance/storage/JsonFileStorage.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 05-25-2328-2F31 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-25_232829_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-25_232829_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-25_232829_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 05-25-2328-2F31 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 05-25-2328-2F31 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-25_232829_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-25-2328-2F31 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor(utils): consolidate atomic write options and address audit findings
  src/charging-station/BootstrapStateUtils.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/performance/storage/JsonFileStorage.ts
  src/utils/FileUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/performance/storage/JsonFileStorage.test.ts
  tests/utils/FileUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(performance-storage): decode file URIs into native filesystem paths
  src/performance/storage/JsonFileStorage.ts
Due: prettier --cache --write, eslint --cache --fix

fix(utils): make file persistence atomic across writers (#1871)
  src/charging-station/BootstrapStateUtils.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/performance/storage/JsonFileStorage.ts
  src/types/FileType.ts
  src/utils/FileUtils.ts
  src/utils/index.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/performance/storage/JsonFileStorage.test.ts
  tests/utils/FileUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

ci(renovate): enforce 3-day minimum release age for npm packages
  renovate.json
Due: prettier --cache --write

ghrs: snap 05-26-2328-34F4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-26_232857_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-26_232857_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-26_232857_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-26-2328-34F4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-26_232857_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-26-2328-34F4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(config): scaffold simulator configuration schema and validator skeleton
  README.md
  src/assets/config-template.json
  src/charging-station/ConfigurationMigrations.ts
  src/charging-station/ConfigurationSchema.ts
  src/charging-station/ConfigurationValidation.ts
  src/types/ConfigurationData.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationUtils.ts
  src/worker/WorkerUtils.ts
  src/worker/index.ts
  tests/charging-station/ConfigurationMigrations.test.ts
  tests/charging-station/ConfigurationSchema.test.ts
  tests/charging-station/ConfigurationValidation-perf.test.ts
  tests/charging-station/ConfigurationValidation.test.ts
  tests/charging-station/helpers/ConfigurationFixtures.ts
  tests/utils/Configuration-hot-reload.test.ts
  tests/utils/Configuration.test.ts
  tests/utils/ConfigurationUtils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(config): remove legacy ConfigurationMigration.ts and stale call sites
  src/utils/Configuration.ts
  src/utils/ConfigurationMigration.ts
Due: prettier --cache --write, eslint --cache --fix

chore(config): silence lint warnings on configuration migrations
  cspell.config.yaml
  src/charging-station/ConfigurationMigrations.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(config): rebuild configuration validation pipeline
  src/charging-station/ConfigurationMigrations.ts
  src/charging-station/ConfigurationSchema.ts
  src/charging-station/ConfigurationValidation.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

test(config): cover migration edge cases and hot-reload rollback
  tests/charging-station/ConfigurationMigrations.test.ts
  tests/charging-station/ConfigurationSchema.test.ts
  tests/charging-station/ConfigurationValidation-perf.test.ts
  tests/charging-station/ConfigurationValidation.test.ts
  tests/charging-station/helpers/ConfigurationFixtures.ts
  tests/utils/Configuration-hot-reload.test.ts
Due: none

docs(config): trim verbose JSDocs and harmonize with Template* conventions
  src/charging-station/ConfigurationMigrations.ts
  src/charging-station/ConfigurationSchema.ts
  src/charging-station/ConfigurationValidation.ts
  src/utils/Configuration.ts
  tests/charging-station/ConfigurationMigrations.test.ts
  tests/charging-station/ConfigurationSchema.test.ts
  tests/charging-station/ConfigurationValidation-perf.test.ts
  tests/charging-station/ConfigurationValidation.test.ts
  tests/charging-station/helpers/ConfigurationFixtures.ts
  tests/utils/Configuration-hot-reload.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(config): address post-audit findings on validation pipeline
  src/charging-station/ConfigurationMigrations.ts
  src/charging-station/ConfigurationValidation.ts
  src/utils/Configuration.ts
  tests/charging-station/ConfigurationSchema.test.ts
  tests/charging-station/ConfigurationValidation.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(config): drop incompatible v0 remaps and tighten validation invariants
  src/charging-station/ConfigurationMigrations.ts
  src/charging-station/ConfigurationSchema.ts
  src/charging-station/ConfigurationValidation.ts
Due: prettier --cache --write, eslint --cache --fix

docs(config): fix precision defects in schema JSDocs and README
  README.md
  src/charging-station/ConfigurationSchema.ts
Due: prettier --cache --write, eslint --cache --fix

fix(config): keep numberOfStations as .nonnegative() to preserve disabled-entry convention
  src/charging-station/ConfigurationSchema.ts
Due: prettier --cache --write, eslint --cache --fix

docs(config): trim re-entrancy and clone rationales to one-liners
  src/charging-station/ConfigurationValidation.ts
Due: prettier --cache --write, eslint --cache --fix

feat(config): add Zod-based simulator configuration syntax validation (#1874)
  README.md
  cspell.config.yaml
  src/assets/config-template.json
  src/charging-station/ConfigurationMigrations.ts
  src/charging-station/ConfigurationSchema.ts
  src/charging-station/ConfigurationValidation.ts
  src/types/ConfigurationData.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationMigration.ts
  src/utils/ConfigurationUtils.ts
  src/worker/WorkerUtils.ts
  src/worker/index.ts
  tests/charging-station/ConfigurationMigrations.test.ts
  tests/charging-station/ConfigurationSchema.test.ts
  tests/charging-station/ConfigurationValidation-perf.test.ts
  tests/charging-station/ConfigurationValidation.test.ts
  tests/charging-station/helpers/ConfigurationFixtures.ts
  tests/utils/Configuration-hot-reload.test.ts
  tests/utils/Configuration.test.ts
  tests/utils/ConfigurationUtils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: align project_overview with empirical component boundaries and import discipline
  .serena/memories/project_overview.md
Due: prettier --cache --write

docs(cli-skill): align with CLI flags, conflict rules, and NO_COLOR support
  ui/cli/skills/evse-simulator/SKILL.md
Due: prettier --cache --write

ghrs: snap 05-27-2331-215C for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-27_233139_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-27_233139_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-27_233139_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 05-27-2331-215C for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 05-27-2331-215C for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-27_233139_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-27-2331-215C for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore(deps): update @ai-hero/sandcastle to 0.6.5 and regenerate patch
  package.json
  patches/@ai-hero__sandcastle@0.6.5.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write
