Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

feat: add ATG absolute stop date support
  README.md
  src/charging-station/AutomaticTransactionGenerator.ts
  src/types/AutomaticTransactionGenerator.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix: fix nullish exception
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

docs: improve configuration file documentation
  README.md
Due: prettier --cache --write

docs: add missing evsesStatus section to configuration documentation
  README.md
Due: prettier --cache --write

build(deps-dev): apply udpates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: cleanup nullish values handling
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine prettier configuration
  .prettierrc.json
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/Helpers.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/performance/PerformanceStatistics.ts
  src/performance/storage/JsonFileStorage.ts
  src/utils/AsyncLock.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/Configuration.ts
  src/utils/Utils.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerUtils.ts
  ui/web/.eslintrc.cjs
  ui/web/.lintstagedrc.js
  ui/web/.prettierrc.json
  ui/web/src/assets/config.ts
  ui/web/src/composables/UIClient.ts
  ui/web/src/router/index.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/types/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSTable.spec.ts
  ui/web/vite.config.ts
  ui/web/vitest.config.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use top level await in bundling code
  bundle.js
Due: prettier --cache --write, eslint --cache --fix

fix: ensure dates in ISO string format are properly converted to Date
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup eslint disablement rule
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure more date iso string are converted to Date
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: improve types testing types definition
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/utils/Utils.test.ts
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: silence linter
  src/utils/StatisticUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: update copyright years
  .reuse/dep5
  README.md
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/exception/OCPPError.ts
  src/performance/PerformanceStatistics.ts
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/performance/storage/Storage.ts
  src/performance/storage/StorageFactory.ts
  src/start.ts
  src/utils/AsyncLock.ts
  src/utils/CircularArray.ts
  src/utils/ElectricUtils.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: rename cloneObject() -> clone()
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: consistent arguments name in type utils
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: update mikro-orm.config.ts template for version 6
  mikro-orm.config-template.ts
Due: none

fix: ensure convertToDate() convert null date to undefined
  src/utils/Utils.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove unneeded eslint-disable
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: warn about reserved transaction started not found
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test: improve a bit isEmptyObject() coverage
  tests/utils/Utils.test.ts
Due: none

refactor: make storage init compliant with MikroORM 6
  mikro-orm.config-template.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/Storage.ts
  src/performance/storage/StorageFactory.ts
  src/types/Storage.ts
  src/types/index.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

build: add script to build MikroORM entities
  package.json
  pnpm-lock.yaml
  tsconfig-mikro-orm.json
  tsconfig-orm.json
  tsconfig.json
Due: prettier --cache --write

refactor: update MikroORM entities definition
  src/charging-station/ChargingStation.ts
  src/types/orm/entities/PerformanceData.ts
  src/types/orm/entities/PerformanceRecord.ts
Due: prettier --cache --write, eslint --cache --fix

fix: handle properly async performance storage
  src/charging-station/Bootstrap.ts
  src/utils/Utils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup MikroORM entities
  src/types/index.ts
  src/types/orm/entities/PerformanceData.ts
  src/types/orm/entities/PerformanceRecord.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: prepare for MikroORM storage support
  mikro-orm.config-template.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/StorageFactory.ts
  src/types/orm/entities/PerformanceRecord.ts
  src/utils/Configuration.ts
  tsconfig-mikro-orm.json
Due: prettier --cache --write, eslint --cache --fix

fix: fix nullish exception on boot notification handling
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: use MikroORM upsert
  src/performance/storage/MikroOrmStorage.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup arguments namespace
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
