Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "{src,test}/**/*.{ts,tsx}": ["prettier --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --write", "eslint --cache --fix"]
}

build(deps-dev): apply updates
  ui/web/package.json
  ui/web/pnpm-lock.yaml
  ui/web/tsconfig.json
Due: prettier --write

build: pin volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --write

build: add JSON schema to configuration files
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  tsconfig.json
Due: prettier --write

build: align URI to access JSON schemas
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
Due: prettier --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(ui): use eslint-define-config
  ui/web/.eslintrc.js
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write

build(ci): update sonar-scanner GH action version
  .github/workflows/ci.yml
Due: prettier --write

build(ci): fix sonar-scanner
  ui/web/tsconfig-base.json
  ui/web/tsconfig.json
Due: prettier --write

build: cleanup tsconfig files
  ui/web/tsconfig.json
Due: prettier --write

build(ci): fix sonar-scanner, take 2
  .eslintrc.json
  .prettierignore
  docker/Dockerfile
  rollup.config.mjs
  sonar-project.properties
  tsconfig-base.json
  tsconfig-orm.json
  tsconfig.json
  ui/web/sonar-project.properties
  ui/web/tsconfig-base.json
  ui/web/tsconfig.json
Due: prettier --write, eslint --cache --fix

refactor: format configuration files
  tsconfig-base.json
  ui/web/tsconfig.json
Due: prettier --write

refactor: add sanity check to worker script handling
  .vscode/settings.json
  src/types/Storage.ts
  src/types/index.ts
  src/worker/WorkerAbstract.ts
Due: prettier --write, eslint --cache --fix

refactor: cleanup storage type case
  src/performance/storage/MikroOrmStorage.ts
  src/types/index.ts
Due: prettier --write, eslint --cache --fix

build: silence wrong spelling report
  .vscode/settings.json
Due: prettier --write

build(ui): import the proper @vue/tsconfig file
  ui/web/tsconfig.json
Due: prettier --write

build(ui): switch to vite
  package.json
  pnpm-lock.yaml
  ui/web/.eslintrc.js
  ui/web/.lintstagedrc.js
  ui/web/babel.config.js
  ui/web/env.d.ts
  ui/web/index.html
  ui/web/package.json
  ui/web/pnpm-lock.yaml
  ui/web/public/index.html
  ui/web/src/components/Modal.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/components/charging-stations/IdTagInputModal.vue
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSTable.spec.ts
  ui/web/tsconfig.json
  ui/web/vite.config.ts
  ui/web/vitest.config.ts
  ui/web/vue.config.js
Due: prettier --write, eslint --cache --fix

refactor(ui): sync promiseWithTimeout() helper
  ui/web/src/composables/Utils.ts
Due: none

refactor(ui): silence wrong spelling report
  ui/web/.vscode/settings.json
Due: prettier --write

build(ui): refine lint-staged configuration
  ui/web/.lintstagedrc.js
  ui/web/.vscode/settings.json
Due: prettier --write, eslint --cache --fix

build(ui): enable eslint cache
  ui/web/.lintstagedrc.js
  ui/web/.vscode/settings.json
  ui/web/package.json
Due: prettier --write, eslint --cache --fix

refactor(ui): format js files
  ui/web/.lintstagedrc.js
Due: prettier --write, eslint --cache --fix

build(ui): order lint-staged
  ui/web/.lintstagedrc.js
Due: prettier --write, eslint --cache --fix

build(ui): refine lint-staged configuration
  ui/web/.lintstagedrc.js
Due: prettier --write, eslint --cache --fix

build(ui): remove duplicated eslint configuration
  ui/web/.eslintrc.js
Due: prettier --write, eslint --cache --fix

build(ui): silence wrong spelling report
  .vscode/settings.json
Due: prettier --write

build: silence wrong spelling report
  .vscode/settings.json
  ui/web/.vscode/settings.json
Due: prettier --write

build: fix code mocha explorer settings with ESM
  .mocharc.json
  .vscode/settings.json
  ui/web/.vscode/settings.json
Due: prettier --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write

feat: add initial support for evse definition in template
  .vscode/settings.json
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ChargingStationTemplate.ts
  src/types/index.ts
  src/types/internal.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/Requests.ts
Due: prettier --write, eslint --cache --fix

fix: add missing type definition file
  src/types/EvseStatus.ts
Due: prettier --write, eslint --cache --fix

fix: align enums key casing if used in compound
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/types/ocpp/1.6/Requests.ts
Due: prettier --write, eslint --cache --fix

fix: revert schema usage for linted-staged: no supported
  .lintstagedrc.json
Due: prettier --write

feat: make evse and connector configurations in template mutually exclusive
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/types/ChargingStationTemplate.ts
  src/types/Evse.ts
  src/types/EvseStatus.ts
  src/types/internal.ts
Due: prettier --write, eslint --cache --fix

build(deps): apply updates
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  ui/web/.lintstagedrc.js
  ui/web/.prettierignore
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

refactor: move helpers to utils
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
Due: prettier --write, eslint --cache --fix

build: align prettier configuration
  ui/web/.prettierrc.json
Due: prettier --write

refactor: cleanup connectors initialization code
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/types/index.ts
Due: prettier --write, eslint --cache --fix
