Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(cli): complete resolveOcppVersionFromList JSDoc for unknown versions
  ui/cli/src/commands/action.ts
Due: none

fix(cli): align error constant naming and fix README station list comment
  ui/cli/README.md
  ui/cli/src/commands/transaction.ts
Due: prettier --cache --write

fix(cli): make high-level OCPP commands version-aware (#1801)
  .gitignore
  src/types/UIProtocol.ts
  ui/cli/README.md
  ui/cli/skills/evse-simulator/SKILL.md
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/station.ts
  ui/cli/src/commands/transaction.ts
  ui/cli/tests/action.test.ts
  ui/common/src/types/ChargingStationType.ts
Due: prettier --cache --write, eslint --cache --fix

fix: PR comments
  src/charging-station/ChargingStation.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): reject empty password in basic auth token validation (RFC 7613 §4.1)
  src/charging-station/ui-server/UIServerUtils.ts
  tests/charging-station/ui-server/UIServerUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: PR comments
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  tests/charging-station/Helpers.test.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/composables/UIClient.ts
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
  ui/web/tests/unit/UIClient.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): allow override of station identity and CSMS credentials in addChargingStations (#1802)
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/types/ChargingStationWorker.ts
  tests/charging-station/Helpers.test.ts
  ui/common/src/types/ChargingStationType.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/composables/UIClient.ts
  ui/web/start.js
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
  ui/web/tests/unit/UIClient.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): harmonize setSupervisionUrl semantics and text descriptions
  src/charging-station/ChargingStation.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/tests/unit/SetSupervisionUrl.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-web): add opt-in v2 UI with Material-inspired design
  ui/web/README.md
  ui/web/src/App.vue
  ui/web/src/router/index.ts
  ui/web/src/v2/assets/v2.css
  ui/web/src/v2/components/ActionButton.vue
  ui/web/src/v2/components/ConfirmDialog.vue
  ui/web/src/v2/components/ConnectorRow.vue
  ui/web/src/v2/components/Modal.vue
  ui/web/src/v2/components/SimulatorBar.vue
  ui/web/src/v2/components/StatePill.vue
  ui/web/src/v2/components/StationCard.vue
  ui/web/src/v2/components/dialogs/AddStationsDialog.vue
  ui/web/src/v2/components/dialogs/AuthorizeDialog.vue
  ui/web/src/v2/components/dialogs/SetSupervisionUrlDialog.vue
  ui/web/src/v2/components/dialogs/StartTransactionDialog.vue
  ui/web/src/v2/composables/v2Constants.ts
  ui/web/src/v2/composables/v2Errors.ts
  ui/web/src/v2/views/V2ChargingStationsView.vue
  ui/web/src/v2/views/V2NotFoundView.vue
Due: prettier --cache --write

fix(ui-server): harden CSMS credential handling in supervision URL flow
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
Due: prettier --cache --write, eslint --cache --fix

fix: enforce RFC 7617 colon-free username across all Basic Auth paths
  src/charging-station/ChargingStation.ts
  ui/common/src/config/schema.ts
Due: prettier --cache --write, eslint --cache --fix

feat(cli): expose station identity overrides and CSMS credentials
  ui/cli/README.md
  ui/cli/src/commands/station.ts
  ui/cli/src/commands/supervision.ts
  ui/cli/tests/integration/cli.test.ts
Due: prettier --cache --write

docs(cli): update embedded SKILL.md with identity and credential options
  ui/cli/skills/evse-simulator/SKILL.md
Due: prettier --cache --write

fix(ui-server): reject colon in configured authentication username (RFC 7617)
  src/charging-station/ui-server/UIServerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ci: one-shot job to rename SonarCloud main branch from master to main
  .github/workflows/ci.yml
Due: prettier --cache --write

ci: retry SonarCloud branch rename for ui-common and cli only
  .github/workflows/ci.yml
Due: prettier --cache --write

revert(ci): remove SonarCloud branch rename job
  .github/workflows/ci.yml
Due: prettier --cache --write

chore: release main (#1786)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

test(ui-web): add unit tests for the v2 UI subtree
  ui/web/tests/unit/v2/ChargingStationsView.test.ts
  ui/web/tests/unit/v2/ConnectorRow.test.ts
  ui/web/tests/unit/v2/Dialogs.test.ts
  ui/web/tests/unit/v2/Errors.test.ts
  ui/web/tests/unit/v2/SimpleComponents.test.ts
  ui/web/tests/unit/v2/SimulatorBar.test.ts
  ui/web/tests/unit/v2/StationCard.test.ts
Due: none

chore: replace agent instruction indirections with symlinks to canonical source
  .clinerules/copilot-instructions.md
  CLAUDE.md
  GEMINI.md
Due: prettier --cache --write

docs: harmonize agent instructions across tools
  .cursorrules
  .github/copilot-instructions.md
Due: prettier --cache --write

fix: align Keba OCPP2 templates with OCPP 2.0.1 SampledDataCtrlr specs
  src/assets/station-templates/keba-ocpp2-signed.station-template.json
  src/assets/station-templates/keba-ocpp2.station-template.json
Due: prettier --cache --write

chore: add Serena MCP server to project OpenCode configuration
  .opencode/opencode.jsonc
Due: none

chore: update OpenSpec skills to v1.3.1 and fix formatting
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-bulk-archive-change/SKILL.md
  .opencode/skills/openspec-continue-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-ff-change/SKILL.md
  .opencode/skills/openspec-new-change/SKILL.md
  .opencode/skills/openspec-onboard/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-verify-change/SKILL.md
Due: prettier --cache --write

fix(simulator): add finishingStatusDelay tunable to station template
  src/types/ChargingStationTemplate.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): delay Available status after transaction end for OCPP 2.0.x
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): guard RemoteStartTransaction during Finishing state
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(simulator): add finishing delay tests for OCPP 1.6 and 2.0.x
  tests/charging-station/ocpp/FinishingStatusDelay.test.ts
Due: none

docs(simulator): document finishingStatusDelay template tunable
  README.md
Due: prettier --cache --write

refactor(simulator): audit corrections — rename, DRY, double-send, guard, safety
  README.md
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
  src/types/ChargingStationTemplate.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/FinishingStatusDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): fix JSDoc placement and document early return safety
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): address review comments — meter values, tests, docs
  README.md
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/FinishingStatusDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): reset connector status before sending Available after delay
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): restore original operation ordering in delay=0 path
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): add debug log for RemoteStart rejection during Finishing state
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): harmonize log messages with existing codebase patterns
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

chore(simulator): add moduleName prefix to ChargingStation log messages
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): downgrade unknown incoming OCPP command log to warn level
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore(simulator): harmonize remaining log messages across codebase
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/performance/PerformanceStatistics.ts
  src/utils/FileUtils.ts
Due: prettier --cache --write, eslint --cache --fix
