Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

chore(deps-dev): apply updates
  tests/ocpp-server/poetry.lock
Due: none

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

Update tests/utils/AsyncLock.test.ts
  tests/utils/AsyncLock.test.ts
Due: none

chore(deps): apply updates
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

chore: release main (#1226)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(deps-dev): bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix: port OCPP 2 server code to ocpp version 2 library
  tests/ocpp-server/poetry.lock
  tests/ocpp-server/server.py
Due: none

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
Due: prettier --cache --write

ci: switch to current node LTS version
  .github/workflows/ci.yml
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore(dependabot): add vite related groups
  .github/dependabot.yml
Due: prettier --cache --write

chore(dependabot): add eslint major updates group
  .github/dependabot.yml
Due: prettier --cache --write

ci: silence linter error
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix(docker): workaround corepack bug
  docker/Dockerfile
  ui/web/docker/Dockerfile
Due: none

chore: pnpm lock file maintenance
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write
