Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

docs(readme): align OCPP 2.0.x section with spec and actual code
  README.md
Due: prettier --cache --write

fix(ocpp2): add missing AJV response validators for 7 incoming request commands
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

style(ocpp2): harmonize comment style with existing OCPP 1.6 sparse convention
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): correct spec references and harmonize format
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): remove redundant strict:false from AJV instances
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(types): make MeterValuesRequest/Response version-agnostic union types
  src/charging-station/ChargingStation.ts
  src/types/ocpp/Requests.ts
  src/types/ocpp/Responses.ts
Due: prettier --cache --write, eslint --cache --fix

fix(types): remove versioned type imports from Helpers.ts
  src/charging-station/Helpers.ts
  src/types/index.ts
  src/types/ocpp/ChargingProfile.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): add missing @file headers and standardCleanup()
  tests/charging-station/ocpp/2.0/OCPP20Integration-Certificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SchemaValidation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
Due: none

fix(tests): rename test cases to 'should [verb]' convention
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UnlockConnector.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SchemaValidation.test.ts
Due: none

fix: quote test glob so /bin/sh delegates to Node
  package.json
Due: prettier --cache --write

test(ocpp2.0): add BootNotification response handler tests
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-BootNotification.test.ts
Due: none

test(ocpp2.0): add Heartbeat, NotifyReport, StatusNotification response tests
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-SimpleHandlers.test.ts
Due: none

test(ocpp): add OCPPServiceUtils pure function tests
  tests/charging-station/ocpp/OCPPServiceUtils-pure.test.ts
Due: none

test(ocpp): add OCPPServiceUtils command support validation tests
  tests/charging-station/ocpp/OCPPServiceUtils-validation.test.ts
Due: none

test(ocpp): add OCPPServiceUtils connector status management tests
  tests/charging-station/ocpp/OCPPServiceUtils-connectorStatus.test.ts
Due: none

test(ocpp): add OCPPServiceUtils authorization wrapper tests
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
Due: none

test: add SharedLRUCache tests
  tests/charging-station/SharedLRUCache.test.ts
Due: none

test: add IdTagsCache tests
  tests/charging-station/IdTagsCache.test.ts
Due: none

test: add Configuration utility tests
  tests/utils/Configuration.test.ts
Due: none

test: add AutomaticTransactionGenerator tests
  tests/charging-station/AutomaticTransactionGenerator.test.ts
Due: none

fix(tests): address audit findings — assertion consistency, JSDoc, DRY, try/finally
  tests/charging-station/AutomaticTransactionGenerator.test.ts
  tests/charging-station/IdTagsCache.test.ts
  tests/charging-station/SharedLRUCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-authorization.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-connectorStatus.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-pure.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-validation.test.ts
  tests/utils/Configuration.test.ts
Due: none

fix(ocpp): wire auth cache into strategies and fix default configuration
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): add isCacheable dead code note and cache wiring test
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): cache all authorization statuses per OCPP spec (R1)
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): status-aware eviction, TTL reset, expired lifecycle (R2, R5, R10, R16)
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): exclude local auth list identifiers from cache (R17)
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): periodic cache cleanup and bounded rate limits (R8, R9)
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): make resetStats public and preserve stats across clear (R14, R15)
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): integration tests for auth cache spec compliance (T12)
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): address PR #1699 review feedback (F1-F9)
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(test): replace inline setTimeout with shared sleep helper
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: prettier --cache --write

fix(ocpp): replace redundant Promise.resolve returns in async methods
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
Due: prettier --cache --write, eslint --cache --fix

fix(auth): make AuthCache interface synchronous and remove all Promise wrappers
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/test/OCPPAuthIntegrationTest.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(auth): eliminate all Promise.resolve() from auth module
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/test/OCPPAuthIntegrationTest.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(auth): resolve all lint errors for CI compliance
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/test/OCPPAuthIntegrationTest.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(auth): remove eslint-disable added by us, use expect().not.toThrow() pattern
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
Due: none

refactor(auth): apply code review corrections (fixes 1-10)
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  src/charging-station/ocpp/auth/utils/ConfigValidator.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/utils/AuthValidators.test.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
Due: prettier --cache --write, eslint --cache --fix

fix(auth): resolve all 35 JSDoc lint warnings for clean lint gate
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  src/charging-station/ocpp/auth/utils/ConfigValidator.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
