Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

ghrs: snap 09-03-2310-BF38 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-03_231030_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-03_231030_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-03_231030_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-03-2310-BF38 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-03_231030_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-03-2310-BF38 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 09-04-2310-83A8 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-04_231022_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-04_231022_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-04_231022_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-04-2310-83A8 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-04_231022_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 09-04-2310-83A8 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: report 09-04-2310-83A8 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix: resolve lint failures after lock refresh
  cspell.config.yaml
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
  ui/web/src/shared/composables/useTheme.ts
Due: prettier --cache --write

fix(ocpp20): bound replay and queue persistence
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): harden metering lifecycle and queues
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Constants.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-PostTransactionDelay.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CoherentSession.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-05-2309-36BB for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-05_230948_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-05_230948_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-05_230948_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 09-05-2309-36BB for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 09-05-2309-36BB for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-05_230948_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-05-2309-36BB for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(deps): normalize pnpm workspace paths
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

ghrs: snap 09-06-2310-61AF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-06_231027_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-06_231027_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-06_231027_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-06-2310-61AF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-06_231027_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-06-2310-61AF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp20): preserve meter and transaction ordering
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/meter-values/MeterValueUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): preserve metering and queue invariants
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-CoherentMeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-PostTransactionDelay.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): preserve meter identity and finality
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/meter-values/MeterValueUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): preserve queued meter identities
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetTransactionStatus.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-07-2311-9EBF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-07_231139_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-07_231139_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-07_231139_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-07-2311-9EBF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-07_231139_views_clones_series_fragment.csv
Due: none

ghrs: report 09-07-2311-9EBF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp20): isolate replay and socket generations
  src/charging-station/ChargingStation.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): serialize transaction shutdown lifecycle
  src/charging-station/ChargingStation.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/helpers/StationHelpers.types.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestService-Payloads.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-SignedMeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetTransactionStatus.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CoherentSession.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): preserve transaction recovery state
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-PostTransactionDelay.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-SignedMeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): retain interrupted transaction starts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): preserve restored transaction ownership
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/types/index.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-Heartbeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): order terminal replay cleanup
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-Heartbeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): dequeue ended events before cleanup
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): finalize ended state before delay
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): preserve signing and queue identity
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): close final lifecycle gaps
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): preserve terminal meter sequencing
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-08-2311-7FB9 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-08_231116_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-08_231116_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-08_231116_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-08-2311-7FB9 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-08_231116_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-08-2311-7FB9 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write
