Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

ghrs: snap 06-09-2331-1C84 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-09_233151_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-09_233151_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-09_233151_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-09-2331-1C84 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-09_233151_views_clones_series_fragment.csv
Due: none

ghrs: report 06-09-2331-1C84 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore(skills): sync qmd skill to upstream tobi/qmd@main
  .agents/skills/qmd/SKILL.md
Due: prettier --cache --write

ghrs: snap 06-10-2334-75D6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-10_233459_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-10_233459_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-10_233459_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-10-2334-75D6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-10_233459_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-10-2334-75D6 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(config): add UI server access policy schema
  src/utils/ConfigurationSchema.ts
  src/utils/index.ts
  tests/utils/ConfigurationSchema.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(config): add UI server access policy defaults
  src/assets/config-template.json
  src/utils/Configuration.ts
  tests/utils/Configuration.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): add source-aware access evaluation
  src/charging-station/ui-server/UIServerUtils.ts
  tests/charging-station/ui-server/UIServerUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): authorize requests before authentication
  src/charging-station/ui-server/AbstractUIServer.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): gate HTTP requests by access policy
  src/charging-station/ui-server/UIHttpServer.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): gate MCP requests by access policy
  src/charging-station/ui-server/UIMCPServer.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): gate WebSocket upgrades by access policy
  src/charging-station/ui-server/UIWebSocketServer.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore(docker): align UI access policy for local compose
  docker/config.json
  docker/docker-compose.yml
  tests/utils/ConfigurationValidation.test.ts
Due: prettier --cache --write

docs(ui): document gateway access policy
  README.md
Due: prettier --cache --write

ghrs: snap 06-11-2334-12C4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-11_233500_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-11_233500_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-11_233500_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-11-2334-12C4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-11_233500_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-11-2334-12C4 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor(ui-server): type access decisions and unify request prologue
  README.md
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/utils/ConfigurationSchema.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerUtils.test.ts
  tests/utils/ConfigurationSchema.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): split access policy module and tighten its surface
  README.md
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/charging-station/ui-server/UIServerNet.ts
  src/charging-station/ui-server/UIServerUtils.ts
  tests/charging-station/ui-server/UIServerAccessPolicy.test.ts
  tests/charging-station/ui-server/UIServerNet.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/UIServerUtils.test.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui-server): drop @file headers from new policy modules
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIServerNet.ts
Due: prettier --cache --write, eslint --cache --fix

docs(ui-server): tighten access policy comments and README
  README.md
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIServerNet.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 06-12-2334-DF0C for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-12_233447_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-12_233447_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-12_233447_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-12-2334-DF0C for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-12_233447_views_clones_series_fragment.csv
Due: none

ghrs: report 06-12-2334-DF0C for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 06-13-2328-95B2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-13_232838_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-13_232838_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-13_232838_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-13-2328-95B2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-13_232838_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-13-2328-95B2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

test(ui-web): drain dynamic imports globally for async components
  ui/web/tests/setup.ts
  ui/web/tests/unit/skins/modern/ModernLayout.test.ts
Due: none

test(ui-web): drain dynamic imports globally for async components (#1893)
  ui/web/tests/setup.ts
  ui/web/tests/unit/skins/modern/ModernLayout.test.ts
Due: none

refactor(ui-server): address review feedback on access policy
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIServerAccessPolicy.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): include prologue headers on WebSocket upgrade denial
  src/charging-station/ui-server/UIWebSocketServer.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): align auth denial across transports
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-web): skip dev-only diagnostics under Vitest
  ui/web/src/core/env.ts
  ui/web/src/core/index.ts
  ui/web/src/core/providers.ts
  ui/web/src/core/storage.ts
  ui/web/src/main.ts
  ui/web/src/shared/tokens/contract.ts
  ui/web/src/skins/classic/components/buttons/ToggleButton.vue
  ui/web/tests/unit/shared/tokens/contract.test.ts
Due: none

fix(ui-web): skip dev-only diagnostics under Vitest (#1897)
  ui/web/src/core/env.ts
  ui/web/src/core/index.ts
  ui/web/src/core/providers.ts
  ui/web/src/core/storage.ts
  ui/web/src/main.ts
  ui/web/src/shared/tokens/contract.ts
  ui/web/src/skins/classic/components/buttons/ToggleButton.vue
  ui/web/tests/unit/shared/tokens/contract.test.ts
Due: none

fix(ui-server): close denied connections cleanly and harden allowedOrigins
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/utils/ConfigurationSchema.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/utils/ConfigurationSchema.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): honor RFC 7239 host parameter and standardize upgrade rejection
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  tests/charging-station/ui-server/UIServerAccessPolicy.test.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(test): wait on response finish event in gzip tests
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerTestConstants.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: none

fix(ui-server): scope HTTP timeouts to slow-loris and tighten Forwarded parser
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
Due: prettier --cache --write, eslint --cache --fix
