Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix: ensure inflight requests id cannot be duplicated
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: avoid endless loop at remote start transaction
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

chore: version 1.3.4
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

test: add ErrorUtils test
  src/utils/Configuration.ts
  tests/utils/ErrorUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: refine default configuration
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

test: add ConfigurationUtils test
  tests/utils/ConfigurationUtils.test.ts
Due: none

test: add tests
  tests/exception/OCPPError.test.ts
  tests/utils/ErrorUtils.test.ts
Due: none

test: trivial refinements
  tests/utils/ConfigurationUtils.test.ts
  tests/utils/ErrorUtils.test.ts
Due: none

test: improve ErrorUtils coverage
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/utils/ErrorUtils.ts
  src/utils/index.ts
  tests/utils/ErrorUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

test: improve coverage on existing tests
  tests/utils/ErrorUtils.test.ts
Due: none

test: improve ConfigurationUtils coverage
  tests/utils/ConfigurationUtils.test.ts
Due: none

test: add Utils insertAt() test
  tests/utils/Utils.test.ts
Due: none

refactor: rename Storage.handleDBError -> Storage.handleDBStorageError
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/performance/storage/Storage.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix condition at ATG configuration handling
  src/charging-station/AutomaticTransactionGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

fix: add sanity check in ATG on connector id
  src/charging-station/AutomaticTransactionGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure ATG status is refreshed in the UI at stop
  src/charging-station/AutomaticTransactionGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: fix start transaction response handling with authorize
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

perf: compute power limitation only once
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: restart metervalues interval if MeterValueSampleInterval is changed
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

perf: add fastpath in array sorting helper
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: allow to set charging profile with TxProfile purpose
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/ChargingProfile.ts
Due: prettier --cache --write, eslint --cache --fix

fix: avoid to modify stored charging profiles
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

feat: handle charging profile purpose TxProfile
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.3.5
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

fix: ensure no charging profile purpose TxProfile is loaded at startup
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix TxProfile removal with transaction id defined at Tx stop
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup charging profiles handling code
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

feat: handle CHARGE_POINT_MAX_PROFILE charging profiles at power limitation
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

build: apply volta pnpm update
  package.json
  ui/web/package.json
Due: prettier --cache --write

refactor: cleanup power limitation code
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.3.6
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

refactor: refine OCPP 2 mock server defaults
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write
