Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

test(mcp): add OCPP schema mapping consistency tests
  tests/charging-station/ui-server/UIMCPServer.test.ts
Due: none

feat(ocpp-server): add graceful shutdown with signal handling
  tests/ocpp-server/server.py
Due: none

test(ocpp-server): add graceful shutdown tests covering signal handling
  tests/ocpp-server/test_server.py
Due: none

refactor(ocpp-server): harmonize shutdown tests with project conventions
  tests/ocpp-server/test_server.py
Due: none

refactor(ocpp-server): audit-driven test improvements
  tests/ocpp-server/test_server.py
Due: none

fix(webui): remove deprecated baseUrl for TypeScript 6 compatibility
  ui/web/tsconfig.json
Due: prettier --cache --write

refactor: audit-driven quick wins — fix assert.ok misuse, naming conventions, and hardcoded defaults
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  tests/charging-station/ChargingStation-Configuration.test.ts
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ui-server/UIMCPServer.integration.test.ts
  tests/exception/BaseError.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
  tests/utils/Utils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: audit-driven improvements — use BaseError, fix barrel bypass, remove redundant console
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/index.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/index.ts
  src/utils/ErrorUtils.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-pure.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: eliminate non-null assertions in 8 files (31 of 53 total)
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Helpers.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: eliminate remaining non-null assertions in ChargingStation and OCPP16ServiceUtils
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

docs: add JSDoc to ChargingStation public API methods
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

docs: harmonize JSDoc @param/@returns across entire codebase
  src/charging-station/Helpers.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFixedPool.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

docs: fix inaccurate @returns in getChargingProfilesLimit
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix: prevent shutdown timeout with promiseWithTimeout helper
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/utils/Constants.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/ocpp-server/server.py
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write, eslint --cache --fix

fix: add OCPP 2.0 DataTransfer outgoing support and B03 boot retry in Rejected state
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/types/ocpp/2.0/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-DataTransfer.test.ts
  tests/ocpp-server/server.py
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use try/catch instead of .catch() for stopMessageSequence error handling
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp-server): add configurable TriggerMessage type
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

feat(ocpp-server): add boot status sequence for Pending→Accepted transition testing
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

feat(ocpp-server): add command sequencing for multi-step CSMS workflows
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

feat(ocpp-server): add configurable Reset type and ChangeAvailability status
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

feat(ocpp-server): add groupIdToken and cacheExpiry to Authorize response
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

fix(ocpp-server): share boot_index across reconnections so sequence advances correctly
  tests/ocpp-server/server.py
Due: none

feat(ocpp-server): add multi-variable SetVariables/GetVariables CLI support
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

fix(ocpp-server): schedule send_commands as background task so it runs after cp.start()
  tests/ocpp-server/server.py
Due: none

fix(ocpp-server): correct CLI help text casing and validate boot-status-sequence
  tests/ocpp-server/server.py
Due: none

chore: remove E2E test plan from PR branch
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write

refactor(ocpp-server): fix misplaced tests and harmonize style
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

docs(ocpp-server): document all new CLI flags and transaction tracking
  tests/ocpp-server/README.md
Due: prettier --cache --write

fix(ocpp-server): harden input validation and connection cleanup
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

fix(ocpp-server): clean up auth-mode choices and CLI edge cases
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write

fix(ocpp-server): validate cache-expiry, skip trailing commas, document yield semantics
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write

fix(ocpp-server): harmonize empty-entry handling and wrap CLI parsers in error handler
  tests/ocpp-server/server.py
Due: none

feat(ocpp-server): enhance OCPP 2.0.1 mock server for comprehensive E2E testing (#1752)
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
  tests/ocpp2-e2e-test-plan.md
Due: prettier --cache --write

feat(types): add connector lock simulation types and UI protocol enums
  src/types/ConnectorStatus.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/UIProtocol.ts
Due: prettier --cache --write, eslint --cache --fix

feat(core): add connector lock/unlock simulation methods
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): set lock state on UnlockConnector command for both OCPP stacks
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui-server): add lock/unlock broadcast channel commands and MCP schemas
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/mcp/MCPToolSchemas.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui): add lock/unlock buttons to web UI
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
Due: none

test: add connector lock/unlock simulation tests
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/helpers.ts
Due: none

docs: add connector lock/unlock simulation documentation
  README.md
Due: prettier --cache --write
