Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

test(simulator): add hasOwnProp() tests
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

test(simulator): use named import
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

test(simulator): refine hasOwnProp() helper tests
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

test(simulator): add cloneObject() helper tests
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): add type shorcuts for OCPP configuration keys
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationConfigurationUtils.ts
  src/types/index.ts
  src/types/ocpp/1.6/Configuration.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/2.0/Variables.ts
  src/types/ocpp/Configuration.ts
Due: prettier --write, eslint --cache --fix

fix(simulator): sanity checks to circular array inputs
  src/utils/CircularArray.ts
  test/utils/CircularArrayTest.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): import cleanups
  src/charging-station/ChargingStationConfigurationUtils.ts
Due: prettier --write, eslint --cache --fix

fix(simulator): init statistic counters without possibly overriding the initial value
  src/performance/PerformanceStatistics.ts
Due: prettier --write, eslint --cache --fix

chore: apply dependencies update
  package-lock.json
  package.json
  ui/web/package-lock.json
Due: prettier --write

build(deps): apply updates
  package-lock.json
  package.json
  ui/web/package-lock.json
Due: prettier --write

build(deps): apply updates
  package-lock.json
  package.json
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write

build(deps-dev): apply updates
  package-lock.json
  package.json
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write

feat(simulator): expose OCPP configuration in UI protocol
  src/charging-station/MessageChannelUtils.ts
  src/types/ChargingStationWorker.ts
Due: prettier --write, eslint --cache --fix

fix(simulator): clone configuration object before saving it
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): introduce HTTP methods enum
  src/charging-station/ui-server/UIHttpServer.ts
Due: prettier --write, eslint --cache --fix

feat(simulator): add certificates related OCPP 2.x types
  src/charging-station/ocpp/OCPPConstants.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/Responses.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): avoid branching in empty array helpers
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

build(docker): switch to docker internal compose
  docker/Makefile
Due: none

refactor(simulator): constify and factor out empty data structure definitions
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationConfigurationUtils.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/exception/OCPPError.ts
  src/performance/PerformanceStatistics.ts
  src/performance/storage/JsonFileStorage.ts
  src/utils/Constants.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerConstants.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerSet.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): align casing on enums between key and value
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/MessageChannelUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/types/ChargingStationWorker.ts
  src/types/ocpp/1.6/ChargePointStatus.ts
  src/types/ocpp/2.0/Common.ts
  src/utils/Configuration.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
Due: prettier --write, eslint --cache --fix

build(deps): apply security update
  ui/web/package-lock.json
Due: prettier --write

test: cleanup code coverage configuration
  .mocharc.json
  .nycrc.json
  package-lock.json
  package.json
Due: prettier --write

style(simulator): align case on enum key/value
  src/charging-station/SharedLRUCache.ts
Due: prettier --write, eslint --cache --fix

test(simulator): .nycrc.json -> .c8rc.json
  .c8rc.json
Due: prettier --write

refactor(simulator): factor out supervision urls distribution
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): remove duplicate OCPP version validation code
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): delete attributes instead of undefining
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

build: run CI on merge queue
  .github/workflows/ci.yml
Due: prettier --write

build: pin node version to 19.7 in CI
  .github/workflows/ci.yml
Due: prettier --write

build: fix typo in CI
  .github/workflows/ci.yml
Due: prettier --write

refactor(simulator): cleanup OCPP incoming requests handler
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): remove unneeded type casting
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/utils/Configuration.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
