Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

chore: switch to eslint defineConfig
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

chore(deps): lock file maintenance
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

chore: release main (#1263)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

Reuse Version update from dep to toml
  .reuse/dep5
  REUSE.toml
Due: none

Reuse Version update from dep to toml (#1361)
  .reuse/dep5
  REUSE.toml
Due: none

chore(deps-dev): apply updates
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/SharedLRUCache.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/utils/Configuration.ts
  tests/ocpp-server/poetry.lock
  ui/web/package.json
  ui/web/src/main.ts
Due: prettier --cache --write, eslint --cache --fix

fix: properly handle empty key array in GetConfiguration
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: properly handle empty key array in GetConfiguration (#1368)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1355)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix: ensure CS in pending state can send boot notification
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: proper CS state conditions
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/types/ChargingStationEvents.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure CS in pending state can send boot notification (#1376)
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/types/ChargingStationEvents.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1371)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix: ensure the BootNotification interval is reused a registration retries
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: gracefully handle malformed boot notification response
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1381)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
