Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor(ui-server): tighten handleProtocolRequest, rename log context, align terminology
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

style(ui-server): rename active to stopped and document rollback invariants
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
Due: prettier --cache --write, eslint --cache --fix

test(ui-server): extract expectSingleLog, assert log context, regress dispatch rollback
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: none

refactor(ui-server): address post-design-pass nits
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): classify broadcast responses without handlers (#1924)
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/charging-station/ui-server/ui-services/UIService001.ts
  src/types/UIProtocol.ts
  src/types/index.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 06-24-2329-93D5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-24_232920_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-24_232920_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-24_232920_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-24-2329-93D5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-24_232920_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-24-2329-93D5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 06-25-2332-895A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-25_233235_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-25_233235_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-25_233235_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-25-2332-895A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-25_233235_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-25-2332-895A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 06-26-2329-5093 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-26_232946_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-26_232946_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-26_232946_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 06-26-2329-5093 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 06-26-2329-5093 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-26_232946_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-26-2329-5093 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 06-27-2326-E8C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-27_232612_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-27_232612_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-27_232612_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-27-2326-E8C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-27_232612_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-27-2326-E8C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main (#1911)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 06-28-2327-4037 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-28_232737_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-28_232737_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-28_232737_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-28-2327-4037 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-06-28_232737_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-28-2327-4037 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

test(ui-server): use response drain helpers
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: none

test(ocpp): share response service test helpers
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseServiceTestUtils.ts
Due: none

test(ocpp): use auth factory test instances
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
Due: none

refactor(ocpp): move ResponseService testable wrapper to __testable__
  src/charging-station/ocpp/2.0/__testable__/OCPP20ResponseServiceTestable.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseServiceTestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): factor auth service injection helpers
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: none

test(ocpp): align auth mock helper verbs and drop dead return type
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: none

test(ocpp): align ClearCache test hook ordering with siblings
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
Due: none

test: use shared response test helpers (#1930)
  src/charging-station/ocpp/2.0/__testable__/OCPP20ResponseServiceTestable.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-LocalAuthList.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-ForceTxOnInvalid.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseServiceTestUtils.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMetricsEndpoint.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(utils): replace bare structuredClone with clone helper
  src/charging-station/TemplateValidation.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationMigrations.ts
  src/utils/ConfigurationValidation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): replace (error as Error).message with getErrorMessage
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): replace ?.value === 'true' with convertToBoolean
  src/charging-station/Bootstrap.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: adopt isEmpty/isNotEmptyString helpers for typed collection checks
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/worker/WorkerAbstract.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: adopt convertToInt and has helpers for type conversions and property checks
  src/charging-station/TemplateSchema.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
  src/charging-station/ui-server/UIServerNet.ts
  src/utils/ConfigurationSchema.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: adopt isNotEmptyArray and buildConfigKey for collection checks and log formatting
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIServerAccessPolicy.ts
Due: prettier --cache --write, eslint --cache --fix

fix(refactor): avoid TDZ cycles via utils barrel for new helper imports
  src/charging-station/TemplateSchema.ts
  src/charging-station/ui-server/UIServerNet.ts
  src/worker/WorkerAbstract.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp16): revert handleRequestChangeConfiguration integer-key check to Number()
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
