Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

ghrs: report 07-29-2323-DCCF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 07-30-2324-6E36 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-30_232455_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-30_232455_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-30_232455_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-30-2324-6E36 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-30_232455_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-30-2324-6E36 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(simulator): share invariant stationInfo fields via flyweight cache
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/StationInfoInvariants.ts
  src/utils/Constants.ts
  src/utils/DeepFreeze.ts
  src/utils/index.ts
  tests/charging-station/StationInfoInvariants.test.ts
  tests/utils/DeepFreeze.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(simulator): address PR #2056 review findings
  src/charging-station/StationInfoInvariants.ts
  src/utils/DeepFreeze.ts
  tests/utils/DeepFreeze.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(utils): treat array-buffer views as opaque leaves in deepFreeze
  src/utils/DeepFreeze.ts
  tests/utils/Constants.test.ts
  tests/utils/DeepFreeze.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(utils): rename misleading array-buffer test key to view
  tests/utils/DeepFreeze.test.ts
Due: none

test(simulator): lock flyweight hash injectivity against key-set collision
  src/charging-station/StationInfoInvariants.ts
  tests/charging-station/StationInfoInvariants.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(simulator): make flyweight regression tests discriminant
  src/charging-station/StationInfoInvariants.ts
  tests/charging-station/StationInfoInvariants.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(simulator): address flyweight review findings
  src/charging-station/StationInfoInvariants.ts
  src/utils/Constants.ts
  src/utils/DeepFreeze.ts
  src/utils/index.ts
  tests/charging-station/StationInfoInvariants.test.ts
  tests/utils/Constants.test.ts
  tests/utils/DeepFreeze.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(simulator): revert flyweight cache to strong Map; harden DeepReadonly
  src/charging-station/StationInfoInvariants.ts
  src/utils/DeepFreeze.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-31-2323-E818 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-31_232330_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-31_232330_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-31_232330_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-31-2323-E818 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-31_232330_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-31-2323-E818 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-01-2321-603D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-01_232123_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-01_232123_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-01_232123_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-01-2321-603D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-01_232123_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-01-2321-603D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

docs(readme): phrase coherent MeterValues docs in user-facing terms
  README.md
Due: prettier --cache --write

docs(readme): phrase coherent MeterValues docs in user-facing terms (#2060)
  README.md
Due: prettier --cache --write

ghrs: snap 08-02-2321-A742 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-02_232139_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-02_232139_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-02_232139_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 08-02-2321-A742 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 08-02-2321-A742 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-02_232139_views_clones_series_fragment.csv
Due: none

ghrs: report 08-02-2321-A742 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-03-2325-B233 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-03_232507_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-03_232507_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-03_232507_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-03-2325-B233 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-03_232507_views_clones_series_fragment.csv
Due: none

ghrs: report 08-03-2325-B233 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore(deps): add typescript-language-server dev dependency
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): add typescript-language-server dev dependency (#2065)
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat(simulator): add AC/DC conversion efficiency template support
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/TemplateSchema.ts
  src/types/ChargingStationTemplate.ts
  tests/charging-station/ChargingStation-ConversionEfficiency.test.ts
  tests/charging-station/TemplateSchema.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(simulator): clarify conversionEfficiency terminology and Outlet assumption
  src/charging-station/ChargingStation.ts
  src/types/ChargingStationTemplate.ts
  tests/charging-station/ChargingStation-ConversionEfficiency.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(simulator): drop issue reference from code comments
  src/charging-station/ChargingStation.ts
  tests/charging-station/ChargingStation-ConversionEfficiency.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(simulator): use interval notation for conversionEfficiency range
  README.md
Due: prettier --cache --write

refactor(simulator): resolve currentOutType via getCurrentOutType helper
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

feat(simulator): add AC/DC conversion efficiency template support (#2063)
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/TemplateSchema.ts
  src/types/ChargingStationTemplate.ts
  tests/charging-station/ChargingStation-ConversionEfficiency.test.ts
  tests/charging-station/TemplateSchema.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore(opencode): stop Serena MCP from auto-opening the web dashboard
  .opencode/opencode.jsonc
Due: none

chore(opencode): stop Serena MCP from auto-opening the web dashboard (#2066)
  .opencode/opencode.jsonc
Due: none

ghrs: snap 08-04-2324-8188 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-04_232452_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-04_232452_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-04_232452_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 08-04-2324-8188 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 08-04-2324-8188 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-04_232452_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
