Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

docs(tests): document Windows CI constraints and --test-force-exit
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

fix(test): investigate Windows CI hang (#1694)
  package.json
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/mocks/MockCaches.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: prettier --cache --write

refactor(test): harmonize test file headers and fix async patterns
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/utils/ConfigValidator.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerTestConstants.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
  tests/utils/AsyncLock.test.ts
Due: none

refactor(test): consolidate MockChargingStation type and clean Reset tests
  tests/charging-station/ChargingStationTestUtils.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: none

refactor(test): harmonize mockStation naming across all test files
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
Due: none

refactor(test): remove duplicate MockChargingStation interface from MockFactories
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: none

refactor(test): consolidate certificate constants and factory functions
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateTestData.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: none

refactor(test): remove local certificate aliases, use consolidated constants directly
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
Due: none

fix(tests): separate type import for Windows ESM compatibility
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: none

fix(tests): use inline type exports to fix Windows ESM compatibility
  tests/charging-station/ChargingStationTestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: none

fix(tests): use import type for type-only imports in ESM
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: none

refactor(test): audit-driven test quality improvements
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ui-server/UIServerSecurity.test.ts
  tests/exception/BaseError.test.ts
  tests/exception/OCPPError.test.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/utils/AsyncLock.test.ts
  tests/utils/ElectricUtils.test.ts
  tests/utils/StatisticUtils.test.ts
  tests/utils/Utils.test.ts
Due: none

refactor(test): remove duplicate test coverage in error test files
  tests/exception/BaseError.test.ts
  tests/exception/OCPPError.test.ts
Due: none

feat(ocpp2): add TriggerMessage, UnlockConnector and TransactionEvent types
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): resolve pre-existing LSP type errors in test infrastructure
  scripts/runtime.d.ts
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
Due: none

refactor(ocpp2): extract enforceMessageLimits utility to eliminate DRY violation
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): dynamic isComponentValid and fix OCPP 1.6 key usage
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): handle TransactionEventResponse fields
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): implement TriggerMessage/UnlockConnector handlers and Reset hardening
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): eliminate unsafe type casts in handlers and VariableManager
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): expose TriggerMessage and UnlockConnector handlers in testable interface
  src/charging-station/ocpp/2.0/__testable__/index.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add TriggerMessage handler tests (F06) — 14 tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: none

test(ocpp2): add UnlockConnector handler tests (F05) — 9 tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UnlockConnector.test.ts
Due: none

test(ocpp2): add TransactionEventResponse handler tests (E01-E04) — 7 tests
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
Due: none

test(ocpp2): fix firmware blocking tests and add AllowReset variable guard tests (T22) — 25 tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
Due: none

fix(ocpp2): add AJV strict:false and schema validation unit tests (T21)
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  tests/charging-station/ocpp/2.0/OCPP20SchemaValidation.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): correct registry key separator in isComponentValid (T5-bugfix)
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): add enforceMessageLimits utility tests (T23) — 14 tests
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
Due: none

test(ocpp2): add integration tests for multi-command flows (T24) — 6 tests
  tests/charging-station/ocpp/2.0/OCPP20Integration-Certificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration.test.ts
Due: none

fix(ocpp2): add error diagnostics, additionalInfo fields, and async timeout guard (T25)
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): resolve tsc type errors in UUIDv4 cast, override modifier, and mock cast (F1)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/__testable__/OCPP20RequestServiceTestable.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): add try/catch to TriggerMessage and UnlockConnector handlers, add integration test
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): address PR review findings — remove dead code, consolidate types, fix test mock
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Responses.ts
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/helpers/StationHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): spec compliance — F06.FR.17 BootNotification guard, F05.FR.02 connector-level tx check
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UnlockConnector.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): address code review — timer leak, diagnostic logging, TODO annotation
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

style: fix jsdoc warnings in OCPP 2.0 handlers and tests
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UnlockConnector.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration-Certificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(types): reduce tsc errors to zero and fix all lint warnings
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/performance/storage/MikroOrmStorage.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/1.6/Responses.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Transaction.ts
  src/types/ocpp/2.0/index.ts
  src/types/ocpp/Common.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): fix AllowReset dead code, evseId===0 routing, and EVSE-scoped connector lookup
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

ci: add typecheck step (tsc --noEmit --skipLibCheck) to CI pipeline
  .github/workflows/ci.yml
  package.json
Due: prettier --cache --write

fix(ocpp2): remove DiagnosticsStatusNotification from MessageTriggerEnumType
  src/types/ocpp/2.0/Common.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
