Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix(ocpp20): harden interval energy delivery
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ConnectorStatus.ts
  src/types/Evse.ts
  src/types/ocpp/Requests.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/index.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-Heartbeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-PostTransactionDelay.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-MeterValues.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): preserve retry and interval domains
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: complete charging station lifecycle fixture
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

ghrs: snap 09-09-2310-5F72 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-09_231051_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-09_231051_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-09_231051_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-09-2310-5F72 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-09_231051_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-09-2310-5F72 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp20): harden metering delivery lifecycle
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/2.0/__testable__/OCPP20RequestServiceTestable.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  src/types/ConnectorStatus.ts
  src/types/ocpp/Requests.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/Constants.ts
  tests/charging-station/ChargingStation-ConversionEfficiency.test.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/helpers/StationHelpers.types.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetTransactionStatus.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-Heartbeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-10-2309-EA9E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-10_231001_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-10_231001_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-10_231001_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-10-2309-EA9E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-10_231001_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-10-2309-EA9E for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor: enforce component import boundaries
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/index.ts
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): reuse shared meter value helpers
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/index.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/MeterValueUtils.ts
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/ChargingStationConfigurationUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): use canonical type barrel
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/TransactionIntervalUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: none

docs: remove redundant aligned metering note
  README.md
Due: prettier --cache --write

ghrs: snap 09-11-2310-4EC3 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-11_231035_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-11_231035_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-11_231035_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-11-2310-4EC3 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-11_231035_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-11-2310-4EC3 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix(ui-web): adapt tests to Vitest 5
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/shared/composables/useTheme.test.ts
Due: none

fix(ocpp): serialize deferred meter value delivery
  src/charging-station/HelpersConnectorStatus.ts
  src/charging-station/meter-values/TransactionMeterValueDeliveryBarrier.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 09-12-2310-4BD2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-12_231025_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-12_231025_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-12_231025_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 09-12-2310-4BD2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-09-12_231025_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 09-12-2310-4BD2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp20): reconcile deferred transaction metering
  src/charging-station/TransactionEventQueueUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp16): preserve interval delivery ordering
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): preserve lifecycle response ownership
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): preserve ambiguous delivery state
  src/charging-station/ChargingStation.ts
  src/charging-station/CoherentMeterValuesManager.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/CoherentSession.ts
  src/charging-station/meter-values/types.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPSignedMeterValueUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/TransactionEventQueueUtils.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): release rejected report snapshots
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(metering): preserve replay and interval ownership
  src/charging-station/ChargingStation.ts
  src/charging-station/index.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(metering): bound periodic delivery state
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPConnectorStatusOperations.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): bound trigger delivery reservations
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-CallChain.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): scope EVSE-local metering
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CoherentSession.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(runtime): bound reconnect and meter delivery
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  tests/charging-station/ChargingStation-Reconnect.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(metering): preserve deferred interval energy
  src/charging-station/index.ts
  src/charging-station/meter-values/TransactionIntervalUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp16): project terminal DC readings
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(lifecycle): drain accepted responses before stop
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-MeterValues.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils-SignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): join accepted stops during shutdown
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): reject calls during station shutdown
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): harden lifecycle and transaction delivery
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersReservation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reservation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-PostStopResurrection.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/OCPPIncomingRequestService-StationState.test.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
