Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

style(tests): align test naming with style guide
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
Due: none

refactor(webui): align namespace with simulator and improve API design
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/__tests__/UIClient.test.ts
  ui/web/src/router/index.ts
Due: none

refactor(webui): move tests from __tests__ to tests/unit for consistency
  ui/web/tests/unit/UIClient.test.ts
Due: none

fix: merge duplicate AuthTypes.js imports in auth barrel
  src/charging-station/ocpp/auth/index.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): add required JSDoc to GroupIdStop test helper
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
Due: none

feat(webui): integrate OCPP 2.0 EVSE 3-tier model across web UI
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/router/index.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/tests/unit/UIClient.test.ts
Due: none

refactor(webui): improve API elegance and fix cross-version concerns
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/tests/unit/UIClient.test.ts
Due: none

style(ocpp2): harmonize log levels, remove spec refs from log messages, use truncateId
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
Due: prettier --cache --write, eslint --cache --fix

style(auth): harmonize log prefixes, levels, and identifier truncation
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(auth): use moduleName constant for log prefixes in OCPPAuthServiceImpl
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
Due: prettier --cache --write, eslint --cache --fix

feat: entry-based serialization for EVSE/Connector/ATG data
  src/types/ChargingStationWorker.ts
  src/types/index.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(auth): use moduleName constant across all auth files
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/ConfigValidator.ts
Due: prettier --cache --write, eslint --cache --fix

fix(webui): use data presence instead of protocol version for EVSE display
  ui/web/src/components/actions/StartTransaction.vue
Due: none

refactor: extract buildATGStatusEntries for consistent Entry builder pattern
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: harmonize Entry naming pattern across codebase
  src/types/ChargingStationWorker.ts
  src/types/index.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: define ATGConfiguration type and harmonize across workspaces
  src/types/ChargingStationWorker.ts
  src/types/index.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/index.ts
Due: prettier --cache --write, eslint --cache --fix

test: add missing Entry builder tests and non-sequential ID coverage
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: none

refactor: organize tests by concern and replace throw with graceful failure
  tests/utils/ChargingStationConfigurationUtils.test.ts
  ui/web/src/composables/UIClient.ts
  ui/web/tests/unit/UIClient.test.ts
Due: none

fix(tests): skip flaky RequestStopTransaction test on all Node 22 platforms
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

refactor(auth): harmonize log prefixes in auth adapters
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: move truncateId to utils and truncate identifiers in OCPP20 logs
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
Due: prettier --cache --write, eslint --cache --fix

style(ocpp2): remove spec ref from statusInfo additionalInfo
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

style(ocpp2): truncate idToken in statusInfo additionalInfo
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp2): improve test coverage and remove duplicates in auth conformance tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy-DisablePostAuthorize.test.ts
Due: none

feat(ocpp2): fix authorization conformance gaps (C10, C12, C01, C09) (#1735)
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ocpp/auth/utils/ConfigValidator.ts
  src/types/ConnectorStatus.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy-DisablePostAuthorize.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: harmonize quality gate ordering (typecheck before lint) across codebase
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  tests/ocpp-server/README.md
  ui/web/README.md
Due: prettier --cache --write

refactor(ocpp2): centralize TransactionEvent payload building
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui): add OCPP 2.0.x command support to Web UI (#1734)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  pnpm-lock.yaml
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ChargingStationWorker.ts
  src/types/index.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
  tests/ocpp-server/README.md
  tests/utils/ChargingStationConfigurationUtils.test.ts
  ui/web/.gitignore
  ui/web/README.md
  ui/web/package.json
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/JsonType.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/types/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/UIClient.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): centralize payload construction and eliminate duplication
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): consolidate dual-path request architecture into single path
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/__testable__/OCPP20RequestServiceTestable.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-FirmwareStatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-LogStatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-MeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SecurityEventNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): remove redundant getTxUpdatedInterval wrapper
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2): revert UI transaction handlers to simple passthrough
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): harmonize buildRequestPayload switch structure across versions
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use buildStatusNotificationRequest helper in TriggerMessage handlers
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): make buildRequestPayload the authoritative builder for all commands
  .serena/memories/code_style_conventions.md
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): add rawPayload bypass, resolve minimal params in buildRequestPayload, fix test types
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): extract buildTransactionEvent as standalone function, remove dead context code
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/index.ts
  src/types/ocpp/2.0/Transaction.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): add call chain integration tests for both OCPP stacks
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ocpp/1.6/OCPP16RequestService-CallChain.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-CallChain.test.ts
Due: prettier --cache --write

refactor(test): remove duplicate certificate passthrough tests from broadcast channel
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): replace this.constructor.name with moduleName in base class logs
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix
