Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(cli): use Vercel CLI pattern for graceful signal shutdown
  ui/cli/src/client/lifecycle.ts
Due: none

chore: reorder linked-versions components (common, cli, web)
  .github/release-please/config.json
Due: prettier --cache --write

style(ci): add blank line between all job definitions in ci.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

refactor(cli): rename parseIntList to parseCommaSeparatedInts
  ui/cli/src/commands/atg.ts
Due: none

fix(cli): validate connector IDs input and wrap config search errors
  ui/cli/src/commands/atg.ts
  ui/cli/src/config/loader.ts
Due: none

feat(cli): standalone build + XDG-only config + install script
  pnpm-lock.yaml
  ui/cli/README.md
  ui/cli/install.sh
  ui/cli/package.json
  ui/cli/scripts/bundle.js
  ui/cli/src/config/loader.ts
  ui/cli/tests/config.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(cli): address review feedback round 3
  ui/cli/package.json
  ui/cli/src/client/errors.ts
  ui/cli/src/commands/action.ts
  ui/cli/src/commands/connector.ts
  ui/cli/src/commands/ocpp.ts
  ui/cli/src/commands/station.ts
  ui/cli/src/commands/transaction.ts
  ui/cli/src/config/loader.ts
  ui/cli/src/output/table.ts
  ui/cli/tests/lifecycle.test.ts
  ui/cli/tests/output.test.ts
  ui/common/src/client/WebSocketClient.ts
  ui/common/src/config/schema.ts
  ui/common/tests/WebSocketClient.test.ts
Due: prettier --cache --write

ci: remove redundant lint:fix from autofix workflow
  .github/workflows/autofix.yml
Due: prettier --cache --write

refactor(cli): remove unnecessary comment in outputTable
  ui/cli/src/output/table.ts
Due: none

fix(cli): don't override template defaults in station add, reject array config
  ui/cli/src/commands/station.ts
  ui/cli/src/config/loader.ts
Due: none

refactor(cli): remove unused terminal-link dep and dead exports
  pnpm-lock.yaml
  ui/cli/package.json
  ui/cli/src/output/human.ts
  ui/cli/src/output/table.ts
  ui/cli/tests/output.test.ts
Due: prettier --cache --write

fix(ui-common): reject malformed payloads, replace ReadyState with enum
  ui/common/src/client/WebSocketClient.ts
  ui/common/src/client/types.ts
  ui/common/tests/WebSocketClient.test.ts
Due: none

fix(cli): add connection timeout, remove dead defaultUIServerConfig
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/config/defaults.ts
Due: none

fix(cli): clear connection timeout timer on success
  ui/cli/src/client/lifecycle.ts
Due: none

refactor(ui-common): expose url getter, remove duplicate ConfigurationType
  ui/cli/src/client/lifecycle.ts
  ui/common/src/client/WebSocketClient.ts
  ui/common/src/config/schema.ts
  ui/common/src/index.ts
  ui/common/src/types/ConfigurationType.ts
Due: none

fix(cli): display failure status instead of misleading Success
  ui/cli/src/output/table.ts
Due: none

fix: align ui/web ResponsePayload with server, reject non-object config
  ui/cli/src/config/loader.ts
  ui/web/src/types/UIProtocol.ts
Due: none

fix: reject non-object config files, merge duplicate import
  ui/cli/src/config/loader.ts
  ui/common/src/client/types.ts
Due: none

fix: suppress dangling connect rejection, remove dead Zod defaults
  ui/cli/src/client/lifecycle.ts
  ui/common/src/config/schema.ts
  ui/common/tests/config.test.ts
Due: none

fix(cli): preserve error cause in config loader for debuggability
  ui/cli/src/config/loader.ts
Due: none

feat(cli): display failure reasons in human-readable table output
  ui/cli/src/output/table.ts
  ui/cli/tests/output.test.ts
  ui/common/src/types/UIProtocol.ts
Due: none

fix(cli): replace unsafe WebSocket double cast with typed adapter
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/client/ws-adapter.ts
  ui/cli/tests/ws-adapter.test.ts
Due: none

fix(cli): replace unsafe WebSocket double cast with typed adapter
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/client/ws-adapter.ts
  ui/cli/tests/lifecycle.test.ts
  ui/common/src/client/WebSocketClient.ts
  ui/common/tests/WebSocketClient.test.ts
Due: none

test(cli): fix lifecycle test structure — single top-level describe
  ui/cli/src/client/ws-adapter.ts
  ui/cli/tests/lifecycle.test.ts
  ui/common/tests/WebSocketClient.test.ts
Due: none

refactor(cli): audit fixes — validate timeoutMs, extract mock factory, add comments
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/client/ws-adapter.ts
  ui/cli/src/output/table.ts
  ui/cli/tests/lifecycle.test.ts
  ui/cli/tests/output.test.ts
  ui/cli/tests/ws-adapter.test.ts
  ui/common/src/client/WebSocketClient.ts
  ui/common/tests/WebSocketClient.test.ts
Due: none

refactor(cli): second-pass audit fixes — DRY table helper, remove slop, strengthen assertions
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/output/table.ts
  ui/cli/tests/ws-adapter.test.ts
  ui/common/tests/WebSocketClient.test.ts
Due: none

refactor(cli): fix onerror ErrorEvent handling, DRY adapter types, simplify factory
  ui/cli/src/client/lifecycle.ts
  ui/cli/src/client/ws-adapter.ts
  ui/cli/tests/lifecycle.test.ts
  ui/cli/tests/output.test.ts
  ui/cli/tests/ws-adapter.test.ts
  ui/common/tests/WebSocketClient.test.ts
Due: none

refactor(cli): complete remaining audit items — validate status, extract helpers, add 8 test cases
  ui/cli/src/output/table.ts
  ui/cli/tests/lifecycle.test.ts
  ui/cli/tests/output.test.ts
  ui/common/src/client/WebSocketClient.ts
  ui/common/tests/WebSocketClient.test.ts
Due: none

fix(cli): validate connect timeout budget — reject NaN/0/negative before race
  ui/cli/src/client/lifecycle.ts
  ui/cli/tests/lifecycle.test.ts
Due: none

feat(common): add browser WebSocket adapter
  ui/common/src/client/WebSocketClient.ts
  ui/common/src/client/browser-adapter.ts
  ui/common/tests/WebSocketClient.test.ts
  ui/common/tests/browser-adapter.test.ts
Due: none

feat(common): add notification callback support to WebSocketClient
  ui/common/tests/WebSocketClient.test.ts
Due: none

refactor(common): export browser adapter from barrel
  ui/common/src/index.ts
Due: none

refactor(web): migrate types to ui-common + UIClient internals to WebSocketClient
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/ConfigurationType.ts
  ui/web/src/types/JsonType.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/src/types/UUID.ts
  ui/web/src/types/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/constants.ts
  ui/web/tests/unit/helpers.ts
Due: prettier --cache --write

fix(web): prevent ghost events after server switch, fix CloseEvent type, improve error extraction
  ui/common/src/client/browser-adapter.ts
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/tests/unit/UIClient.test.ts
Due: none

refactor(web): eliminate type barrel — direct imports from ui-common and source modules
  ui/common/src/types/JsonType.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/main.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/CSTable.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/StartTransaction.test.ts
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/constants.ts
  ui/web/tests/unit/helpers.ts
Due: none

fix(common): include Date in JsonPrimitive, restore Date fields
  ui/common/src/types/JsonType.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/tests/unit/constants.ts
Due: none

fix(web): widen Docker context to monorepo root for ui-common workspace dep
  ui/web/docker/Dockerfile
  ui/web/docker/docker-compose.yml
Due: prettier --cache --write

refactor(common): portable btoa, eliminate UIClient duplication, fix Docker deps
  ui/common/src/client/WebSocketClient.ts
  ui/web/docker/Dockerfile
  ui/web/src/composables/UIClient.ts
Due: none

fix(web): copy workspace node_modules, harmonize browser adapter, add frozen-lockfile
  ui/common/src/client/browser-adapter.ts
  ui/web/docker/Dockerfile
Due: none
