Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

Related issue39
  tests/ocpp-server/.gitignore
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write

docs: document volta usage for development
  README.md
Due: prettier --cache --write

build: recommend vscode ruff extension for ocpp-server python code
  tests/ocpp-server/.vscode/extensions.json
  tests/ocpp-server/.vscode/settings.json
Due: prettier --cache --write

build(deps-dev): apply updates
  tests/ocpp-server/poetry.lock
Due: none

build(ocpp-server): sync poetry lock file
  tests/ocpp-server/poetry.lock
  tests/ocpp-server/pyproject.toml
Due: none

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build: fix pnpm lock file
  pnpm-lock.yaml
Due: prettier --cache --write

docs: refine README.md
  README.md
Due: prettier --cache --write

build(ocpp-server): apply updates
  tests/ocpp-server/poetry.lock
Due: none

refactor: silence linter
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

feat(ci): add autofix.ci action on PR
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

fix(ci): fix autofix jobs
  .github/workflows/autofix.yml
Due: prettier --cache --write

build(ci): cache python poetry deps
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
Due: prettier --cache --write

build(ci): run autofix in a unique job
  .github/workflows/autofix.yml
Due: prettier --cache --write

build(ci): install pnpm deps only once
  .github/workflows/autofix.yml
Due: prettier --cache --write

build(ci): fix task name for autofix
  .github/workflows/autofix.yml
Due: prettier --cache --write

feat: modified OCPP2.0 test
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write

fix: updated .gitignore to exclude temporary files
  tests/ocpp-server/.gitignore
Due: none

Update tests/ocpp-server/server.py
  tests/ocpp-server/server.py
Due: none

build(ci): checkout repo only once
  .github/workflows/autofix.yml
Due: prettier --cache --write

fix: modified mistakes
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write

fix: corrected a error
  tests/ocpp-server/server.py
Due: none

fix: issue 39
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write

fix: issue 39
  tests/ocpp-server/server.py
Due: none

build(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

fix: fix OCPP2 mock server command sending
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write
