Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

ghrs: snap 07-09-2330-5C5D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-09_233003_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-09_233003_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-09_233003_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-09-2330-5C5D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-09_233003_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-09-2330-5C5D for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp): guard OCPP 1.6 UpdateFirmware deferred-timer schedule against sealed state writes (#1994)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-10-2322-EA0B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-10_232216_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-10_232216_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-10_232216_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-10-2322-EA0B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-10_232216_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-10-2322-EA0B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

test(ocpp): cover OCPP 2.0.1 log/firmware lifecycle supersession and cleanup paths
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-PostStopResurrection.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: none

test(ocpp): cover OCPP 2.0.1 log/firmware lifecycle supersession and cleanup paths (#1997)
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-PostStopResurrection.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: none

ghrs: snap 07-11-2320-A7AD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-11_232008_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-11_232008_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-11_232008_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-11-2320-A7AD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-11_232008_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-11-2320-A7AD for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

refactor(utils): swap getRandomFloat(Rounded) params to (min, max) for consistency
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Utils.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(utils): reject non-finite interval width in getRandomFloat
  src/utils/Utils.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(utils): swap getRandomFloat(Rounded) params to (min, max) for consistency (#1998)
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Utils.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): remove as-unknown-as double-casts from request/response dispatch
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/types/index.ts
  src/types/ocpp/2.0/Transaction.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-StatusNotification.test.ts
  tests/charging-station/ocpp/OCPPConnectorStatusOperations.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): remove as-unknown-as double-casts from request/response dispatch (#2003)
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPConnectorStatusOperations.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/types/index.ts
  src/types/ocpp/2.0/Transaction.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-StatusNotification.test.ts
  tests/charging-station/ocpp/OCPPConnectorStatusOperations.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-12-2320-F722 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-12_232022_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-12_232022_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-12_232022_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-12-2320-F722 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-12_232022_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-12-2320-F722 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 07-13-2321-9E22 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-13_232134_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-13_232134_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-13_232134_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-13-2321-9E22 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-13_232134_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: stars and forks 07-13-2321-9E22 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
Due: none

ghrs: report 07-13-2321-9E22 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 07-14-2320-D4B5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-14_232017_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-14_232017_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-14_232017_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-14-2320-D4B5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-14_232017_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-14-2320-D4B5 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

style(jsdoc): backtick @returns boolean literals
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/2.0/__testable__/OCPP20VariableManagerTestable.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  src/utils/ConfigurationMigrations.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): align !== undefined to != null for number|undefined guards
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extend != null idiom to VariableManager min/max ternaries and negated EVSE guard
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
Due: prettier --cache --write, eslint --cache --fix

docs(ocpp): fix validateConfiguration @returns — synchronous boolean, backtick literal
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
Due: prettier --cache --write, eslint --cache --fix

style: codebase consistency sweep — JSDoc @returns backticks + != null idiom (#2009)
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/2.0/__testable__/OCPP20VariableManagerTestable.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  src/utils/ConfigurationMigrations.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): support TriggerMessage(TransactionEvent) per F06.FR.07
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 07-15-2322-8D14 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-15_232209_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-15_232209_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-15_232209_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-15-2322-8D14 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-07-15_232209_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-15-2322-8D14 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

fix(ocpp): support TriggerMessage(TransactionEvent) per F06.FR.07 (#2013)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): retain creation options so a reset keeps station identity
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui-server): time out broadcast-channel requests so UI commands cannot hang
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/Constants.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(charging-station): re-dial after a server-initiated connection close
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
