Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor(ocpp): consolidate variable reading through shared helpers
  src/charging-station/ocpp/2.0/OCPP20CertSigningRetryManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): remove unnecessary exports from internal helpers
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): remove dead barrel re-exports
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): consolidate variable access in auth adapter
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): consolidate MeterValues validators and helpers
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): consolidate payload validation into shared utility
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1768)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

docs: add missing ChargingStation.WebSocketPingInterval to README
  README.md
Due: prettier --cache --write

feat(ocpp): add spec-required DisplayMessageCtrlr variables
  README.md
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps): security update of lodash and lodash-es
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

refactor(tests): consolidate duplicate test helpers
  tests/charging-station/ocpp/OCPPConnectorStatusOperations.test.ts
  tests/charging-station/ocpp/OCPPServiceOperations.test.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: none

refactor(tests): migrate inline mock stations to shared factory
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
Due: none

refactor(tests): use setupConnectorWithTransaction shared helper
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: none

refactor(tests): migrate hardcoded test tags to shared constants
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reservation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestService-Payloads.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16SchemaValidation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
  tests/charging-station/ocpp/OCPPConnectorStatusOperations.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
Due: none

fix: restrict test coverage to src/ runtime code only
  package.json
Due: prettier --cache --write

refactor(webui): align $ prefix convention on composable locals
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(webui): migrate globalProperties to provide/inject
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/main.ts
  ui/web/src/shims-vue.d.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
Due: none

feat(webui): remove reload button (auto-refresh via WebSocket)
  ui/web/src/assets/themes/catppuccin-latte.css
  ui/web/src/assets/themes/sap-horizon.css
  ui/web/src/assets/themes/tokyo-night-storm.css
  ui/web/src/components/buttons/ReloadButton.vue
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/SimpleComponents.test.ts
Due: none

refactor(webui): remove redundant CSTable re-mount on toggle
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor: use utility helpers consistently across codebase
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20CertSigningRetryManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use string/array helper functions consistently
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationMigration.ts
  src/utils/StatisticUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: replace string literals with OCPP enum constants
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/SharedLRUCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
  tests/charging-station/ocpp/2.0/OCPP20Integration.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-enforceMessageLimits.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): use version-agnostic StandardParametersKey
  tests/charging-station/SharedLRUCache.test.ts
Due: none

refactor: use getErrorMessage helper and extract auth cache constant
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/performance/PerformanceStatistics.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use utility functions consistently across codebase
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  src/charging-station/ocpp/auth/utils/ConfigValidator.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/Configuration.ts
  src/utils/Logger.ts
  src/utils/StatisticUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: dry improvements in web UI and OCPP mock server
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/Constants.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(tests): extract hardcoded values to constants
  tests/charging-station/AutomaticTransactionGenerator.test.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/SharedLRUCache.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reservation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: none

refactor: improve helper/utility usage consistency across codebase
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/utils/Constants.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerUtils.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: enforce utility usage and centralize constants across all components
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIMCPServer.ts
  src/charging-station/ui-server/UIServerSecurity.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/worker/WorkerConstants.ts
  src/worker/WorkerSet.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-ReconnectDelay.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIMCPServer.test.ts
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
  ui/web/src/App.vue
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/Constants.ts
  ui/web/src/composables/index.ts
  ui/web/src/main.ts
  ui/web/src/router/index.ts
  ui/web/src/views/ChargingStationsView.vue
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp-server): inline _parse_set/get_variable_specs thin wrappers
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

fix(ui): enable authorize for all OCPP versions in StartTransaction
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/tests/unit/StartTransaction.test.ts
Due: none

refactor(ui): use EMPTY_VALUE_PLACEHOLDER in Utils.ts and test assertions
  ui/web/src/composables/Utils.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
Due: none

docs: update serena memories after full codebase audit
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/task_completion_checklist.md
Due: prettier --cache --write

docs: remove barrel workaround hint from conventions memory
  .serena/memories/code_style_conventions.md
Due: prettier --cache --write

docs: remove standalone ruff hint from checklist memory
  .serena/memories/task_completion_checklist.md
Due: prettier --cache --write

chore: release main (#1771)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

docs: restructure memories for logical coherence
  .serena/memories/code_style_conventions.md
  .serena/memories/task_completion_checklist.md
Due: prettier --cache --write
