Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

ghrs: stars and forks 08-21-2307-15C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
Due: none

ghrs: report 08-21-2307-15C2 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 08-22-2305-4534 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-22_230541_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-22_230541_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-22_230541_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-22-2305-4534 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-22_230541_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-22-2305-4534 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

chore: remove Sandcastle integration
  .cfignore
  .github/workflows/sandcastle.yml
  .sandcastle/.env.example
  .sandcastle/.gitignore
  .sandcastle/Dockerfile
  .sandcastle/concurrency-pool.ts
  .sandcastle/constants.ts
  .sandcastle/finalizer.ts
  .sandcastle/main.ts
  .sandcastle/plan-prompt.md
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/actor-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/strategies/index.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
  .sandcastle/utils.ts
  .sandcastle/validation.ts
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --cache --write

chore: remove Sandcastle integration (#2093)
  .cfignore
  .github/workflows/sandcastle.yml
  .sandcastle/.env.example
  .sandcastle/.gitignore
  .sandcastle/Dockerfile
  .sandcastle/concurrency-pool.ts
  .sandcastle/constants.ts
  .sandcastle/finalizer.ts
  .sandcastle/main.ts
  .sandcastle/plan-prompt.md
  .sandcastle/refinement-loop.ts
  .sandcastle/strategies/implement/actor-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/strategies/index.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
  .sandcastle/utils.ts
  .sandcastle/validation.ts
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --cache --write

chore: release main (#2052)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/cli/CHANGELOG.md
  ui/cli/package.json
  ui/cli/sonar-project.properties
  ui/common/CHANGELOG.md
  ui/common/package.json
  ui/common/sonar-project.properties
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

ghrs: snap 08-23-2305-B808 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-23_230558_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-23_230558_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-23_230558_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-23-2305-B808 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-23_230558_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-23-2305-B808 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-24-2307-CF30 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-24_230745_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-24_230745_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-24_230745_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-24-2307-CF30 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-24_230745_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-24-2307-CF30 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-25-2308-A31B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-25_230813_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-25_230813_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-25_230813_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-25-2308-A31B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-25_230813_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-25-2308-A31B for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-27-0009-1913 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-27_000953_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-27_000953_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-27_000953_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-27-0009-1913 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-27_000953_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-27-0009-1913 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

ghrs: snap 08-28-0144-AD47 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-28_014421_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-28_014421_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-28_014421_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-28-0144-AD47 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-08-28_014421_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-28-0144-AD47 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(ocpp20): autonomous clock-aligned MeterValues per AlignedDataCtrlr
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp20): build meter values for transaction-less connectors
  src/charging-station/ocpp/2.0/__testable__/index.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): strengthen clock-aligned MeterValues coverage per review
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): station-wide SendDuringIdle gate per J01.FR.20 + template reload restart
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): treat pending transactions as ongoing for SendDuringIdle + test hardening
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): align clock meter values signing and idle physics
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Constants.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): warn and skip clock-aligned timer without EVSE topology
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): harden aligned meter value snapshots
  src/charging-station/ChargingStation.ts
  src/charging-station/HelpersChargingProfile.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/meter-values/CoherentSampleComputer.ts
  src/charging-station/meter-values/index.ts
  src/charging-station/meter-values/types.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): name meter-value identity type and align post-refactor references
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): harden clock-aligned MeterValues timer log and public-key flag
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

docs(readme): document autonomous clock-aligned MeterValues emission
  README.md
Due: prettier --cache --write

fix(ocpp20): align autonomous MeterValues to wall-clock boundaries
  README.md
  src/charging-station/ChargingStation.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): assert clock-aligned emission, faithful energy fixture, precise titles
  tests/charging-station/helpers/StationHelpers.factory.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: none

fix(ocpp20): correct clock-aligned meter value delivery
  README.md
  src/charging-station/ChargingStation.ts
  src/charging-station/meter-values/CoherentMeterValueBuilder.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceOperations.ts
  tests/charging-station/meter-values/CoherentMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-AlignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): align mock station getters with production semantics
  tests/charging-station/helpers/StationHelpers.factory.ts
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
