Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(ocpp): check connector availability in RemoteStartTransaction auto-selection
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

Update tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
Due: none

Apply suggestion from @jerome-benoit
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
Due: none

fix(ocpp): check connector availability in RemoteStartTransaction auto-selection (#1774)
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: harmonize RemoteStartTransaction tests across OCPP stacks
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
Due: none

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1773)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

feat(types): export OCPP16MeterValueFormat and add OCPP16SignedMeterValue
  src/types/index.ts
  src/types/ocpp/1.6/MeterValues.ts
  tests/types/ocpp/1.6/MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp1.6): add vendor configuration keys for signed meter values
  eslint.config.js
  src/charging-station/ChargingStation.ts
  src/types/ocpp/1.6/Configuration.ts
  tests/types/ocpp/1.6/Configuration.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2.0): add variable registry entries for signed meter readings
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

feat(mock-server): handle signed meter value payloads
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

feat(ocpp): add simulated signed meter data generator
  src/charging-station/ocpp/SignedMeterDataGenerator.ts
  src/charging-station/ocpp/index.ts
  tests/charging-station/ocpp/SignedMeterDataGenerator.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp): add PublicKeyWithSignedMeterValue enum and state tracking
  src/charging-station/ocpp/SignedMeterValueUtils.ts
  src/types/ConnectorStatus.ts
  src/types/index.ts
  src/types/ocpp/Configuration.ts
  tests/charging-station/ocpp/SignedMeterValueUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2.0): populate signedMeterValue in sampled value building
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp1.6): add signed meter value support to sampled value building
  src/charging-station/ocpp/1.6/OCPP16RequestBuilders.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(templates): add station templates with signed meter value config
  src/assets/station-templates/keba-ocpp2-signed.station-template.json
  src/assets/station-templates/virtual-simple-signed.station-template.json
Due: prettier --cache --write

docs: document signed meter values configuration
  README.md
Due: prettier --cache --write

fix(lint): apply formatter fixes to signed meter value files
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/SignedMeterDataGenerator.ts
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
  tests/charging-station/ocpp/SignedMeterDataGenerator.test.ts
  tests/charging-station/ocpp/SignedMeterValueUtils.test.ts
  tests/types/ocpp/1.6/Configuration.test.ts
  tests/types/ocpp/1.6/MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): fix publicKey state tracking and reset in signed meter values
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): fix OCMF payload, hash, and public key encoding
  src/assets/station-templates/keba-ocpp2-signed.station-template.json
  src/assets/station-templates/virtual-simple-signed.station-template.json
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/SignedMeterDataGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): add defensive guards and improve signing code quality
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/SignedMeterValueUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp2.0): respect SignStartedReadings and SignUpdatedReadings sub-switches
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): consistent publicKey state update, version-gated vendor keys, use enum constants
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use union types in common code and correct enum classification per OCPP specs
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ocpp/2.0/Variables.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): fix corrupted Measurands entry, Wh/kWh unit handling, context mapping, and enum validation
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/SignedMeterDataGenerator.ts
  src/charging-station/ocpp/SignedMeterValueUtils.ts
  src/charging-station/ocpp/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use MeterValueContext/MeterValueUnit enums and barrel imports instead of string literals
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/SignedMeterDataGenerator.ts
  src/charging-station/ocpp/SignedMeterValueUtils.ts
  tests/charging-station/ocpp/SignedMeterDataGenerator.test.ts
Due: prettier --cache --write, eslint --cache --fix

style: apply prettier formatting to SignedMeterDataGenerator test
  tests/charging-station/ocpp/SignedMeterDataGenerator.test.ts
Due: none

fix(ocpp): add vendorSpecific flag, guard publicKey inclusion on key availability, add kWh test
  README.md
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
  tests/charging-station/ocpp/SignedMeterDataGenerator.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use PublicKeyWithSignedMeterValueEnumType.Never instead of string literal
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): add JSDoc header, TX=P/Clock tests, non-energy measurand and transactionData force tests
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
  tests/charging-station/ocpp/SignedMeterDataGenerator.test.ts
Due: none

test(ocpp1.6): add periodic signing tests with mock timers for startUpdatedMeterValues
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
Due: none

refactor(test): use beforeEach for station creation in OCPP16SignedMeterValues per style guide
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
Due: none

fix(ocpp): treat undefined context as periodic for SignUpdatedReadings, conditional try/catch for signing-forced transactionData, use node:assert/strict import
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
  tests/types/ocpp/1.6/MeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2.0): add defaultValue and enumeration to PublicKeyWithSignedMeterValue registry entry
  src/charging-station/ocpp/2.0/OCPP20VariableRegistry.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(ocpp1.6): remove redundant nullish coalescing on publicKeyHex
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): use BaseError, return tuple in OCPP 2.0 builder, extract config reading in OCPP 1.6
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestBuilders.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/SignedMeterValueUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): harmonize naming, signatures, and data structures across signing paths
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/SignedMeterDataGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

fix(mock-server): log signed meter values in TransactionEvent.Ended and add test
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

fix(ocpp): include Transaction.Begin MV in TransactionEvent(Ended) per spec §4.1.2, set signingMethod to empty string per spec §3.2.1
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/SignedMeterDataGenerator.ts
  tests/charging-station/ocpp/1.6/OCPP16SignedMeterValues.test.ts
  tests/charging-station/ocpp/2.0/OCPP20SignedMeterValues.test.ts
  tests/charging-station/ocpp/SignedMeterDataGenerator.test.ts
Due: prettier --cache --write, eslint --cache --fix
