Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

refactor: cleanup old auth code
  .serena/memories/task_completion_checklist.md
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/types/ChargingStationTemplate.ts
  src/types/ocpp/2.0/Transaction.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp2): implement in-memory auth cache with rate limiting and TTL
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/cache/index.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): integrate InMemoryAuthCache into auth service
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  tests/charging-station/ocpp/auth/factories/AuthComponentFactory.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(test): correct LRU eviction test to avoid duplicate identifier access
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
Due: none

feat(ocpp2): extend mock server for auth testing scenarios
  tests/ocpp-server/README.md
  tests/ocpp-server/server.py
Due: prettier --cache --write

test(ocpp2): add G03.FR.02 offline authorization tests
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.offline.test.ts
Due: none

test: add G03.FR.03 Remote Start Pre-Authorization tests for OCPP 2.0
  .serena/memories/task_completion_checklist.md
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService.remotestart.test.ts
Due: prettier --cache --write

docs: update task completion checklist - Phase 2.2 complete
  .serena/memories/task_completion_checklist.md
Due: prettier --cache --write

chore(deps-dev): apply updates
  tests/ocpp-server/poetry.lock
Due: none

chore: update openspec artefacts
  .opencode/command/openspec-proposal.md
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

test: remove glob usage
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

ci: remove node 20.x
  .github/workflows/ci.yml
  .serena/memories/project_overview.md
  openspec/project.md
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix: syntax error
  .serena/memories/task_completion_checklist.md
  eslint.config.js
  ui/web/src/types/UUID.ts
Due: prettier --cache --write, eslint --cache --fix

chore: silence spell checker
  .vscode/settings.json
Due: prettier --cache --write

ci: remove now unneeded workflow
  .github/workflows/combine-prs.yml
Due: prettier --cache --write

fix: update tsconfig.json to use @tsconfig/node24
  ui/web/tsconfig.json
Due: prettier --cache --write

chore: update openspec artifacts
  .opencode/command/openspec-archive.md
Due: prettier --cache --write

fix: connector boot status available by default
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

chore: add unit tests to getBootConnectorStatus
  tests/charging-station/Helpers.test.ts
Due: none

fix: ui websocket server stops responding to broadcast procedures (#1642)
  .clinerules/copilot-instructions.md
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/charging-station/ui-server/UIWebSocketServer.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerTestConstants.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: correct UIHttpServer test expectations for response format
  tests/charging-station/ui-server/UIHttpServer.test.ts
Due: none

fix: ui websocket server stops responding to broadcast procedures (#1643)
  .clinerules/copilot-instructions.md
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/charging-station/ui-server/UIWebSocketServer.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerTestConstants.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main (#1478)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: lock file maintenance
  pnpm-lock.yaml
Due: prettier --cache --write

fix: ensure proper cleanup of BroadcastChannel resources in AbstractUIService tests
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
Due: none

chore: refine renovate config
  renovate.json
Due: prettier --cache --write

test: adjust tolerance for delay checks
  tests/utils/Utils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: none

fix: harden ChargingStation null-safety
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: improve configuration file validation and error handling
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: refine connector boot status logic based on reviewer feedback
  src/charging-station/Helpers.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/Helpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove redundant comments from getBootConnectorStatus
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

fix: Change connector boot status to be available at boot (#1641)
  src/charging-station/Helpers.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/Helpers.test.ts
Due: prettier --cache --write, eslint --cache --fix
