Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

docs(tests): fix incorrect mock API in §11 code example
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

fix(tests): align all 112 test files with TEST_STYLE_GUIDE
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/AutomaticTransactionGenerator.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/utils/MessageChannelUtils.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write

docs(tests): align TEST_STYLE_GUIDE with actual test infrastructure
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

docs(tests): fix guide inconsistencies — deduplicate entries, fix assertion example
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

docs(tests): fix guide precision — assert.ok scope, test script quotes, restore helpers
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

test: harmonize event listener test pattern across OCPP command test files (#1730)
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/AutomaticTransactionGenerator.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/utils/MessageChannelUtils.test.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write

fix(tests): add second flushMicrotasks for RequestStopTransaction listener
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

fix(tests): remove unnecessary double flushMicrotasks in skipped test
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

fix(tests): use conditional callCount expectation instead of skip for Node 22
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

ci: move coverage/lint/typecheck/sonar pipeline from Node 22.x to 24.x
  .github/workflows/ci.yml
Due: prettier --cache --write

fix(tests): skip flaky RequestStopTransaction test on macOS + Node 22
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1727)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

refactor: enforce consistent-type-imports eslint rule and fix violations
  eslint.config.js
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: re-export OCPPAuthServiceFactory in ocpp barrel and fix cross-sub-component imports
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: replace const enum with enum for cross-module runtime compatibility
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/ErrorType.ts
  src/types/ocpp/MessageType.ts
  src/types/ocpp/OCPPVersion.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp-server): update to websockets 16.x API (request.headers, request.path)
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
Due: none

fix(ocpp2): use convertToDate() for all incoming date fields in handlers
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui): use runtime imports for enums and disable lint rule for .d.ts
  eslint.config.js
  ui/web/src/composables/UIClient.ts
Due: prettier --cache --write, eslint --cache --fix

docs: update openspec config with current project structure and conventions
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-bulk-archive.md
  .opencode/command/opsx-continue.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-ff.md
  .opencode/command/opsx-new.md
  .opencode/command/opsx-onboard.md
  .opencode/command/opsx-sync.md
  .opencode/command/opsx-verify.md
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  openspec/config.yaml
Due: prettier --cache --write

docs: remove redundant common pitfalls from code style conventions
  .serena/memories/code_style_conventions.md
Due: prettier --cache --write

chore: release main (#1732)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

feat(ui): add OCPP 2.0.x types and sync ProcedureName enum
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/UIProtocol.ts
Due: none

docs: update suggested commands and task completion checklist
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
Due: prettier --cache --write

feat(ui): add UIClient transaction methods with OCPP version support
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/__tests__/UIClient.test.ts
  ui/web/src/types/index.ts
Due: none

docs(ocpp-server): add typecheck and test_coverage to README and reorder dev sections
  tests/ocpp-server/README.md
Due: prettier --cache --write

feat(ui): add version-aware StartTransaction form with OCPP 2.0.x support
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/__tests__/UIClient.test.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/index.ts
  ui/web/tsconfig.tsbuildinfo
Due: none

fix(webui): use enums instead of string literals for OCPP 2.0.x types
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/__tests__/UIClient.test.ts
  ui/web/src/types/index.ts
Due: none

feat(ocpp2): auto-update auth cache on TransactionEventResponse (C10.FR.01/04/05, C12.FR.06)
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/auth/index.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-CacheUpdate.test.ts
Due: prettier --cache --write, eslint --cache --fix

style(webui): fix import ordering in UIClient.ts
  ui/web/src/composables/UIClient.ts
Due: none

chore: remove tsbuildinfo and add to gitignore
  .gitignore
  ui/web/tsconfig.tsbuildinfo
Due: none

feat(ocpp2): check MasterPassGroupId in start transaction (C12.FR.09)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy-DisablePostAuthorize.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(webui): address PR review comments
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/composables/UIClient.ts
Due: none

feat(ocpp2): add groupId-based stop transaction authorization (C01.FR.03, C09.FR.03/07)
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  src/types/ConnectorStatus.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: move tsbuildinfo gitignore to ui/web subdirectory
  .gitignore
  ui/web/.gitignore
Due: none

ci(webui): add TypeScript type checking to CI
  .github/workflows/ci.yml
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

fix(ocpp2): address PR review findings
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-MasterPass.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(webui): fix vue-tsc typecheck and improve Vue.js best practices
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/types/JsonType.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
