Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "{src,test}/**/*.ts": ["prettier --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "**/*.{js,mjs}": ["prettier --write", "eslint --cache --fix"]
}

Strict boolean checks
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --write, eslint --cache --fix

Strict boolean checks
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --write, eslint --cache --fix

Move ts-node configurations to tsconfig.json
  package.json
  src/charging-station/SharedLRUCache.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

Apply dependencies update
  .eslintrc.json
  .github/workflows/ci.yml
  build-requirements.js
  package-lock.json
  package.json
  prepare.js
  src/ui/web/package-lock.json
  src/ui/web/package.json
  test/robohydra/plugins/wsServer/index.js
Due: prettier --write, eslint --cache --fix

Properly separate eslint run between UI and main code
  .eslintignore
Due: none

Apply dependencies security update
  package-lock.json
Due: prettier --write

Apply dependencies update
  package-lock.json
  package.json
  src/ui/web/package-lock.json
  src/ui/web/package.json
Due: prettier --write

Switch from nyc to c8
  package-lock.json
  package.json
Due: prettier --write

GH action cleanup
  .github/workflows/ci.yml
Due: prettier --write

Cleanup GitHub actions
  .github/workflows/ci.yml
Due: prettier --write

Version 1.1.85
  CHANGELOG.md
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Silence sonar cleanups
  src/charging-station/ocpp/OCPPResponseService.ts
  src/ui/web/src/App.vue
Due: prettier --write, eslint --cache --fix

Sonar cleanup
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --write, eslint --cache --fix

Refine lint-staged configuration
  .lintstagedrc.json
Due: prettier --write

Apply dependencies update
  package-lock.json
  package.json
Due: prettier --write

Fix random integer generator
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Fix random number generators input checks
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Remove now unneeded istanbul rollup plugin
  package-lock.json
  package.json
  rollup.config.mjs
Due: prettier --write, eslint --cache --fix

Add node stable version to CI build
  .github/workflows/ci.yml
Due: prettier --write

Implement an optimized (20x) version of isEmptyObject()
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Add Utils unit tests
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Add vscode configuration for unit tests
  .vscode/extensions.json
  .vscode/settings.json
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Cleanups
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Refine sonar-project.properties
  sonar-project.properties
Due: none

Fix UUID validation regexp
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Add more tests for UUID validation
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Ensure the UUID generator define a value
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Initial web ui integration in sonar
  .github/workflows/ci.yml
  ui/web/sonar-project.properties
Due: prettier --write

Fix web ui sonar CI action
  .github/workflows/ci.yml
Due: prettier --write

Disable web ui sonar CI action
  .github/workflows/ci.yml
Due: prettier --write

Improve Utils unit tests
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Fix isEmptyArray() logic
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Use release-it plugin to bump version in sonar-project.properties
  .release-it.json
  package-lock.json
  package.json
  src/scripts/updateSonarProps.sh
Due: prettier --write

Version 1.1.86
  CHANGELOG.md
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Improve random number generators unit tests
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Add unit test for isUndefined()
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix
