Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

build: cleanup husky configuration
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
Due: none

build(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

build: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix: register worker error callback once
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build: refine vscode settings
  .vscode/settings.json
  ui/web/.vscode/settings.json
Due: prettier --cache --write

fix: allow start charging on a reservation
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/utils/StatisticUtils.ts
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

fix: reset 'Reserved' connector status if transaction is rejected
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/scripts/deleteChargingStations.cjs
  src/scripts/setCSPublicFlag.cjs
Due: prettier --cache --write, eslint --cache --fix

fix: send preparing connector status before `StartTransaction`
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.3.2
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

build(deps-dev): remove unneeded @types/tar dep
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: restore connector status reserved only if needed
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build: bump packageManager pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

refactor: silence typing errors
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore: switch to pnpm 9.x.x
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

build: bump volta pnpm version
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

build: bump volta pnpm release
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(deps): apply updates
  pnpm-lock.yaml
  ui/web/.vscode/settings.json
  ui/web/package.json
Due: prettier --cache --write

build: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix: avoid duplicated slash in connection url
  build-requirements.js
  package.json
  src/charging-station/ChargingStation.ts
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
