Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix(auth): address cross-validated audit findings (C1-C3, M1-M6, minor fixes)
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(auth): use sleep() utility instead of raw Promise setTimeout
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): auth cache spec compliance (R0–R17) (#1699)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/interfaces/OCPPAuthService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/types/AuthTypes.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  src/charging-station/ocpp/auth/utils/AuthValidators.ts
  src/charging-station/ocpp/auth/utils/ConfigValidator.ts
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
  tests/charging-station/ocpp/auth/utils/AuthValidators.test.ts
  tests/helpers/OCPPAuthIntegrationTest.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

chore: lock file maintenance
  pnpm-lock.yaml
Due: prettier --cache --write

fix(charging-station): audit fixes — error handling, OCPP conformance, DRY, type safety
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ConfigurationKeyUtils.ts
  src/charging-station/Helpers.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/charging-station/ui-server/UIServerSecurity.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
Due: prettier --cache --write, eslint --cache --fix

fix(performance-storage): make MikroORM integration work
  mikro-orm.config-template.ts
  src/performance/storage/MikroOrmStorage.ts
  src/types/orm/entities/PerformanceRecord.ts
Due: prettier --cache --write, eslint --cache --fix

fix(performance-storage): address PR review feedback
  src/performance/storage/MikroOrmStorage.ts
Due: prettier --cache --write, eslint --cache --fix

test(performance-storage): add unit tests for MikroOrmStorage
  src/types/orm/entities/PerformanceRecord.ts
  tests/performance/storage/MikroOrmStorage.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): harmonize MikroOrmStorage tests with project conventions
  tests/performance/storage/MikroOrmStorage.test.ts
Due: none

refactor(performance-storage): migrate from @mikro-orm/sqlite to @mikro-orm/better-sqlite
  mikro-orm.config-template.ts
  package.json
  pnpm-lock.yaml
  src/performance/storage/MikroOrmStorage.ts
Due: prettier --cache --write, eslint --cache --fix

test(performance-storage): add integration tests for MikroOrmStorage
  tests/performance/storage/MikroOrmStorage.test.ts
Due: none

fix(performance-storage): use caret version for @mikro-orm/better-sqlite and fix test JSDoc order
  package.json
  pnpm-lock.yaml
  tests/performance/storage/MikroOrmStorage.test.ts
Due: prettier --cache --write

refactor(performance-storage): extract ensureDBDirectory into Storage base class and audit fixes
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/Storage.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(performance-storage): factorize serialization into base class and fix MongoDBStorage
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/performance/storage/Storage.ts
  tests/performance/storage/MongoDBStorage.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(performance-storage): harmonize storage implementations
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/None.ts
  src/performance/storage/Storage.ts
  src/performance/storage/StorageFactory.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): extract buildTestStatistics into shared StorageTestHelpers
  tests/performance/storage/MikroOrmStorage.test.ts
  tests/performance/storage/MongoDBStorage.test.ts
  tests/performance/storage/StorageTestHelpers.ts
Due: none

fix(lint): remove unnecessary optional chain after StorageFactory return type fix
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

fix(performance-storage): make MikroORM integration work (#1701)
  mikro-orm.config-template.ts
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/performance/storage/None.ts
  src/performance/storage/Storage.ts
  src/performance/storage/StorageFactory.ts
  src/types/orm/entities/PerformanceRecord.ts
  tests/performance/storage/MikroOrmStorage.test.ts
  tests/performance/storage/MongoDBStorage.test.ts
  tests/performance/storage/StorageTestHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(utils): audit fixes — dedup, data-driven config, lazy logger, DRY
  src/charging-station/ChargingStation.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/ocpp/auth/cache/InMemoryAuthCache.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/ConfigValidator.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationUtils.ts
  src/utils/FileUtils.ts
  src/utils/Logger.ts
  src/utils/MessageChannelUtils.ts
  src/utils/Utils.ts
  tests/utils/ConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(utils): audit — overhaul existing, add 3 new test files, data-driven coverage
  tests/utils/AsyncLock.test.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
  tests/utils/Configuration.test.ts
  tests/utils/ConfigurationUtils.test.ts
  tests/utils/ElectricUtils.test.ts
  tests/utils/ErrorUtils.test.ts
  tests/utils/FileUtils.test.ts
  tests/utils/MessageChannelUtils.test.ts
  tests/utils/Utils.test.ts
Due: none

refactor(tests): named cosPhi constants, accurate mock call types, remove cast workarounds
  tests/helpers/TestLifecycleHelpers.ts
  tests/utils/ElectricUtils.test.ts
  tests/utils/ErrorUtils.test.ts
Due: none

fix: correct @mikro-orm/sqlite import to @mikro-orm/better-sqlite, format ElectricUtils tests
  mikro-orm.config.ts
  tests/utils/ElectricUtils.test.ts
Due: none

fix: remove accidentally committed mikro-orm.config.ts (gitignored local config)
  mikro-orm.config.ts
Due: none

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1691)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: sync serena project configuration
  .serena/project.yml
Due: prettier --cache --write

fix: migrate JSR dependency from legacy npm:@jsr/ to native jsr: protocol
  .npmrc
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

test(ocpp16): add testable interface layer and test utilities
  src/charging-station/ocpp/1.6/__testable__/index.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp16): add integration tests for transactions, charging profiles, configuration, and reservations
  tests/charging-station/ocpp/1.6/OCPP16Integration-ChargingProfiles.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Reservations.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
Due: none

test(ocpp16): add constants and service utils tests
  tests/charging-station/ocpp/1.6/OCPP16Constants.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
Due: none

test(ocpp16): add incoming request service tests
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reservation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SmartCharging.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestService-Payloads.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-BootAuth.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16SchemaValidation.test.ts
Due: none

fix(ocpp): break circular dependency in OCPPServiceUtils via dynamic imports
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp16): migrate 21 OCPP 1.6 test files from @std/expect to node:assert/strict
  tests/charging-station/ocpp/1.6/OCPP16Constants.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reservation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SmartCharging.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-ChargingProfiles.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Reservations.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestService-Payloads.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-BootAuth.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16SchemaValidation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
Due: none

test(ocpp16): fix lint errors, type safety, and spec traceability across all test files
  tests/charging-station/ocpp/1.6/OCPP16Constants.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reservation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SmartCharging.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-ChargingProfiles.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Configuration.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Reservations.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16RequestService-Payloads.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-BootAuth.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16SchemaValidation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
Due: none

chore: update lockfile after removing @std/expect dependency
  pnpm-lock.yaml
Due: prettier --cache --write

test(ocpp16): eliminate as-unknown-as casts and add missing AAA comments
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Reservation.test.ts
  tests/charging-station/ocpp/1.6/OCPP16Integration-Reservations.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-BootAuth.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ResponseService-Transactions.test.ts
  tests/charging-station/ocpp/1.6/OCPP16ServiceUtils.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
Due: none

docs: update test style guide and config to reflect node:assert/strict migration
  openspec/config.yaml
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
Due: prettier --cache --write

fix(test): use real enum value instead of as-any cast in AuthHelpers.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
