Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
  "{src,test}/**/*.{ts,tsx}": ["prettier --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --write", "eslint --cache --fix"]
}

Refine .gitignore to handle several CF manifest files
  .gitignore
Due: none

Remove unneeded type check in isEmptyObject().
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Check for null or undefined in isEmptyObject()
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Fixlet to isEmptyObject()
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Apply dependencies update
  package-lock.json
  package.json
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write

Add UTs debugging configuration
  .vscode/launch.json
  .vscode/settings.json
  package.json
Due: prettier --write

Remove now uneeded vscode configuration
  .vscode/launch.json
  .vscode/tasks.json
Due: prettier --write

Cleanup npm scripts
  .vscode/launch.json
  package.json
Due: prettier --write

Bump rollup to 3.2.4
  package-lock.json
  package.json
Due: prettier --write

Add unit tests for more Utils. helpers
  src/utils/Utils.ts
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Improve Utils unit tests
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Dockerfile: optimization
  docker/Dockerfile
  docker/docker-compose.yml
Due: prettier --write

docker: ensure argument have a default value
  docker/Dockerfile
Due: none

Enlarge the CF app disk size to permit logging for a while
  manifest-cf-template.yml
Due: prettier --write

Reduce CF disk image size to the supported maximum
  manifest-cf-template.yml
Due: prettier --write

Add trigger message type feature flag in charging station template
  README.md
  src/assets/station-templates/chargex.station-template.json
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/types/ChargingStationTemplate.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/Requests.ts
  ui/web/src/types/ChargingStationType.ts
Due: prettier --write, eslint --cache --fix

Fix connector Id validation in TriggerMessage handling
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --write, eslint --cache --fix

Apply dependencies update
  package-lock.json
  package.json
Due: prettier --write

Refine connector id validation error message
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --write, eslint --cache --fix

Optimize convertToInt() helper
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Small improvements to Utils UTs
  test/utils/UtilsTest.ts
Due: prettier --write, eslint --cache --fix

Version 1.1.87
  CHANGELOG.md
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Apply dependencies update
  package-lock.json
  package.json
  ui/web/package-lock.json
Due: prettier --write

Switch CI actions to current node.js LTS
  .github/workflows/ci.yml
Due: prettier --write

Small integer parsing optimization
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --write, eslint --cache --fix

Add OCPP DataTransfer request support
  README.md
  src/assets/json-schemas/ocpp/1.6/DataTransfer.json
  src/assets/json-schemas/ocpp/1.6/DataTransferResponse.json
  src/charging-station/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/1.6/Responses.ts
  src/types/ocpp/Requests.ts
  src/types/ocpp/Responses.ts
Due: prettier --write, eslint --cache --fix

Update Insomnia UI REST API requests collection
  src/assets/ui-protocol/Insomnia_CSSimulatorUIProtocol.json
Due: prettier --write

README.md: Fix UI protocol documentation
  README.md
Due: prettier --write

Add DataTransfer support for incoming request
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/types/ocpp/1.6/Requests.ts
  src/utils/Constants.ts
Due: prettier --write, eslint --cache --fix

Type definitions cleanup
  src/types/WorkerBroadcastChannel.ts
  ui/web/src/types/UIProtocol.ts
Due: prettier --write, eslint --cache --fix

README.md: refine description
  README.md
Due: prettier --write
