Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix: replace c8 with native Node.js test coverage
  .c8rc.json
  .github/workflows/ci.yml
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

fix: create coverage directory before generating report
  package.json
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1679)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

test: report coverage only in test:coverage script
  package.json
Due: prettier --cache --write

refactor(ocpp): move ClearCache handler to OCPP 1.6 service
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp): add cleanup for certificate manager tests
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
Due: none

ci: skip simulator tests on Windows
  .github/workflows/ci.yml
Due: prettier --cache --write

test(ocpp2): skip OCPP20CertificateManager tests on Windows
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
Due: none

ci: re-enable tests on Windows
  .github/workflows/ci.yml
Due: prettier --cache --write

test(ocpp2): skip SignCertificate tests on Windows (generateKeyPairSync hangs)
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
Due: none

test(ocpp2): skip only SetVariables on Windows (identified via CI logs)
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
Due: none

test(ocpp2): dichotomous search - skip Reset test instead of SetVariables
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
Due: none

fix(test): use fake timers to prevent Reset test hangs on Windows
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
Due: none

refactor(test): remove unnecessary comments from Reset tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
Due: none

fix(ocpp2): check all idle conditions for OnIdle Reset per Errata 2.14
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): remove duplicate EVSE transaction check, use helper
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: extract EVSE/reservation helpers, reduce duplication
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/index.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/Helpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(charging-station): add lifecycle prototype test to validate mocking strategy
  tests/charging-station/ChargingStation.test.ts
Due: none

test(charging-station): add lifecycle and connector/EVSE state tests (Wave 2)
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ChargingStationTestConstants.ts
  tests/charging-station/ChargingStationTestUtils.ts
Due: none

test(charging-station): complete Wave 2 - boot notification and configuration tests
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ChargingStationTestUtils.ts
Due: none

fix(tests): add missing getEvseStatus method and harmonize mock factory types
  eslint.config.js
  tests/ChargingStationFactory.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): align mock delete/stop signatures with async ChargingStation interface
  tests/charging-station/ChargingStationTestUtils.ts
Due: none

refactor(tests): rename createRealChargingStation to createMockChargingStation
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ChargingStationTestUtils.ts
Due: none

test(charging-station): add Transaction Management tests
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ChargingStationTestUtils.ts
Due: none

test(charging-station): add WebSocket Message Handling tests
  tests/charging-station/ChargingStation.test.ts
Due: none

test(charging-station): add Heartbeat/Ping and Error Recovery tests
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ChargingStationTestUtils.ts
Due: none

docs(tests): comprehensive OCPP spec requirements reference (105 FR IDs)
  tests/charging-station/OCPPSpecRequirements.md
Due: prettier --cache --write

test(charging-station): fix template literal lint errors in buffer tests
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ChargingStationTestUtils.ts
Due: none

test(charging-station): add message buffering, reservation tests and OCPP spec reference
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ChargingStationTestUtils.ts
  tests/charging-station/OCPPSpecRequirements.md
Due: prettier --cache --write

test(ocpp): add E03 IdToken-First pre-authorization transaction tests
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-IdTokenFirst.test.ts
Due: none

test(utils): add exponentialDelay backoff algorithm tests
  tests/utils/Utils.test.ts
Due: none

test(ocpp): add B02/B03 boot notification behavior and E02 Cable-First transaction tests
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-CableFirst.test.ts
Due: none

refactor(tests): add mock factories to eliminate test duplication
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-CableFirst.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-IdTokenFirst.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
Due: none

docs(tests): document timer mock pattern for test reuse
  tests/utils/Utils.test.ts
  ui/web/tests/unit/CSTable.test.ts
Due: none

refactor(tests): standardize test naming to BDD style
  tests/charging-station/ConfigurationKeyUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
