Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

build(ci): fix linting
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/shims-vue.d.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup type casting
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup null checks and helpers
  src/charging-station/ChargingStationConfigurationUtils.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: add type parameter to OCPP stack for request and response
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(ui): switch to named export
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor: syntax check in worker configuration section
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

feat: add configuration cache
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup configuration namespace
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix configuration section caching
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/performance/PerformanceStatistics.ts
  src/types/ConfigurationData.ts
  src/types/index.ts
  src/utils/Configuration.ts
  src/utils/Logger.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: order configuration class methods
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure configuration section cache is always initialized
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: improve configuration section typing
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix inscoped this in configuration class
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build: update volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

refactor: move code into try catch block
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure reservation expiration internal is > 0
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup configuration class usage
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/performance/PerformanceStatistics.ts
  src/utils/Logger.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(simulator): switch to strict type checking
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/charging-station/ui-server/ui-services/UIService001.ts
  src/utils/Configuration.ts
  src/utils/Logger.ts
  src/utils/Utils.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerSet.ts
  tsconfig-base.json
Due: prettier --cache --write, eslint --cache --fix

refactor: factor out OCPP params handling helpers
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationConfigurationUtils.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/index.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

docs: improve code comments
  src/charging-station/ocpp/OCPPConstants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup default worker options handling
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerDynamicPool.ts
  src/worker/WorkerFactory.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerStaticPool.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

chore: version 1.2.18
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

fix: fix ATG startup
  package.json
  src/charging-station/AutomaticTransactionGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix 'Cannot read properties of undefined' with revervation enabled
  src/assets/station-templates/schneider-evses.station-template.json
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorker.ts
  src/types/ChargingStationWorker.ts
  src/utils/MessageChannelUtils.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

fix: do not use async callback with setInterval()
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.2.19
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

refactor: cleanup CF manifest template
  manifest-cf-template.yml
Due: prettier --cache --write

build(deps): apply udpates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  ui/web/index.html
  ui/web/package.json
  ui/web/pnpm-lock.yaml
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/types/UIProtocol.ts
  ui/web/vitest.config.ts
Due: prettier --cache --write

refactor: remove now uneeded sanity check at worker message handling
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

feat: add error handling to worker set worker
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStationWorker.ts
  src/worker/WorkerConstants.ts
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

feat: strict message event checking in worker set mode
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStationWorker.ts
Due: prettier --cache --write, eslint --cache --fix

feat: add worker set events
  src/worker/WorkerSet.ts
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix
