Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(ocpp20): implement NotifyCustomerInformation pagination and N09.FR.09 validation
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
Due: none

feat(ocpp20): add X.509 certificate validation per A02.FR.06 and M05
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateTestData.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp20): implement UpdateFirmware lifecycle with status notifications per L01/L02
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: none

feat(ocpp20): generate real PKCS#10 CSR with node:crypto per A02.FR.02
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ocpp20): add firmware signature check, transaction blocking, cancellation
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(ocpp20): document OCSP limitation + enforce MaxCertificateChainSize
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
Due: prettier --cache --write, eslint --cache --fix

style(ocpp20): fix all lint errors and warnings
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetNetworkProfile.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): address PR review findings — enum fix, per-station cache, cancellation status
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/ocpp/2.0/Common.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(ocpp20): document simulator limitations for SetNetworkProfile and X.509 validation
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): extract ASN.1 DER utilities to dedicated module
  src/charging-station/ocpp/2.0/Asn1DerUtils.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  tests/charging-station/ocpp/2.0/Asn1DerUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): scope invalidVariables per-station in VariableManager singleton
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): improve test hygiene — extract flushMicrotasks, remove dead code, strengthen spy coverage
  tests/charging-station/ocpp/2.0/Asn1DerUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: none

fix(ocpp20): replace silent hashId fallback with fail-fast guard in VariableManager
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): align B09.FR.02 reasonCode to errata 2025-09 InvalidNetworkConf
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/ocpp/2.0/Common.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetNetworkProfile.test.ts
Due: prettier --cache --write, eslint --cache --fix

style(ocpp20): normalize spec ref format in additionalInfo to parentheses style
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): use request hashAlgorithm in M04.FR.06 guard for algorithm-independent certificate matching
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

style(ocpp20): harmonize message content — sentence case, consistent punctuation, no em-dash
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): unify .catch() log level to logger.error for all fire-and-forget notifications
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): remove noisy per-call OCSP stub warning — limitation already documented in JSDoc
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): rename invalidVariablesPerStation to invalidVariables for naming consistency
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): remediate all OCPP 2.0.1 audit findings (#1726)
  src/charging-station/ocpp/2.0/Asn1DerUtils.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
  src/types/ocpp/2.0/Common.ts
  tests/charging-station/ocpp/2.0/Asn1DerUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateTestData.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetNetworkProfile.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: prettier --cache --write, eslint --cache --fix

docs: update README OCPP 2.0.x section with post-audit implementation details
  README.md
Due: prettier --cache --write

fix(ocpp20): add missing JSDoc @param description for hashAlgorithm in getInstalledCertificates
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp16): harmonize error logging — log silent catches, demote business violations to warn
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): ocpp 2.0.1 conformance audit — 17 findings remediated
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/MeterValues.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Variables.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs: fix README OCPP 2.0.x notes with spec-verified FR references
  README.md
Due: prettier --cache --write

refactor(ocpp20): isolate per-station state with WeakMap instead of singleton properties
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): isolate VariableManager overrides per station
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20VariableManager.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): clean up VariableManager mappings cache on station stop
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: clear OCPPAuthServiceFactory cached instance on station delete
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp16): fix StopTransaction unit schema and ChargingSchedule field name
  src/assets/json-schemas/ocpp/1.6/StopTransaction.json
  src/types/ocpp/1.6/ChargingProfile.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp16): ocpp 1.6 conformance audit — 8 findings remediated
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPConstants.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-SimpleHandlers.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp16): track diagnosticsStatus and extract composite schedule helper
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/types/ChargingStationInfo.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): remediate 4 conformance findings from cross-audit
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): implement proper M04.FR.06 guard via isChargingStationCertificateHash
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

style(ocpp20): condense B09.FR.31 comment to single line per codebase convention
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): remove stale optional chaining on now-required variableAttribute
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
Due: none

chore(ocpp-server): migrate pyproject.toml to PEP 621 project metadata
  tests/ocpp-server/poetry.lock
  tests/ocpp-server/pyproject.toml
Due: none

refactor(ocpp-server): deduplicate outgoing commands, harden timer, expand test coverage
  tests/ocpp-server/server.py
  tests/ocpp-server/test_server.py
  tests/ocpp-server/test_timer.py
  tests/ocpp-server/timer.py
Due: none

refactor(ocpp-server): parametrize failure-path tests to eliminate duplication
  tests/ocpp-server/test_server.py
Due: none
