Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor(tests): consolidate mock station creation utilities
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.test.ts
Due: none

refactor(tests): reduce eslint-disable comments with proper typing
  tests/ChargingStationFactory.test.ts
  tests/ChargingStationFactory.ts
  tests/charging-station/ConfigurationKeyUtils.test.ts
Due: none

fix(tests): ensure proper test isolation and cleanup
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.test.ts
Due: none

fix(tests): move ocppVersion inside stationInfo in auth mock factory
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
Due: none

refactor(tests): consolidate duplicate test constants
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Offline.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Periodic.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestConstants.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

docs(tests): add test style guide
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): use testable interfaces in OCPP 2.0 tests (Wave 2)
  src/charging-station/ocpp/2.0/__testable__/OCPP20RequestServiceTestable.ts
  src/charging-station/ocpp/2.0/__testable__/OCPP20VariableManagerTestable.ts
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): make auth integration tests deterministic
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
Due: none

fix(tests): add afterEach cleanup to RemoteStartAuth test
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
Due: none

refactor(tests): split ChargingStation.test.ts into domain files
  tests/charging-station/ChargingStation-Configuration.test.ts
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/ChargingStation.test.ts
Due: none

refactor(tests): modularize ChargingStationTestUtils
  tests/charging-station/ChargingStationTestUtils.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/mocks/MockCaches.ts
  tests/charging-station/mocks/MockWebSocket.ts
Due: none

chore(tests): auto-fix lint errors (sorting and unused imports)
  tests/charging-station/ChargingStationTestUtils.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
Due: none

chore(tests): remove unused imports and variables
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
Due: none

fix(tests): remove non-null assertions in InstallCertificate test
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
Due: none

fix(tests): bind method reference in ClearCache test
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
Due: none

fix(tests): achieve zero lint errors
  eslint.config.js
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(tests): fix Windows CI failures - type import and test assertion
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
Due: none

fix(tests): fix Windows CI failures - separate value imports from type imports
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
Due: none

fix(tests): fix Windows CI - separate type vs value imports correctly
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
Due: none

fix(tests): fix wrong constant name imports in GetVariables and SetVariables tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
Due: none

test: improve test suite quality and add lifecycle helpers
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ChargingStationTestUtils.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter-Offline.test.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write

test: harmonize test names and add mock factories
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerSecurity.test.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
  tests/exception/BaseError.test.ts
  tests/exception/OCPPError.test.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/types/ConfigurationData.test.ts
  tests/utils/AsyncLock.test.ts
  tests/utils/ConfigurationUtils.test.ts
  tests/utils/ElectricUtils.test.ts
  tests/utils/ErrorUtils.test.ts
  tests/utils/StatisticUtils.test.ts
  tests/utils/Utils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: none

test: add afterEach cleanup to all test files
  tests/ChargingStationFactory.test.ts
  tests/charging-station/ConfigurationKeyUtils.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/auth/types/AuthTypes.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
  tests/charging-station/ocpp/auth/utils/AuthValidators.test.ts
  tests/charging-station/ocpp/auth/utils/ConfigValidator.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/charging-station/ui-server/UIServerSecurity.test.ts
  tests/charging-station/ui-server/UIWebSocketServer.test.ts
  tests/charging-station/ui-server/ui-services/AbstractUIService.test.ts
  tests/exception/BaseError.test.ts
  tests/exception/OCPPError.test.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/types/ConfigurationData.test.ts
  tests/utils/AsyncLock.test.ts
  tests/utils/ElectricUtils.test.ts
  tests/utils/StatisticUtils.test.ts
Due: none

refactor(tests): add testable interface to eliminate eslint-disable comments
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: none

refactor(tests): improve test isolation and remove dead code
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ChargingStationTestUtils.ts
  tests/charging-station/helpers/StationHelpers.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-BootNotification.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-ISO15118.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-SignCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-StatusNotification.test.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: prettier --cache --write

refactor(tests): remove file-level eslint-disable and fix as any casts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
Due: none

docs: reference TEST_STYLE_GUIDE.md in AI agent instructions
  .github/copilot-instructions.md
Due: prettier --cache --write

docs(tests): enhance TEST_STYLE_GUIDE with async patterns and best practices
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

refactor(tests): remove eslint-disable and fix type safety issues
  tests/charging-station/Helpers.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Offline.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Periodic.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: none

refactor(tests): add shared test helpers and fixtures for DRY compliance
  tests/charging-station/ChargingStation-Configuration.test.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-CableFirst.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-IdTokenFirst.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Offline.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Periodic.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/auth/helpers/MockFactories.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/helpers/TestLifecycleHelpers.ts
  tests/utils/Utils.test.ts
  tests/worker/WorkerUtils.test.ts
Due: none

fix(test-isolation): move mock creation to beforeEach in CableFirst test
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-CableFirst.test.ts
Due: none

fix(test-isolation): move mock instances to beforeEach in OCPP 2.0 tests
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CertificateSigned.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ClearCache.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-IdTokenFirst.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

fix(test-type-safety): remove unsafe type casts and add factory helper
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-DeleteCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetInstalledCertificateIds.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-InstallCertificate.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter-Offline.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
  tests/charging-station/ocpp/auth/utils/AuthValidators.test.ts
Due: prettier --cache --write

refactor(tests): harmonize test suite structure and eliminate duplication
  tests/charging-station/ChargingStation-Configuration.test.ts
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-Reset.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-CableFirst.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-IdTokenFirst.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Offline.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent-Periodic.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter-Offline.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/utils/Utils.test.ts
Due: none

fix(test-isolation): replace mock.reset() with mock.restoreAll() in auth tests
  tests/TEST_STYLE_GUIDE.md
  tests/charging-station/ocpp/auth/OCPPAuthIntegration.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/LocalAuthStrategy.test.ts
  tests/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.test.ts
Due: prettier --cache --write

refactor(tests): move mock creation from it() to beforeEach()
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
Due: none

fix(test-isolation): make OCPP20VariableManager tests self-contained
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

refactor(tests): standardize cleanup and strict equality
  tests/charging-station/ChargingStation-Configuration.test.ts
  tests/charging-station/ChargingStation-Connectors.test.ts
  tests/charging-station/ChargingStation-Lifecycle.test.ts
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/ChargingStation-Transactions.test.ts
  tests/charging-station/ChargingStation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20CertificateManager.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-SetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-HeartBeat.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-NotifyReport.test.ts
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/charging-station/ocpp/auth/factories/AuthComponentFactory.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.test.ts
  tests/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.test.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
  tests/charging-station/ui-server/UIHttpServer.test.ts
  tests/utils/Utils.test.ts
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
