Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

test: move truncateId tests from InMemoryAuthCache to Utils
  tests/charging-station/ocpp/auth/cache/InMemoryAuthCache.test.ts
  tests/utils/Utils.test.ts
Due: none

fix: prevent tests from polluting production log files
  package.json
  src/utils/Logger.ts
Due: prettier --cache --write, eslint --cache --fix

fix: preserve EVSE and connector IDs in configuration persistence
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/types/ChargingStationConfiguration.ts
  src/utils/ChargingStationConfigurationUtils.ts
  tests/utils/ChargingStationConfigurationUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix: use truncateId consistently for all user identifiers in logs
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/auth/adapters/OCPP16AuthAdapter.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ocpp/auth/utils/AuthHelpers.ts
  tests/charging-station/ocpp/auth/utils/AuthHelpers.test.ts
Due: prettier --cache --write, eslint --cache --fix

feat(ui): add OCPP version column to charging stations table
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

feat(ui): apply Tokyo Night Storm theme with semantic CSS tokens
  ui/web/src/App.vue
  ui/web/src/assets/theme.css
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

feat(ui): add configurable theme support
  ui/web/src/assets/config-template.json
  ui/web/src/assets/themes/tokyo-night-storm.css
  ui/web/src/main.ts
  ui/web/src/types/ConfigurationType.ts
Due: prettier --cache --write

fix(ui): remove redundant text color selectors that override toast styles
  ui/web/src/assets/themes/tokyo-night-storm.css
Due: none

feat(ui): add Catppuccin Latte light theme
  ui/web/src/assets/themes/catppuccin-latte.css
Due: none

docs(ui): document theme configuration and available themes
  ui/web/README.md
Due: prettier --cache --write

fix(ui): use theme text color on toggle pressed state for readability
  ui/web/src/components/buttons/ToggleButton.vue
Due: none

feat(ui): add SAP Horizon theme from official theming-base-content
  ui/web/README.md
  ui/web/src/assets/themes/sap-horizon.css
Due: prettier --cache --write

fix(ocpp2): handle transaction lifecycle in TransactionEvent response
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

test(webui): add test infrastructure and setup
  ui/web/tests/setup.ts
  ui/web/tests/unit/constants.ts
  ui/web/tests/unit/helpers.ts
  ui/web/vitest.config.ts
Due: none

test(webui): add Utils composable tests
  ui/web/tests/unit/Utils.test.ts
Due: none

test(webui): refactor and expand UIClient tests
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/helpers.ts
Due: none

test(webui): add action modal component tests
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/CSTable.test.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
  ui/web/tests/unit/SimpleComponents.test.ts
  ui/web/tests/unit/StartTransaction.test.ts
  ui/web/tests/unit/ToggleButton.test.ts
Due: none

test(webui): finalize coverage and verify quality gates
  ui/web/vitest.config.ts
Due: none

test(webui): fix JSDoc warnings in mount factory functions
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/CSTable.test.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
  ui/web/tests/unit/StartTransaction.test.ts
Due: none

test(webui): add ChargingStationsView tests
  ui/web/tests/unit/ChargingStationsView.test.ts
Due: none

test(webui): add missing coverage for timeout, server switching, authorize errors, WS states
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/StartTransaction.test.ts
  ui/web/tests/unit/UIClient.test.ts
Due: none

test(webui): harmonize test infrastructure — extract ButtonStub, unify toast mock, DRY error tests
  ui/web/tests/setup.ts
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
  ui/web/tests/unit/SimpleComponents.test.ts
  ui/web/tests/unit/StartTransaction.test.ts
  ui/web/tests/unit/helpers.ts
Due: none

test(webui): raise coverage thresholds to match achieved 93%/91%/85%/93%
  ui/web/vitest.config.ts
Due: none

test(webui): address PR review — unify mock cleanup, improve MockWebSocket fidelity, fix types
  ui/web/tests/setup.ts
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/helpers.ts
Due: none

test(webui): adapt tests for new OCPP Version column
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/CSTable.test.ts
Due: none

test(webui): remove MockWebSocket auto-open, robustify component lookups, add open assertion
  ui/web/tests/unit/CSTable.test.ts
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/helpers.ts
Due: none

test(webui): init MockWebSocket readyState to CONNECTING per WebSocket spec
  ui/web/tests/unit/helpers.ts
Due: none

fix(webui): use window.localStorage for Node 22+ jsdom compatibility
  ui/web/tests/setup.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/ToggleButton.test.ts
  ui/web/tests/unit/Utils.test.ts
Due: none

fix(webui): disable Node 25+ native webstorage to prevent jsdom localStorage conflict
  ui/web/tests/setup.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/ToggleButton.test.ts
  ui/web/tests/unit/Utils.test.ts
  ui/web/vitest.config.ts
Due: none

fix(ocpp2): audit TransactionEvent — state ownership, deauthorization, meter values
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/auth/adapters/OCPP20AuthAdapter.ts
  src/types/ConnectorStatus.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GroupIdStop.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ResponseService-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp2): harmonize and condense audit comments to match existing FR style
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/types/ConnectorStatus.ts
Due: prettier --cache --write, eslint --cache --fix

test(webui): await router.isReady() in App mount test
  ui/web/tests/unit/SimpleComponents.test.ts
Due: none

test(webui): add comprehensive unit test suite (#1738)
  ui/web/tests/setup.ts
  ui/web/tests/unit/AddChargingStations.test.ts
  ui/web/tests/unit/CSConnector.test.ts
  ui/web/tests/unit/CSData.test.ts
  ui/web/tests/unit/CSTable.test.ts
  ui/web/tests/unit/ChargingStationsView.test.ts
  ui/web/tests/unit/SetSupervisionUrl.test.ts
  ui/web/tests/unit/SimpleComponents.test.ts
  ui/web/tests/unit/StartTransaction.test.ts
  ui/web/tests/unit/ToggleButton.test.ts
  ui/web/tests/unit/UIClient.test.ts
  ui/web/tests/unit/Utils.test.ts
  ui/web/tests/unit/constants.ts
  ui/web/tests/unit/helpers.ts
  ui/web/vitest.config.ts
Due: none

test(ui): raise coverage thresholds to match current levels
  ui/web/vitest.config.ts
Due: none

test(ocpp-server): add coverage threshold (fail_under=83%)
  tests/ocpp-server/pyproject.toml
Due: none

chore(ocpp-server): add .coverage to .gitignore
  tests/ocpp-server/.gitignore
Due: none

fix(ocpp): remove type re-export from services barrel
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/index.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): keep StopTransactionRequest as 1.6 wire type, narrow reason via indexed access
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: use exception barrel instead of direct module imports
  src/charging-station/ocpp/auth/factories/AuthComponentFactory.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceFactory.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
Due: prettier --cache --write, eslint --cache --fix
