Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  src/worker/WorkerTypes.ts
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup null test
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine worker factory arguments checking
  src/worker/WorkerAbstract.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix: resolve promise on charging station events once
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  src/worker/WorkerTypes.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply udpates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

chore: version 1.2.30
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

build(ci): refine sonar configuration
  sonar-project.properties
  ui/web/sonar-project.properties
Due: none

build(ui): report coverage on console
  ui/web/vitest.config.ts
Due: none

build: refine lint-staged configuration
  .lintstagedrc.js
Due: prettier --cache --write, eslint --cache --fix

build: temporary silence linter errors
  src/charging-station/SharedLRUCache.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/utils/AsyncLock.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build: properly workaround Ajv TS type definitions bug
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup isNullOrdefined usage
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/SharedLRUCache.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup isNullOrUndefined usage
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/StatisticUtils.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove isNullOrDefined() helper
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove isUndefined() helper
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Configuration.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup eslint-disable
  src/charging-station/SharedLRUCache.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove isUndefined() leftover
  ui/web/src/composables/Utils.ts
Due: none

fix: fix random connectors auto enablement
  package.json
  pnpm-lock.yaml
  src/charging-station/Helpers.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build: use literal regexp for loopback address matching
  src/charging-station/ui-server/UIServerUtils.ts
Due: prettier --cache --write, eslint --cache --fix

build: cleanup eslint-disable in code
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix get composite schedule rejection condition
  src/charging-station/ocpp/1.6/OCPP16Constants.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/types/orm/entities/PerformanceData.ts
  src/types/orm/entities/PerformanceRecord.ts
  src/utils/Utils.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup bundling code
  bundle.js
Due: prettier --cache --write, eslint --cache --fix

refactor: code cleanup
  src/performance/PerformanceStatistics.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
