Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

fix(charging-station): add try/finally guards to lifecycle methods
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): extract named constants for hardcoded sleep/timeout values
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/auth/strategies/CertificateAuthStrategy.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): use per-subclass singleton map to prevent version collision
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): extract responseHandler and incomingRequestHandler into base classes
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: replace 54 unsafe error casts with instanceof guards
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/utils/Configuration.ts
  src/utils/FileUtils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: exclude .mypy_cache from prettier scanning
  .prettierignore
Due: none

chore: release main (#1708)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

fix(ocpp16): return Idle in TriggerMessage when not actively uploading/updating
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

chore: add .mypy_cache and .pytest_cache to root .gitignore
  .gitignore
Due: none

fix(ocpp16): reject float values for integer configuration keys per spec §5.3
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): prefix FirmwareStatusEnumType, extend FirmwareStatus union
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/__testable__/OCPP20RequestServiceTestable.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
  tests/charging-station/ocpp/2.0/OCPP20RequestService-FirmwareStatusNotification.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): prefix OperationalStatusEnumType with OCPP20
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/types/index.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/Requests.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-ChangeAvailability.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): use union types instead of stack-specific types in common tests
  tests/charging-station/ChargingStation-Resilience.test.ts
  tests/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.test.ts
  tests/charging-station/ocpp/OCPPServiceUtils-validation.test.ts
Due: none

refactor(ocpp): use union types in common code where possible
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use union types consistently in common code and tests
  tests/charging-station/ocpp/OCPPServiceUtils-validation.test.ts
Due: none

refactor(ocpp20): remove redundant lastFirmwareStatus from per-station state
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): harmonize per-station state naming
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp16): align BootNotification runtime schema maxLength with spec §6.3
  src/assets/json-schemas/ocpp/1.6/BootNotification.json
Due: prettier --cache --write

fix(charging-station): add try/finally guards to Bootstrap start/stop
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp): replace unsafe messagePayload as OCPPError casts with instanceof
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): send TransactionEvent(Started) on RequestStartTransaction (E02.FR.01)
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ocpp20): send actual MeterValues on trigger and block sessions during firmware update
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: extract ensureError and getErrorMessage helpers
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20CertificateManager.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/auth/services/OCPPAuthServiceImpl.ts
  src/charging-station/ocpp/auth/strategies/LocalAuthStrategy.ts
  src/charging-station/ocpp/auth/strategies/RemoteAuthStrategy.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIServerUtils.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/utils/Configuration.ts
  src/utils/ErrorUtils.ts
  src/utils/FileUtils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

chore: remove outdated OCPPSpecRequirements.md
  tests/charging-station/OCPPSpecRequirements.md
Due: prettier --cache --write

fix(ocpp): graceful OCPPError fallback instead of throw in buildMessageToSend
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp20): move TransactionEvent(Started) to event listener pattern
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ocpp): harmonize post-response event listener pattern across stacks
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

test(ocpp20): update RequestStopTransaction tests for event listener pattern
  src/charging-station/ocpp/2.0/__testable__/index.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(tests): split RequestStopTransaction tests into handler and listener groups
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

refactor(tests): separate handler/listener tests and remove setTimeout hacks
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: none

test: harmonize event listener test pattern across OCPP command test files
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/1.6/OCPP16TestUtils.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

fix(tests): address PR review — extract shared helper, fix mock cleanup, use flushMicrotasks
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: none

fix(tests): replace remaining await Promise.resolve() with flushMicrotasks()
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStartTransaction.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: none

fix(tests): fix 3 audit findings — JSDoc headers and missing afterEach
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20TestUtils.ts
Due: none

fix(tests): address 5 minor audit findings
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetVariables.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RemoteStartAuth.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStartTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
  tests/charging-station/ocpp/2.0/OCPP20ServiceUtils-TransactionEvent.test.ts
  tests/charging-station/ocpp/2.0/OCPP20VariableManager.test.ts
Due: none

refactor(tests): move mock.method to beforeEach and parameterize trigger tests
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-Firmware.test.ts
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-CustomerInformation.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetBaseReport.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-GetLog.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-TriggerMessage.test.ts
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-UpdateFirmware.test.ts
Due: none

style(tests): remove inconsistent separator comment in RemoteStopUnlock
  tests/charging-station/ocpp/1.6/OCPP16IncomingRequestService-RemoteStopUnlock.test.ts
Due: none

docs(tests): add summary line to startTransaction JSDoc
  tests/charging-station/ocpp/2.0/OCPP20IncomingRequestService-RequestStopTransaction.test.ts
Due: none

docs(tests): add event listener testing section to TEST_STYLE_GUIDE
  tests/TEST_STYLE_GUIDE.md
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
