Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: cleanup method namaspace
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps): add labels on dependabot PRs
  .github/dependabot.yml
Due: prettier --cache --write

build(deps): apply updates
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(ui): sync volta versions
  ui/web/package.json
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: revert internal exports
  src/performance/index.ts
  src/performance/internal.ts
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MikroOrmStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/performance/storage/StorageFactory.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: revert internal exports in exception
  src/exception/OCPPError.ts
  src/exception/index.ts
  src/exception/internal.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: revert internal exports in utils
  src/utils/Configuration.ts
  src/utils/FileUtils.ts
  src/utils/Logger.ts
  src/utils/Utils.ts
  src/utils/index.ts
  src/utils/internal.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: revert internal exports
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationConfigurationUtils.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ChargingStationWorker.ts
  src/charging-station/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/MessageChannelUtils.ts
  src/charging-station/SharedLRUCache.ts
  src/charging-station/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/index.ts
  src/charging-station/internal.ts
  src/charging-station/ocpp/1.6/OCPP16Constants.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20Constants.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/charging-station/ocpp/index.ts
  src/charging-station/ocpp/internal.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/charging-station/ui-server/ui-services/UIService001.ts
  src/charging-station/ui-server/ui-services/UIServiceFactory.ts
  src/start.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: revert internal exports
  src/charging-station/index.ts
  src/start.ts
  src/types/ChargingStationConfiguration.ts
  src/types/ChargingStationInfo.ts
  src/types/ChargingStationOcppConfiguration.ts
  src/types/ChargingStationTemplate.ts
  src/types/ChargingStationWorker.ts
  src/types/ConfigurationData.ts
  src/types/ConnectorStatus.ts
  src/types/Evse.ts
  src/types/MeasurandPerPhaseSampledValueTemplates.ts
  src/types/Statistics.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
  src/types/index.ts
  src/types/internal.ts
  src/types/ocpp/1.6/ChargingProfile.ts
  src/types/ocpp/1.6/MeterValues.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/1.6/Responses.ts
  src/types/ocpp/1.6/Transaction.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Variables.ts
  src/types/ocpp/ChargePointErrorCode.ts
  src/types/ocpp/ChargingProfile.ts
  src/types/ocpp/Configuration.ts
  src/types/ocpp/ConnectorStatusEnum.ts
  src/types/ocpp/MeterValues.ts
  src/types/ocpp/Requests.ts
  src/types/ocpp/Responses.ts
  src/types/ocpp/Transaction.ts
  src/types/orm/entities/PerformanceData.ts
  src/types/orm/entities/PerformanceRecord.ts
  src/utils/Configuration.ts
  src/utils/FileUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): add types export control
  ui/web/src/assets/config.ts
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSInfoModal.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/types/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/tests/unit/CSTable.spec.ts
Due: none

refactor(ui): order types export
  ui/web/src/types/index.ts
Due: none

build(simulator): don't preserve modules
  .vscode/settings.json
  docker/Dockerfile
  docker/start.sh
  manifest-cf-template.yml
  mikro-orm.config-template.ts
  package.json
  rollup.config.mjs
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/performance/storage/JsonFileStorage.ts
  src/utils/Configuration.ts
  src/utils/ErrorUtils.ts
  src/utils/FileUtils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

build(simulator): use module imports for performance
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/charging-station/index.ts
  src/start.ts
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

refactor(simulator): factor out common helpers
  .vscode/settings.json
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/broadcast-channel/UIServiceWorkerBroadcastChannel.ts
  src/charging-station/broadcast-channel/WorkerBroadcastChannel.ts
  src/charging-station/index.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/performance/PerformanceStatistics.ts
  src/utils/ErrorUtils.ts
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor(simulator): move configuration related helpers
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ChargingStationWorker.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(simulator): remove unused async lock class attribute
  src/utils/AsyncLock.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix overrides handling for dependencies
  package.json
  pnpm-lock.yaml
  src/charging-station/ChargingStationWorker.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build(simulator): refine pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): update overrides got version
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

docs: add OCPP 2.x.x sections
  .vscode/settings.json
  README.md
Due: prettier --cache --write

docs: fix sections level
  README.md
Due: prettier --cache --write

refactor: cleanup constants namespace
  .vscode/settings.json
  src/charging-station/ChargingStation.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: organize constants
  .vscode/settings.json
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: align constants scope syntax
  src/worker/WorkerConstants.ts
Due: prettier --cache --write, eslint --cache --fix

fix: various fixes to files handling and their content caching
  .vscode/settings.json
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationConfigurationUtils.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/performance/storage/JsonFileStorage.ts
  src/performance/storage/MongoDBStorage.ts
  src/performance/storage/Storage.ts
  src/performance/storage/StorageFactory.ts
  src/types/Error.ts
  src/utils/Configuration.ts
  src/utils/ErrorUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure no empty string as supervision url can be used at runtime
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: properly fallback to template OCPP configuration
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure the runtime ATG configuration is saved
  src/charging-station/ChargingStation.ts
  src/utils/ChargingStationConfigurationUtils.ts
  src/utils/MessageChannelUtils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: improve error logging
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: improve error log messages
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix
