Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor(ui): improve the charging stations list styles
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ReloadButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

fix: reset simulator state on stop/start cycle
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

fix(ui): ensure UI server can only be started once
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIServerFactory.ts
  ui/web/.vscode/extensions.json
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ReloadButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
Due: prettier --cache --write, eslint --cache --fix

refactor: improve error reporting in the UI server code
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

feat(ui): add charging station options to add action
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/index.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/index.ts
Due: none

build(ui): add missing file
  ui/web/src/composables/Utils.ts
Due: none

docs: refine README.md
  README.md
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

feat(ui): support more charging station options at add op
  ui/web/src/components/actions/AddChargingStations.vue
Due: none

refactor: cleanup integer conversion helper
  src/utils/Utils.ts
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine .cfignore
  .cfignore
  ui/web/.vscode/settings.json
Due: prettier --cache --write

docs(ui): update Web UI screenshot
  ui/web/README.md
  ui/web/src/assets/webui.png
Due: prettier --cache --write

docs(ui): refine ui/web/README.md wording
  ui/web/README.md
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

fix: fix supervision url handling at charging stations adding
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  ui/web/src/components/actions/AddChargingStations.vue
Due: prettier --cache --write, eslint --cache --fix

build(deps): apply updates
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix(ui): add missing style in SPA
  ui/web/src/components/actions/AddChargingStations.vue
Due: none

feat(ui): add support for multiple UI server configurations
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/main.ts
  ui/web/src/types/ConfigurationType.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): move v-show to the UI server container component
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): cleanup toast messages
  ui/web/src/composables/UIClient.ts
Due: none

fix(ui): re-render charging stations table without reloading
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(ui): cleanup variables namespace
  ui/web/src/views/ChargingStationsView.vue
Due: none

docs(ui): document multiple UI servers configuration
  ui/web/README.md
Due: prettier --cache --write

fix(ui): ensure the charging stations list re-rendered after UI server switch
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

feat(ui): allow to specificy a UI server configuration name
  ui/web/src/types/ConfigurationType.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): ensure app is initialized independently of the WS status
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): ensure templates are refreshed at UI server change
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): close add charging stations action at UI server switch
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): ensure opened actions are closed at UI server switch
  ui/web/src/views/ChargingStationsView.vue
Due: none

build(deps-dev): apply updates
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor(ui): factor out app initialization
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ReloadButton.vue
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none
