Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(deps): apply updates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build: refine sonarcloud configuration
  sonar-project.properties
  ui/web/sonar-project.properties
Due: none

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(ui): bump engines node version requirements
  ui/web/package.json
Due: prettier --cache --write

build: bump pnpm volta version
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build: use TS for rollup configuration
  package.json
  rollup.config.ts
Due: prettier --cache --write

build: fix docker image build
  .cfignore
  docker/Dockerfile
Due: none

build: rollup -> esbuild
  .cfignore
  bundle.js
  docker/Dockerfile
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/charging-station/Bootstrap.ts
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

build: fix esbuild build options
  bundle.js
Due: prettier --cache --write, eslint --cache --fix

perf: reduce bundle size by specifing external deps
  bundle.js
Due: prettier --cache --write, eslint --cache --fix

build: refine esbuild external list
  bundle.js
Due: prettier --cache --write, eslint --cache --fix

build(simulator): print to stdout building information
  bundle.js
Due: prettier --cache --write, eslint --cache --fix

test: add ElectricUtils.ts tests
  src/utils/ElectricUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test: add missing file
  tests/utils/ElectricUtils.test.ts
Due: none

build: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): remove unused deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(simulator): use node.js builtin source maps support
  docker/start.sh
  manifest-cf-template.yml
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(simulator): production build does not include source maps
  .vscode/settings.json
  docker/start.sh
  package.json
Due: prettier --cache --write

build(simulator): add script to build CF source with source maps
  package.json
Due: prettier --cache --write

fix(ui): fix startup
  ui/web/src/router/index.ts
Due: none

fix(ui): util module is not available in browser
  src/charging-station/Bootstrap.ts
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure stop transaction is sent at ATG stop
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/broadcast-channel/ChargingStationWorkerBroadcastChannel.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: change log level to debug at ATG stop
  src/charging-station/AutomaticTransactionGenerator.ts
Due: prettier --cache --write, eslint --cache --fix

perf(simulator): compile payload validation JSON schema only once
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(simulator): cleanup JSON type usage in OCPP payload validation code
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(simulator): use generic type in OCPP payload validation code
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
