Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

refactor: use micro tasks queue instead next tick one
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

chore: run ruff on python files at pre-commit
  tests/ocpp-server/.lintstagedrc.js
Due: prettier --cache --write, eslint --cache --fix

chore: fix lint-staged configuration
  ui/web/.lintstagedrc.js
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup logger export
  src/utils/Logger.ts
Due: prettier --cache --write, eslint --cache --fix

chore: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore: order poetry tasks ruff invocation
  tests/ocpp-server/pyproject.toml
Due: none

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

build: fix linter errors
  src/types/JsonType.ts
  src/utils/Utils.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/types/JsonType.ts
Due: prettier --cache --write, eslint --cache --fix

ci: add python 3.13 to version matrix
  .github/workflows/ci.yml
Due: prettier --cache --write

refactor: cleanup linter warnings
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: silence linter warnings
  scripts/bundle.js
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  tests/charging-station/Helpers.test.ts
  tests/utils/ConfigurationUtils.test.ts
  tests/utils/ErrorUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: sort imports
  scripts/bundle.js
  tests/charging-station/Helpers.test.ts
  tests/utils/ConfigurationUtils.test.ts
  tests/utils/ErrorUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
Due: prettier --cache --write

chore: fix pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --cache --write

chore: align `packageManager` pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  tests/ocpp-server/poetry.lock
  ui/web/package.json
Due: prettier --cache --write

chore: switch to @std/expect
  .npmrc
  package.json
  pnpm-lock.yaml
  tests/charging-station/Helpers.test.ts
  tests/exception/BaseError.test.ts
  tests/exception/OCPPError.test.ts
  tests/types/ConfigurationData.test.ts
  tests/utils/AsyncLock.test.ts
  tests/utils/ConfigurationUtils.test.ts
  tests/utils/ElectricUtils.test.ts
  tests/utils/ErrorUtils.test.ts
  tests/utils/StatisticUtils.test.ts
  tests/utils/Utils.test.ts
  ui/web/package.json
Due: prettier --cache --write

chore: add `@cspell/eslint-plugin` to eslint configuration
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/build-requirements.js
  scripts/runtime.js
  src/types/ocpp/ErrorType.ts
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: fix CI failure
  scripts/runtime.js
  tests/utils/Utils.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  src/charging-station/ocpp/OCPPServiceUtils.ts
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

fix: ensure undefined is handled at computing power limitation
  src/charging-station/ChargingStation.ts
  ui/web/src/composables/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure local storage is cleaned at CS deletion
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore: release main (#1202)
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

refactor: deprecate incorrect error type entry
  src/types/ocpp/ErrorType.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup some OCPP type definitions
  src/types/ocpp/Responses.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup event handling callbacks
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
Due: none

chore: ensure ruff run only on staged files at commit
  tests/ocpp-server/.lintstagedrc.js
Due: prettier --cache --write, eslint --cache --fix

chore: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

docs: add link for support request GH discussions category
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --cache --write

ci: switch to sonarqube-scan-action GH action
  .github/workflows/ci.yml
Due: prettier --cache --write

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
