Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

refactor: add error name in worker set worker startup error reporting
  src/charging-station/ChargingStationWorker.ts
Due: prettier --cache --write, eslint --cache --fix

build: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build: remove now uneeded ESM workaround for esbuil
  bundle.js
Due: prettier --cache --write, eslint --cache --fix

fix: ensure updated CS event is emitted on all possible changes
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: add getter/setter on some station info attributes
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: make stationInfo attributes writable again
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix configuration loading from file
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup persistent stationInfo tunable handling
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove unneeded max power getter
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure configuration keys are saved with the right data structure
  src/charging-station/ChargingStation.ts
Due: prettier --cache --write, eslint --cache --fix

feat: add message buffer flush interval
  build-requirements.js
  src/charging-station/ChargingStation.ts
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove unneeded registration status getter
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.2.26
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

refactor(ui): add firmware status to UI types
  ui/web/src/types/ChargingStationType.ts
Due: none

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --cache --write

fix: fix recursion loop getTemplateFromFile -> logPrefix -> getTemplateFromFile
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup undefined handling
  src/charging-station/Helpers.ts
Due: prettier --cache --write, eslint --cache --fix

docs: refine Web UI usage path
  ui/web/README.md
Due: prettier --cache --write

docs: ui/web/README.md: fix link
  ui/web/README.md
Due: prettier --cache --write

docs: ui/web/README.md: fix link, take 2
  ui/web/README.md
Due: prettier --cache --write

docs: ui/web/README.md: refine links
  ui/web/README.md
Due: prettier --cache --write

fix: fix cf push by conditionnaly importing husky
  prepare.js
Due: prettier --cache --write, eslint --cache --fix

fix: fix performance configuration change at runtime
  src/assets/config-template.json
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/UIServerFactory.ts
  src/performance/storage/StorageFactory.ts
  src/worker/WorkerFactory.ts
Due: prettier --cache --write, eslint --cache --fix

perf(simulator): remove worker configuration attribute from Bootstrap
  manifest-cf-template.yml
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

perf: allow to fine tune worker_threads ressource configuration
  .vscode/settings.json
  README.md
  src/charging-station/Bootstrap.ts
  src/types/ConfigurationData.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: factor out configuration handling helpers
  src/charging-station/Bootstrap.ts
  src/utils/Configuration.ts
  src/utils/ConfigurationUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: rename elementsPerWorkers 'single' -> 'all
  README.md
  src/charging-station/Bootstrap.ts
  src/types/ConfigurationData.ts
  src/utils/ConfigurationUtils.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ignore harmless performance error at shutdown
  src/performance/PerformanceStatistics.ts
Due: prettier --cache --write, eslint --cache --fix

fix: ensure event listeners are always removed at simulator stop
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

chore: version 1.2.27
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --cache --write

refactor: cleanup buffered messages handling code
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: add type for worker configuration attribute
  src/types/ConfigurationData.ts
  src/utils/ConfigurationUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup crypto import
  src/utils/Utils.ts
  src/worker/WorkerUtils.ts
Due: prettier --cache --write, eslint --cache --fix

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
