Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

fix(ui): remove WS event listeners at main page unmount
  ui/web/src/composables/UIClient.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor: cleanup vue.js global properties usage
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/global-properties.d.ts
  ui/web/src/main.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix(ui): fix global properties init
  ui/web/src/main.ts
Due: none

refactor(ui): cleanup UI client instance getter
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/composables/Utils.ts
  ui/web/src/composables/index.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

fix: properly handle template relative file path within a directory
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: use 'join' to build template relative path
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

fix: fix template name consistency
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/utils/Utils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: move charging station helper to its right place
  src/charging-station/Bootstrap.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/utils/Utils.ts
  src/utils/index.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): refine types augmentation
  ui/web/src/global-properties.d.ts
  ui/web/src/shims-vue.d.ts
Due: none

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

feat(ui): add 'Not found' catch all
  ui/web/src/App.vue
  ui/web/src/router/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/src/views/NotFoundView.vue
Due: none

build: fix linter error
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

docs: document UI protocol simulator state RPC command
  README.md
Due: prettier --cache --write

docs: refine README.md
  README.md
Due: prettier --cache --write

refactor(ui): use watchers to refresh display
  src/charging-station/Bootstrap.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/views/ChargingStationsView.vue
Due: prettier --cache --write, eslint --cache --fix

refactor: add sanity checks at adding charging station(s)
  src/charging-station/Bootstrap.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: refine type definitions
  src/types/AutomaticTransactionGenerator.ts
  src/types/ChargingStationOcppConfiguration.ts
  src/types/ChargingStationTemplate.ts
  src/types/MeasurandPerPhaseSampledValueTemplates.ts
  src/types/Statistics.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/2.0/Common.ts
  src/types/ocpp/2.0/Requests.ts
  src/types/ocpp/2.0/Responses.ts
  src/types/ocpp/2.0/Variables.ts
  src/types/ocpp/Configuration.ts
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/main.ts
  ui/web/src/shims-vue.d.ts
  ui/web/src/types/ChargingStationType.ts
  ui/web/src/types/ConfigurationType.ts
  ui/web/src/views/ChargingStationsView.vue
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): cleanup type definitions
  ui/web/src/types/JsonType.ts
Due: none

refactor: refine error message
  src/charging-station/Bootstrap.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(ui): cleanup eslint configuration
  pnpm-lock.yaml
  ui/web/.eslintrc.cjs
  ui/web/package.json
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/main.ts
  ui/web/src/router/index.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/start.js
  ui/web/tests/unit/CSTable.spec.ts
  ui/web/vite.config.ts
  ui/web/vitest.config.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: removed commented out eslint configuration
  .eslintrc.cjs
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup eslint configuration
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  ui/web/.eslintrc.cjs
Due: prettier --cache --write, eslint --cache --fix

fix(ui): always display the action container
  ui/web/src/App.vue
Due: none

refactor(ui): refine container border sizing
  ui/web/src/App.vue
  ui/web/src/components/charging-stations/CSTable.vue
Due: none

refactor(ui): always display the buttons bar
  ui/web/src/composables/Utils.ts
  ui/web/src/views/ChargingStationsView.vue
Due: none

build(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(ui): resize buttons bar
  ui/web/src/views/ChargingStationsView.vue
Due: none

build(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

docs: add ToC to README.md
  README.md
Due: prettier --cache --write

docs: add ToC to ui/web/README.md
  ui/web/README.md
Due: prettier --cache --write

docs: refine README.md and ui/web/README.md
  README.md
  ui/web/README.md
Due: prettier --cache --write
