Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Refine lint-staged related configurations
  package.json
  src/ui/web/.lintstagedrc.js
  src/ui/web/package.json
Due: prettier --write, eslint --cache --fix

Refine eslint configuration
  .eslintrc.json
Due: prettier --write

Refine .cfignore
  .cfignore
Due: none

Apply dependencies update
  package-lock.json
  package.json
  src/ui/web/package-lock.json
  src/ui/web/package.json
Due: prettier --write

Add sonarlint configuration in the vscode workspace file
  e-mobility-charging-stations-simulator.code-workspace
Due: none

Fix workspace sonarlint configuration
  e-mobility-charging-stations-simulator.code-workspace
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/charging-station/ocpp/OCPPRequestService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
Due: prettier --write, eslint --cache --fix

Apply dependencies update
  package-lock.json
  package.json
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
Due: prettier --write, eslint --cache --fix

Update to poolifier 2.3.1
  README.md
  package-lock.json
  package.json
  src/utils/Configuration.ts
Due: prettier --write, eslint --cache --fix

Strict boolean checks
  src/charging-station/WorkerBroadcastChannel.ts
  src/performance/PerformanceStatistics.ts
  src/ui/web/src/router/index.ts
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Default maximum random number generation to safe values
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Version 1.1.82
  CHANGELOG.md
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Run docker image build in CI
  .github/workflows/ci.yml
Due: prettier --write

Remove macosx from docker image build tests
  .github/workflows/ci.yml
Due: prettier --write

Revert docker build to one OS only
  .github/workflows/ci.yml
Due: prettier --write

Update poolifier to 2.3.3
  package-lock.json
  package.json
Due: prettier --write

Version 1.1.83
  CHANGELOG.md
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Refine lint staged configuration
  .lintstagedrc.json
Due: prettier --write

Use node crypto built-in uuid v4 generator
  package-lock.json
  package.json
  src/charging-station/WorkerBroadcastChannel.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  src/ui/web/package-lock.json
  src/ui/web/package.json
  src/ui/web/src/composables/UIClient.ts
  src/utils/Utils.ts
Due: prettier --write, eslint --cache --fix

Apply dependencies update
  package-lock.json
  package.json
  src/ui/web/package-lock.json
Due: prettier --write

Add missing .npmrc
  .npmrc
Due: none

Docker: add .npmrc to builder
  docker/Dockerfile
Due: none

Fix CI build failure in CI
  .github/workflows/ci.yml
Due: prettier --write

Refine condition on CI jobs
  .github/workflows/ci.yml
Due: prettier --write

Fix CI job condition
  .github/workflows/ci.yml
Due: prettier --write

Fix CI jobs on windows
  .github/workflows/ci.yml
Due: prettier --write

Fix conditions on CI job
  .github/workflows/ci.yml
Due: prettier --write

Fix CI conditions on jobs
  .github/workflows/ci.yml
Due: prettier --write

Fix conditions on CI jobs
  .github/workflows/ci.yml
Due: prettier --write

Refine CI GitHub actions
  .github/workflows/ci.yml
Due: prettier --write

Spell fixes to CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Apply dependencies update
  package-lock.json
  package.json
Due: prettier --write

Remove pointless script to run npm-check
  package.json
Due: prettier --write

Default to ROUND_ROBIN poolifier tasks scheduling until https://github.com/poolifier/poolifier/issues/596 is fixed
  src/utils/Configuration.ts
Due: prettier --write, eslint --cache --fix

README.md: update default poolifier tasks scheduling
  README.md
Due: prettier --write

Version 1.1.84
  CHANGELOG.md
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Downgrade rollup to 2.x to fix windows build
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: {src,test}/**/*.ts) or (any of: **/*.{json,md,yml})) or (any of: **/*.{js,mjs})
  eslint --cache --fix: (any of: {src,test}/**/*.ts) or (any of: **/*.{js,mjs})
