Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

chore(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(ci): comment out pnpm audit step
  .github/workflows/ci.yml
Due: prettier --cache --write

refactor: refine isNotEmptyString() and isNotEmptyArray() helpers type
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: revert overzealous enums ordering
  src/charging-station/Bootstrap.ts
  src/types/WebSocket.ts
  src/types/ocpp/MessageType.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: remove unneeded blank lines
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPResponseService.ts
  src/charging-station/ui-server/AbstractUIServer.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/utils/Configuration.ts
  src/worker/WorkerSet.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup blank lines
  tests/types/ConfigurationData.test.ts
  ui/web/src/composables/UIClient.ts
Due: none

test: improve AsyncLock test coverage
  tests/utils/AsyncLock.test.ts
Due: none

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/utils/Constants.ts
Due: prettier --cache --write, eslint --cache --fix

fix: make sea script works on Windows™
  package.json
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

build(ci): silence linter errors
  src/charging-station/ChargingStation.ts
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

test: fix simulator configuration test
  src/utils/Configuration.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/utils/Configuration.ts
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): apply updates
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

build(sea): cleanup build artefacts
  package.json
Due: prettier --cache --write

chore(deps): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

build(sonar): refine sonar-project.properties files
  sonar-project.properties
  ui/web/sonar-project.properties
Due: none

refactor: separate out dashboard docker image
  .github/workflows/ci.yml
  docker/Dockerfile
  docker/config.json
  ui/web/README.md
  ui/web/docker/Dockerfile
  ui/web/docker/Makefile
  ui/web/docker/autoconfig.sh
  ui/web/docker/config.json
  ui/web/docker/docker-compose.yml
  ui/web/docker/start.sh
  ui/web/src/composables/UIClient.ts
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

build(docker): fix dashboard auto config paths
  ui/web/docker/autoconfig.sh
Due: none

refactor: use ENTRYPOINT syntax in docker files
  docker/Dockerfile
  ui/web/docker/Dockerfile
Due: none

refactor(docker): rename start.sh to run.sh
  docker/Dockerfile
  docker/run.sh
  ui/web/docker/Dockerfile
  ui/web/docker/run.sh
Due: none

Reference SAP GenAI contribution guidelines
  CONTRIBUTING.md
Due: prettier --cache --write

docs(CONTRIBUTING.md): reference SAP GenAI contribution guidelines (#1164)
  CONTRIBUTING.md
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  src/charging-station/ui-server/ui-services/UIServiceFactory.ts
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

refactor: turn on `noImplicitOverride` in TS configuration
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ServiceUtils.ts
  src/charging-station/ui-server/UIHttpServer.ts
  src/charging-station/ui-server/UIWebSocketServer.ts
  tsconfig.json
  ui/web/tsconfig.json
Due: prettier --cache --write, eslint --cache --fix
