Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

build(simulator): add script to prepare a build for CF
  .gitignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  skip-preinstall.cjs
Due: prettier --write, eslint --cache --fix

fix(simulator): fix CF build deployement
  package.json
  pnpm-lock.yaml
  skip-preinstall.cjs
Due: prettier --write, eslint --cache --fix

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(simulator): document pnpm enablement
  README.md
Due: prettier --write

fix: add charging station status checkpoints to firmware update simulation async execution
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --write, eslint --cache --fix

build(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write

build(ui): switch to pnpm
  .github/workflows/ci.yml
  .gitignore
  docker/Dockerfile
  ui/web/.gitignore
  ui/web/README.md
  ui/web/package-lock.json
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write

test: setup to allow unit tests with stubbing
  build-requirements.mjs
  package.json
  pnpm-lock.yaml
  src/charging-station/Bootstrap.ts
  test/charging-station/ChargingStationTest.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

docs: add link to log rotation tunables details
  README.md
Due: prettier --write

docs: refine README.md tunables description
  README.md
Due: prettier --write

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --write

build(ci): remove unrecognized option
  .github/workflows/ci.yml
Due: prettier --write

feat(simulator): wait when necessary between phases at firmware update simulation
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --write, eslint --cache --fix

perf(simulator): use content addressable cache for idtag distribution
  src/charging-station/AuthorizedTagsCache.ts
  src/charging-station/AutomaticTransactionGenerator.ts
Due: prettier --write, eslint --cache --fix

perf(simulator): build once address for tags caches addressable indexes cache
  src/charging-station/AuthorizedTagsCache.ts
Due: prettier --write, eslint --cache --fix

build: fix peer dependencies pnpm handling
  package.json
  pnpm-lock.yaml
  ui/web/.npmrc
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write

refactor: pnpm configuration whitespace cleanup
  .npmrc
  ui/web/.npmrc
Due: none

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Due: prettier --write

refactor(simulator): cleanup id tags cache namespace
  src/charging-station/AuthorizedTagsCache.ts
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/internal.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/types/ChargingStationTemplate.ts
Due: prettier --write, eslint --cache --fix

refactor: rename a template key to a more sensible name
  .cfignore
  .gitignore
  README.md
  docker/Dockerfile
  docker/autoconfig.sh
  docker/idtags.json
  src/assets/idtags-template.json
  src/assets/station-templates/abb-atg.station-template.json
  src/assets/station-templates/abb.station-template.json
  src/assets/station-templates/chargex.station-template.json
  src/assets/station-templates/evlink.station-template.json
  src/assets/station-templates/keba.station-template.json
  src/assets/station-templates/schneider-imredd.station-template.json
  src/assets/station-templates/schneider.station-template.json
  src/assets/station-templates/siemens.station-template.json
  src/assets/station-templates/virtual-simple-atg.station-template.json
  src/assets/station-templates/virtual-simple.station-template.json
  src/assets/station-templates/virtual.station-template.json
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/IdTagsCache.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/OCPPIncomingRequestService.ts
  src/types/ChargingStationTemplate.ts
  src/utils/Configuration.ts
  ui/web/src/types/ChargingStationType.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): factor out template key deprecation handling
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): move template keys deprecation code into helpers file
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationUtils.ts
Due: prettier --write, eslint --cache --fix

refactor: add helper to build content addressable key for id tags cache indexes
  src/charging-station/IdTagsCache.ts
Due: prettier --write, eslint --cache --fix

fix: ensure charging station uid is stable between firmware update simulation
  src/charging-station/ChargingStationUtils.ts
Due: prettier --write, eslint --cache --fix

chore: version 1.2.0-0
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

refactor: rename an id tags cache method
  src/charging-station/IdTagsCache.ts
Due: prettier --write, eslint --cache --fix

feat: add supervision url configuration to Keba template
  src/assets/station-templates/keba.station-template.json
Due: prettier --write

build(simulator): add some scripts to clean build artefacts
  package.json
Due: prettier --write

build(ui): add some scripts to clean build artefacts
  ui/web/package.json
Due: prettier --write

refactor: remove unneeded intermediate variable in id tags cache code
  src/charging-station/IdTagsCache.ts
Due: prettier --write, eslint --cache --fix

feat: add initial support get composite schedule OCPP 1.6 command
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/types/index.ts
  src/types/ocpp/1.6/ChargingProfile.ts
  src/types/ocpp/1.6/Requests.ts
  src/types/ocpp/1.6/Responses.ts
Due: prettier --write, eslint --cache --fix

chore: version 1.2.0-1
  CHANGELOG.md
  package.json
  sonar-project.properties
Due: prettier --write

fix: ensure charging profiles are deeply cloned before doing any treatment
  src/charging-station/ChargingStationUtils.ts
Due: prettier --write, eslint --cache --fix

fix: avoid unscoped 'this' in static method
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --write, eslint --cache --fix

build(deps-dev): apply update
  package.json
  pnpm-lock.yaml
  ui/web/pnpm-lock.yaml
Due: prettier --write

chore: update copyright notice to 2023
  .reuse/dep5
  README.md
Due: prettier --write

build: switch to latest pnpm version with related formats
  .github/workflows/ci.yml
  README.md
  docker/Dockerfile
  pnpm-lock.yaml
  ui/web/README.md
  ui/web/pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
