Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

build(deps): apply updates
  package-lock.json
  package.json
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write

build: revert node stable CI version pinning
  .github/workflows/ci.yml
Due: prettier --write

fix(simulator): order firmware upgrade statuses properly
  README.md
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
Due: prettier --write, eslint --cache --fix

feat: set supervision url through the UI protocol
  src/assets/ui-protocol/Insomnia-CSSimulatorUIWSProtocolCollection.json
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationWorkerBroadcastChannel.ts
  src/charging-station/ui-server/ui-services/AbstractUIService.ts
  src/types/UIProtocol.ts
  src/types/WorkerBroadcastChannel.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): remove uneeded check
  package-lock.json
  package.json
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

build(simulator): switch rollup plugins to core ones
  package-lock.json
  package.json
  rollup.config.mjs
  tsconfig.json
Due: prettier --write, eslint --cache --fix

build(simulator): switch to TS 5.x.x
  package-lock.json
  package.json
  src/charging-station/ChargingStation.ts
  src/performance/storage/MikroOrmStorage.ts
  src/types/index.ts
  src/types/internal.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

refactor(simulator): cleanup types export
  src/types/internal.ts
Due: prettier --write, eslint --cache --fix

test: fix TS options
  tsconfig.json
Due: prettier --write

build(simulator): type check also declaration files
  tsconfig.json
Due: prettier --write

build(deps): apply updates
  package-lock.json
  package.json
Due: prettier --write

chore: version 1.1.95
  CHANGELOG.md
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

fix: make ESM bundle work
  .vscode/launch.json
  package.json
  rollup.config.mjs
  src/charging-station/SharedLRUCache.ts
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20IncomingRequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/utils/Logger.ts
Due: prettier --write, eslint --cache --fix

build(simulator): fix assets directory cleanup
  rollup.config.mjs
Due: prettier --write, eslint --cache --fix

fix: brown paper bag issue at referencing the same literal object instance
  docker/start.sh
  manifest-cf-template.yml
  package.json
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationConfigurationUtils.ts
  src/charging-station/ChargingStationUtils.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/1.6/OCPP16ServiceUtils.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/performance/PerformanceStatistics.ts
  src/utils/Constants.ts
  src/worker/WorkerAbstract.ts
  src/worker/WorkerConstants.ts
  src/worker/WorkerFactory.ts
Due: prettier --write, eslint --cache --fix

chore: version 1.1.96
  CHANGELOG.md
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

docs: add missing escape before pipe in markdown
  README.md
Due: prettier --write

feat: switch the bundled code to ESM only
  .eslintignore
  .eslintrc.json
  build-requirements.mjs
  docker/Dockerfile
  package-lock.json
  package.json
  rollup.config.mjs
  ui/web/package-lock.json
Due: prettier --write, eslint --cache --fix

build: refine ignore configuration files
  .cfignore
  .eslintignore
Due: none

test: fix ts-node configuration with ESM and mocha
  .eslintrc.json
  .husky/commit-msg
  .mocharc.json
  commitlint.config.cjs
  docker/Dockerfile
  package.json
  prepare.cjs
  src/scripts/deleteChargingStations.cjs
  src/scripts/setCSPublicFlag.cjs
  tsconfig.json
Due: prettier --write, eslint --cache --fix

refactor: .js -> .cjs
  test/robohydra/plugins/wsServer/index.cjs
Due: prettier --write, eslint --cache --fix

build(simulator): update ignored CF files
  .cfignore
Due: none

Revert "refactor: .js -> .cjs"
  test/robohydra/plugins/wsServer/index.js
Due: prettier --write, eslint --cache --fix

fix: fix setInterval deferencing
  src/charging-station/ChargingStation.ts
  src/performance/PerformanceStatistics.ts
Due: prettier --write, eslint --cache --fix

fix: fix conditions requiring an heartbeat restart at boot notification handling
  src/charging-station/ChargingStation.ts
  src/charging-station/ocpp/1.6/OCPP16ResponseService.ts
  src/charging-station/ocpp/2.0/OCPP20ResponseService.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
  src/performance/PerformanceStatistics.ts
Due: prettier --write, eslint --cache --fix

feat(simulator): wait for transactions end before simulating firmware upgrade
  package-lock.json
  package.json
  src/charging-station/ocpp/1.6/OCPP16IncomingRequestService.ts
  src/charging-station/ocpp/1.6/OCPP16RequestService.ts
  src/charging-station/ocpp/2.0/OCPP20RequestService.ts
  ui/web/package-lock.json
  ui/web/package.json
Due: prettier --write, eslint --cache --fix

fix: stop the ATG on connector if its status is unavailable
  src/charging-station/AutomaticTransactionGenerator.ts
Due: prettier --write, eslint --cache --fix

perf(simulator): optimize tags cache
  src/charging-station/AuthorizedTagsCache.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): refine LRU cache type name
  src/charging-station/SharedLRUCache.ts
Due: prettier --write, eslint --cache --fix

refactor(simulator): remove unneeded condition check in log message building
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

fix(simulator): increment the firmware version in boot notification after upgrade simulation
  src/charging-station/ChargingStation.ts
  src/charging-station/ChargingStationConfigurationUtils.ts
Due: prettier --write, eslint --cache --fix

fix: ensure the incremented firmware version is saved in configuration
  src/charging-station/ChargingStation.ts
Due: prettier --write, eslint --cache --fix

build(simulator): switch to pnpm
  .gitattributes
  .github/workflows/ci.yml
  .prettierignore
  .vscode/launch.json
  README.md
  docker/Dockerfile
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(simulator): fix CI after switch to pnpm
  .github/workflows/ci.yml
Due: prettier --write

build: fix eol type detection
  .gitattributes
Due: none

build(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: fix CF deployment
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
