Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

.lintstagedrc.json:

{
  "$schema": "http://json.schemastore.org/lintstagedrc.schema",
  "{src,test}/**/*.{ts,tsx}": ["prettier --cache --write", "eslint --cache --fix"],
  "**/*.{json,md,yml,yaml}": ["prettier --cache --write"],
  "**/*.{js,jsx,mjs,cjs}": ["prettier --cache --write", "eslint --cache --fix"]
}

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

test: add getPhaseRotationValue() test
  tests/charging-station/Helpers.test.ts
Due: none

test: add checkStationInfoConnectorStatus() test
  pnpm-lock.yaml
  tests/charging-station/Helpers.test.ts
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  eslint.config.js
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write, eslint --cache --fix

chore(deps): apply updates
  package.json
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
Due: prettier --cache --write

chore: fix eslint configuration for vue.js
  eslint.config.js
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/src/components/Container.vue
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/components/buttons/Button.vue
  ui/web/src/components/buttons/ToggleButton.vue
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/components/charging-stations/CSData.vue
  ui/web/src/components/charging-stations/CSTable.vue
  ui/web/src/composables/UIClient.ts
  ui/web/src/views/ChargingStationsView.vue
  ui/web/src/views/NotFoundView.vue
  ui/web/tsconfig.json
Due: prettier --cache --write, eslint --cache --fix

chore: cleanup eslint configuration
  eslint.config.js
Due: prettier --cache --write, eslint --cache --fix

fix: silence TS strict null check errors
  ui/web/src/components/actions/AddChargingStations.vue
  ui/web/src/components/actions/SetSupervisionUrl.vue
  ui/web/src/components/actions/StartTransaction.vue
  ui/web/src/views/ChargingStationsView.vue
Due: none

refactor(deps-dev): remove unused deps
  pnpm-lock.yaml
  ui/web/package.json
  ui/web/tsconfig.json
Due: prettier --cache --write

chore: remove linter disablement
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --cache --fix

test: add AsyncLock test
  src/utils/AsyncLock.ts
Due: prettier --cache --write, eslint --cache --fix

test: add missing tests/utils/AsyncLock.test.ts file
  src/utils/AsyncLock.ts
  tests/utils/AsyncLock.test.ts
Due: prettier --cache --write, eslint --cache --fix

test: cleanup AsyncLock test
  src/utils/AsyncLock.ts
  tests/utils/AsyncLock.test.ts
Due: prettier --cache --write, eslint --cache --fix

chore: trivial AsyncLock cleanup
  src/utils/AsyncLock.ts
Due: prettier --cache --write, eslint --cache --fix

chore(deps-dev): remove duplicated eslint related deps
  pnpm-lock.yaml
  ui/web/package.json
Due: prettier --cache --write

test: refine AsyncLock runExclusive() expectation
  tests/utils/AsyncLock.test.ts
Due: none

chore(ci): group dependabot updates by semver revision
  .github/dependabot.yml
Due: prettier --cache --write

chore(ci): group dependabot updates by semver revision for poetry
  .github/dependabot.yml
Due: prettier --cache --write

chore: bump volta node version
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore: bump volta pnpm version
  package.json
  ui/web/package.json
Due: prettier --cache --write

chore(deps-dev): apply updates
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: release main
  .github/release-please/manifest.json
  CHANGELOG.md
  package.json
  sonar-project.properties
  tests/ocpp-server/CHANGELOG.md
  tests/ocpp-server/pyproject.toml
  ui/web/CHANGELOG.md
  ui/web/package.json
  ui/web/sonar-project.properties
Due: prettier --cache --write

chore(deps-dev): apply updates
  pnpm-lock.yaml
  src/charging-station/ocpp/OCPPRequestService.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: cleanup comments formatting
  src/charging-station/AutomaticTransactionGenerator.ts
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/ocpp/OCPPConstants.ts
  src/charging-station/ocpp/OCPPServiceUtils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor: display transaction id in UI
  ui/web/src/components/charging-stations/CSConnector.vue
  ui/web/src/main.ts
Due: none

refactor: order ErrorType enum properly
  src/types/ocpp/ErrorType.ts
Due: prettier --cache --write, eslint --cache --fix
