Repository SAP/e-mobility-charging-stations-simulator: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, prettier --cache --write, eslint --cache --fix

ghrs: report 05-13-2328-0F81 for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

build(sandcastle): align task timeout with 10 critic rounds budget
  .github/workflows/sandcastle.yml
  .sandcastle/constants.ts
Due: prettier --cache --write

build(sandcastle): increase idle and validation timeouts for robustness
  .sandcastle/constants.ts
Due: none

ghrs: snap 05-14-2322-C3DF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-14_232259_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-14_232259_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-14_232259_views_clones_series_fragment.csv
Due: none

ghrs: stars and forks 05-14-2322-C3DF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/forks.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/stargazers.csv
Due: none

ghrs: vc agg 05-14-2322-C3DF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-14_232259_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-14-2322-C3DF for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat: persist minimal simulator state and reconstruct template indexes on startup
  src/charging-station/Bootstrap.ts
  src/charging-station/BootstrapStateUtils.ts
  src/charging-station/IBootstrap.ts
  src/start.ts
  src/types/ConfigurationData.ts
  src/types/FileType.ts
  src/utils/AsyncLock.ts
  tests/charging-station/BootstrapState.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

ci: set explicit GITHUB_TOKEN read-only permissions
  .github/workflows/ci.yml
Due: prettier --cache --write

build(vscode): align workspace folders with monorepo structure
  e-mobility-charging-stations-simulator.code-workspace
Due: none

ghrs: snap 05-15-2322-A3CE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-15_232252_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-15_232252_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-15_232252_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-15-2322-A3CE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-15_232252_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-15-2322-A3CE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat: add charging station template Zod validation with schema versioning
  src/assets/station-templates/abb-atg.station-template.json
  src/assets/station-templates/abb.station-template.json
  src/assets/station-templates/chargex.station-template.json
  src/assets/station-templates/evlink.station-template.json
  src/assets/station-templates/keba-ocpp2-signed.station-template.json
  src/assets/station-templates/keba-ocpp2.station-template.json
  src/assets/station-templates/keba.station-template.json
  src/assets/station-templates/schneider-evses.station-template.json
  src/assets/station-templates/schneider-imredd.station-template.json
  src/assets/station-templates/schneider.station-template.json
  src/assets/station-templates/siemens.station-template.json
  src/assets/station-templates/virtual-simple-atg.station-template.json
  src/assets/station-templates/virtual-simple-signed.station-template.json
  src/assets/station-templates/virtual-simple.station-template.json
  src/assets/station-templates/virtual.station-template.json
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/TemplateMigrations.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/TemplateValidation.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/TemplateMigrations.test.ts
  tests/charging-station/TemplateSchema.test.ts
  tests/charging-station/TemplateValidation.test.ts
Due: prettier --cache --write, eslint --cache --fix

ghrs: snap 05-16-2321-BB5A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-16_232123_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-16_232123_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-16_232123_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 05-16-2321-BB5A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-16_232123_views_clones_series_fragment.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 05-16-2321-BB5A for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/latest-report/report.html
  SAP/e-mobility-charging-stations-simulator/latest-report/report.md
  SAP/e-mobility-charging-stations-simulator/latest-report/report.pdf
  SAP/e-mobility-charging-stations-simulator/latest-report/report_for_pdf.html
Due: prettier --cache --write

feat(sandcastle): make strategy dispatch registry-driven
  .github/workflows/sandcastle.yml
  .sandcastle/constants.ts
  .sandcastle/main.ts
  .sandcastle/plan-prompt.md
  .sandcastle/strategies/index.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
Due: prettier --cache --write

fix(sandcastle): validate strategy key and controlTags at registry load
  .sandcastle/strategies/index.ts
Due: none

fix(sandcastle): tighten control-tag sanitizer against prefix matches
  .sandcastle/task-source.ts
Due: none

refactor(sandcastle): parallelise issue fetch and clarify multi-label warning
  .sandcastle/task-source.ts
Due: none

fix(sandcastle): reject prefix-overlapping strategy keys at registry load
  .sandcastle/strategies/index.ts
Due: none

refactor(sandcastle): unify prompt taxonomy and decouple planner from orchestrator
  .sandcastle/plan-prompt.md
  .sandcastle/strategies/implement/actor-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/task-source.ts
Due: prettier --cache --write

fix(sandcastle): de-duplicate multi-line prompt placeholders
  .sandcastle/plan-prompt.md
  .sandcastle/strategies/implement/actor-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
Due: prettier --cache --write

refactor(sandcastle): centralize MAX_SLUG_CHARS in constants module
  .sandcastle/constants.ts
  .sandcastle/task-source.ts
Due: none

fix(sandcastle): align PR-coverage branch regex with slug grammar
  .sandcastle/task-source.ts
Due: none

fix(sandcastle): sanitize planner-supplied issue title at trust boundary
  .sandcastle/task-source.ts
Due: none

fix(sandcastle): retry on all-invalid plan and dedupe planner ids
  .sandcastle/task-source.ts
Due: none

refactor(bootstrap): harmonize persisted state feature with codebase conventions
  README.md
  src/charging-station/Bootstrap.ts
  src/charging-station/BootstrapStateUtils.ts
  src/charging-station/IBootstrap.ts
  src/start.ts
  src/utils/Configuration.ts
  src/utils/Utils.ts
  src/utils/index.ts
  tests/charging-station/BootstrapState.test.ts
  tests/charging-station/ui-server/UIServerTestUtils.ts
Due: prettier --cache --write, eslint --cache --fix

test(bootstrap): align BootstrapStateUtils tests with project style guide
  tests/charging-station/BootstrapStateUtils.test.ts
Due: none

fix(bootstrap): address review findings on persisted simulator state
  README.md
  src/assets/config-template.json
  src/charging-station/Bootstrap.ts
  src/charging-station/BootstrapStateUtils.ts
  src/utils/Configuration.ts
  src/utils/Constants.ts
  tests/charging-station/BootstrapStateUtils.test.ts
Due: prettier --cache --write, eslint --cache --fix

docs(bootstrap): clarify persisted state semantics from review feedback
  README.md
  src/charging-station/BootstrapStateUtils.ts
  src/charging-station/IBootstrap.ts
  src/types/Statistics.ts
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

refactor(utils): default formatLogPrefix prefix to logPrefix
  src/utils/Utils.ts
Due: prettier --cache --write, eslint --cache --fix

fix(template): address PR #1860 review findings
  src/charging-station/Helpers.ts
  src/charging-station/TemplateMigrations.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/TemplateValidation.ts
  src/utils/Utils.ts
  tests/charging-station/Helpers.test.ts
  tests/charging-station/TemplateMigrations.test.ts
  tests/charging-station/TemplateSchema.test.ts
  tests/charging-station/TemplateValidation.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(template): address second-pass PR #1860 review findings
  src/charging-station/TemplateMigrations.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/TemplateValidation.ts
  tests/charging-station/TemplateMigrations.test.ts
  tests/charging-station/TemplateValidation.test.ts
Due: prettier --cache --write, eslint --cache --fix

fix(template): broaden wsOptions.headers and harden template pipeline
  src/charging-station/ChargingStation.ts
  src/charging-station/Helpers.ts
  src/charging-station/TemplateMigrations.ts
  src/charging-station/TemplateSchema.ts
  src/charging-station/TemplateValidation.ts
  tests/charging-station/TemplateMigrations.test.ts
  tests/charging-station/TemplateSchema.test.ts
  tests/charging-station/TemplateValidation.test.ts
  tests/charging-station/helpers/TemplateFixtures.ts
Due: prettier --cache --write, eslint --cache --fix

test: extract mockLoggerWarnDebug helper to dedupe migration logger spies
  tests/charging-station/TemplateMigrations.test.ts
  tests/charging-station/TemplateValidation.test.ts
  tests/helpers/TestLifecycleHelpers.ts
Due: none

chore(deps): deduplicate pnpm-lock entries for @rolldown/pluginutils and ws
  pnpm-lock.yaml
Due: prettier --cache --write

feat(sandcastle): make strategy dispatch registry-driven (#1862)
  .github/workflows/sandcastle.yml
  .sandcastle/constants.ts
  .sandcastle/main.ts
  .sandcastle/plan-prompt.md
  .sandcastle/strategies/implement/actor-prompt.md
  .sandcastle/strategies/implement/critic-prompt.md
  .sandcastle/strategies/implement/strategy.ts
  .sandcastle/strategies/index.ts
  .sandcastle/task-source.ts
  .sandcastle/types.ts
Due: prettier --cache --write

ghrs: snap 05-17-2322-EEAE for SAP/e-mobility-charging-stations-simulator
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-17_232251_top_paths_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-17_232251_top_referrers_snapshot.csv
  SAP/e-mobility-charging-stations-simulator/ghrs-data/snapshots/2026-05-17_232251_views_clones_series_fragment.csv
Due: none

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  prettier --cache --write: ((any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{json,md,yml,yaml})) or (any of: **/*.{js,jsx,mjs,cjs})
  eslint --cache --fix: (any of: {src,test}/**/*.{ts,tsx}) or (any of: **/*.{js,jsx,mjs,cjs})
